<div class="row">
	<div id="filter-report" class="col-lg-3 col-md-12 order-lg-last d-none d-lg-block mb-3">
		<div class="card">
			<div class="card-header"><i class="fas fa-filter"></i> {{ text_filter }}</div>
			<div class="card-body">

				<div class="mb-3">
					<label for="input-customer" class="form-label">{{ entry_customer }}</label>
					<input type="text" name="filter_customer" value="{{ filter_customer }}" placeholder="{{ entry_customer }}" id="input-customer" class="form-control"/>
				</div>

				<div class="mb-3">
					<label for="input-date-start" class="form-label">{{ entry_date_start }}</label>
					<div class="input-group date">
						<input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" id="input-date-start" class="form-control"/>
						<div class="input-group-text"><i class="fas fa-calendar"></i></div>
					</div>
				</div>

				<div class="mb-3">
					<label for="input-date-end" class="form-label">{{ entry_date_end }}</label>
					<div class="input-group date">
						<input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" id="input-date-end" class="form-control"/>
						<div class="input-group-text"><i class="fas fa-calendar"></i></div>
					</div>
				</div>

				<div class="mb-3">
					<label for="input-ip" class="form-label">{{ entry_ip }}</label>
					<input type="text" name="filter_ip" value="{{ filter_ip }}" placeholder="{{ entry_ip }}" id="input-ip" class="form-control"/>
				</div>

				<div class="text-end">
					<button type="button" id="button-filter" class="btn btn-light"><i class="fas fa-filter"></i> {{ button_filter }}</button>
				</div>

			</div>
		</div>
	</div>
	<div class="col col-lg-9 col-md-12">
		<div class="card">
			<div class="card-header"><i class="fas fa-chart-bar"></i> {{ heading_title }}</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td class="text-start">{{ column_comment }}</td>
								<td class="text-start">{{ column_ip }}</td>
								<td class="text-start">{{ column_date_added }}</td>
							</tr>
						</thead>
						<tbody>
							{% if activities %}
								{% for activity in activities %}
									<tr>
										<td class="text-start">{{ activity.comment }}</td>
										<td class="text-start">{{ activity.ip }}</td>
										<td class="text-start">{{ activity.date_added }}</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td class="text-center" colspan="3">{{ text_no_results }}</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-sm-6 text-start">{{ pagination }}</div>
					<div class="col-sm-6 text-end">{{ results }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
    var url = '';

    var filter_customer = $('input[name=\'filter_customer\']').val();

    if (filter_customer) {
        url += '&filter_customer=' + encodeURIComponent(filter_customer);
    }

    var filter_ip = $('input[name=\'filter_ip\']').val();

    if (filter_ip) {
        url += '&filter_ip=' + encodeURIComponent(filter_ip);
    }

    var filter_date_start = $('input[name=\'filter_date_start\']').val();

    if (filter_date_start) {
        url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
    }

    var filter_date_end = $('input[name=\'filter_date_end\']').val();

    if (filter_date_end) {
        url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
    }

    location = 'index.php?route=report/report&code=customer_activity&user_token={{ user_token }}' + url;
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'filter_customer\']').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=customer/customer|autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['customer_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('input[name=\'filter_customer\']').val(item['label']);
    }
});
//--></script>