<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-start">{{ column_name }}</td>
        <td class="text-start">{{ column_code }}</td>
        <td class="text-end">{{ column_orders }}</td>
        <td class="text-end">{{ column_total }}</td>
        <td class="text-end">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if subscription_discounts %}
        {% for subscription_discount in subscription_discounts %}
          <tr>
            <td class="text-start">{{ subscription_discount.name }}</td>
            <td class="text-start">{{ subscription_discount.code }}</td>
            <td class="text-end">{{ subscription_discount.orders }}</td>
            <td class="text-end">{{ subscription_discount.total }}</td>
            <td class="text-end">{% if subscription.total_installed %}<a href="{{ subscription_discount.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>{% endif %}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="5">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>