<div id="banner{{ module }}" class="carousel fade" data-bs-ride="carousel">


  <div class="carousel-inner">


    {% for banner in banners %}
      <div class="carousel-item active">
        {% if banner.link %}
          <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid"/></a>
        {% else %}
          <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid"/>
        {% endif %}
      </div>
    {% endfor %}



  </div>
</div>
<script type="text/javascript"><!--
$('#banner{{ module }}').carousel({
	interval: 2500,
	wrap: false
});
--></script> 