<div id="banner{{ module }}" class="carousel slide carousel-fade mb-5">
  <div class="carousel-inner shadow-sm rounded-lg">
    {% for banner in banners %}
      <div class="carousel-item d-flex{% if loop.first %} active{% endif %}">
        {% if banner.link %}
          <a href="{{ banner.link }}" class="mx-auto">
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
          </a>
        {% else %}
          <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid mx-auto" />
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
<script type="text/javascript"><!--
$('#banner{{ module }}').carousel({
	interval: 2500,
	pause: false,
	touch: true
});
//--></script>