<div id="carousel-carousel{{ module }}" class="carousel slide" data-bs-ride="carousel">

  <ol class="carousel-indicators">
    {% set banner_row = 0 %}
    {% for banner in banners %}
      <li data-target="#carousel-carousel{{ module }}" data-slide-to="{{ banner_row }}"></li>
      {% set banner_row = banner_row + 1 %}
    {% endfor %}
  </ol>
  <div class="carousel-inner row">

    {% for banner in banners %}
      <div class="carousel-item col text-center">

        {% if banner.link %}
          <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="d-block"/></a>
        {% else %}
          <img src="{{ banner.image }}" alt="{{ banner.title }}" class="d-block"/>
        {% endif %}

      </div>
    {% endfor %}
  </div>
    <a href="#carousel-carousel{{ module }}" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a> <a href="#carousel-carousel{{ module }}" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>


</div>
<script type="text/javascript"><!--
$('#carousel-carousel{{ module }} .carousel-indicators li:first').addClass('active');
$('#carousel-carousel{{ module }} .carousel-inner .carousel-item:first').addClass('active');

$('#carousel-carousel{{ module }}').carousel({
	interval: 2000,
	wrap: false
});
/*
$('.carousel .carousel-item').each(function(){
	var next = $(this).next();

	if (!next.length) {
		next = $(this).siblings(':first');
	}

	next.children(':first-child').clone().appendTo($(this));

	if (next.next().length>0) {
		next.next().children(':first-child').clone().appendTo($(this));
	}
	else {
		$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
	}
});



$('#carousel{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 5,
	slidesPerGroup: 5,
	pagination: '.carousel{{ module }}',
	paginationClickable: true,
	nextButton: '.carousel .swiper-button-next',
	prevButton: '.carousel .swiper-button-prev',
	autoplay: $('#carousel{{ module }} img').length > 5 ? 2500 : 0,
	loop: true
});
*/
//--></script>