<div id="carousel-carousel{{ module }}" class="carousel slide mb-4" data-bs-ride="carousel">
	<ol class="carousel-indicators d-none d-md-flex">
		{% set banner_row = 0 %}
		{% for banner in banners|batch((banners|length / 3)|round(1, 'ceil')) %}
			<li data-target="#carousel-carousel{{ module }}" data-slide-to="{{ banner_row }}"></li>
			{% set banner_row = banner_row + 1 %}
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		{% for carousel in banners|batch((banners|length / 3)|round(1, 'ceil')) %}
			<div class="carousel-item">
				<div class="row row-cols-{{ carousel|length }}">
					{% for banner in carousel %}
						<div class="col text-center">
							{% if banner.link %}
								<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}"/></a>
							{% else %}
								<img src="{{ banner.image }}" alt="{{ banner.title }}"/>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
	<a href="#carousel-carousel{{ module }}" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a> <a href="#carousel-carousel{{ module }}" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
</div>
<script type="text/javascript"><!--
$('#carousel-carousel{{ module }} .carousel-indicators li:first').addClass('active');
$('#carousel-carousel{{ module }} .carousel-inner .carousel-item:first').addClass('active');

$('#carousel-carousel{{ module }}').carousel({
	ride: 'carousel',
	interval: 5000,
	wrap: true
});

$('#carousel-carousel{{ module }}').on('slide.bs.carousel', function(event) {


	console.log(event);

		//if () {


		//}

});
//--></script>