{# <div class="slideshow swiper-viewport">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
      {% for banner in banners %}
        <div class="swiper-slide text-center">
          {% if banner.link %}
            <a href="{{ banner.link }}">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid"/>
            </a>
          {% else %}
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.slideshow .swiper-button-next',
	prevButton: '.slideshow .swiper-button-prev',
	spaceBetween: 30,
	autoplay: $('#slideshow{{ module }} img').length > 1 ? 2500 : 0,
	autoplayDisableOnInteraction: true,
	loop: true
});
//--></script> #}
<div class="slider-viewport">
  <div id="slideshow{{ module }}" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for banner in banners %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          {% if banner.link %}
            <a href="{{ banner.link }}">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="d-block w-100"/>
            </a>
          {% else %}
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="d-block w-100" />
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#slideshow{{ module }}" role="button" data-slide="prev">
      <i class="fas fa-chevron-left fa-3x text-secondary"></i>
    </a>
    <a class="carousel-control-next" href="#slideshow{{ module }}" role="button" data-slide="next">
      <i class="fas fa-chevron-right fa-3x text-secondary"></i>
    </a>
  </div>
  <ol class="carousel-indicators">
    {% for banner in banners %}
      <li data-target="#slideshow{{ module }}" data-slide-to=" {{loop.index }}" class="{% if loop.first %}active{% endif %}"></li>
    {% endfor %}
    </ol>
</div>