<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>{{ column_credit_card }}</th>
        <th></th>
        <th>{{ column_date_expire }}</th>
        <th class="text-end">{{ column_action }}</th>
      </tr>
    </thead>
    <tbody>
      {% if credit_cards %}
        {% for credit_card in credit_cards %}
          <tr>
            <td>{{ credit_card.card_type }} {{ credit_card.card_number }}</td>
            <td class="text-center"><img src="{{ credit_card.image }}" title="{{ credit_card.card_type }}" alt="{{ credit_card.card_type }}"/></td>
            <td>{{ credit_card.date_expire }}</td>
            <td class="text-end"><a href="{{ credit_card.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4" class="text-center">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td class="text-end"><button type="button" data-bs-toggle="modal" data-bs-target="#modal-credit-card" class="btn btn-primary">{{ button_add }}</button></td>
      </tr>
    </tfoot>
  </table>
</div>