<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="container">
  {% for order in orders %}
  
  <div class="row">
  	<div class="col-md-12">
  		<div class="page-header">
  			<div class="row">
				<div class="col-md-8">
					<h2>{{ order.store_name }} <br />
		  			<small>Someone famous in <cite title="Source Title">Source Title</cite></small></h2>
				</div>
  				<div class="col-md-4 text-right">
  					<small><i class="fa fa-phone"></i> {{ order.store_telephone }}<br />
            		{% if order.store_fax %}
            		<i class="fa fa-fax" aria-hidden="true"></i> {{ order.store_fax }}<br />
            		{% endif %}
            		<i class="fa fa-envelope" aria-hidden="true"></i> {{ order.store_email }}<br />
            		<i class="fa fa-globe" aria-hidden="true"></i> <a href="{{ order.store_url }}">{{ order.store_url }}</a></small>
				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-12">
		<h1 class="text-uppercase"><strong>{{ text_invoice }}</strong> <small>{{ order.invoice_no }}</small></h1>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6">
        <small>
  		<strong>{{ text_date_added }}:</strong> {{ order.date_added }}<br />
            {% if order.invoice_no %}
            <strong>{{ text_invoice_no }}:</strong> {{ order.invoice_no }}<br />
            {% endif %}
            <strong>{{ text_order_id }}</strong> {{ order.order_id }}<br />
            <strong>{{ text_payment_method }}:</strong> {{ order.payment_method }}<br />
            {% if order.shipping_method %}
            <strong>{{ text_shipping_method }}:</strong> {{ order.shipping_method }}<br />
            {% endif %}</small>
  	</div>
  	<div class="col-md-6 text-right">
  		<address>
            {{ order.store_address }}
        </address>  	
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-12">
  		<table class="table table-bordered">
  			<thead>
  				<tr class="active">
  					<td>
  						<strong>{{ text_payment_address }}</strong>
  					</td>
  					<td>
  						<strong>{{ text_shipping_address }}</strong>
  					</td>
  				</tr>
  			</thead>
  			<tbody>
	  			<tr>
	  				<td>
  						<address>
           				{{ order.payment_address }}
            			</address>
  					</td>
  					<td>
	  					<address>
        	    		{{ order.shipping_address }}
            			</address>
  					</td>
  				</tr>
  			</tbody>
  		</table>
  	</div>
  </div>

    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <td><b>{{ column_product }}</b></td>
          <td><b>{{ column_model }}</b></td>
          <td class="text-right"><b>{{ column_quantity }}</b></td>
          <td class="text-right"><b>{{ column_price }}</b></td>
          <td class="text-right"><b>{{ column_total }}</b></td>
        </tr>
      </thead>
      <tbody>
        {% for product in order.product %}
        <tr>
          <td>{{ product.name }}
            {% for option in product.option %}
            <br />
            &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
            {% endfor %}</td>
          <td>{{ product.model }}</td>
          <td class="text-right">{{ product.quantity }}</td>
          <td class="text-right">{{ product.price }}</td>
          <td class="text-right">{{ product.total }}</td>
        </tr>
        {% endfor %}
        {% for voucher in order.voucher %}
        <tr>
          <td>{{ voucher.description }}</td>
          <td></td>
          <td class="text-right">1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-right">{{ voucher.amount }}</td>
        </tr>
        {% endfor %}
        {% for total in order.total %}
        <tr>
          <td class="text-right" colspan="4"><b>{{ total.title }}</b></td>
          <td class="text-right">{{ total.text }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if order.comment %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>{{ text_comment }}</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ order.comment }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    
  	<div class="page-header">&nbsp;
  	</div>
  	<div class="row">
		<div class="col-md-12">
		
		</div>
  	</div>

  {% endfor %}
</div>
</body>
</html>