<form id="order-list" data-oc-load="{{ action }}" data-oc-target="#order">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
					<td class="text-end">{% if sort == 'o.order_id' %} <a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_order_id }}</a> {% else %} <a href="{{ sort_order }}">{{ column_order_id }}</a> {% endif %}</td>
					<td class="text-start">{% if sort == 'o.store_name' %} <a href="{{ sort_store_name }}" class="{{ order|lower }}">{{ column_store }}</a> {% else %} <a href="{{ sort_store_name }}">{{ column_store }}</a> {% endif %}</td>
					<td class="text-start">{% if sort == 'customer' %} <a href="{{ sort_customer }}" class="{{ order|lower }}">{{ column_customer }}</a> {% else %} <a href="{{ sort_customer }}">{{ column_customer }}</a> {% endif %}</td>
					<td class="text-start">{% if sort == 'order_status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
					<td class="text-end d-none d-lg-table-cell">{% if sort == 'o.total' %} <a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a> {% else %} <a href="{{ sort_total }}">{{ column_total }}</a> {% endif %}</td>
					<td class="text-start d-none d-lg-table-cell">{% if sort == 'o.date_added' %} <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a> {% else %} <a href="{{ sort_date_added }}">{{ column_date_added }}</a> {% endif %}</td>
					<td class="text-start d-none d-lg-table-cell">{% if sort == 'o.date_modified' %} <a href="{{ sort_date_modified }}" class="{{ order|lower }}">{{ column_date_modified }}</a> {% else %} <a href="{{ sort_date_modified }}">{{ column_date_modified }}</a> {% endif %}</td>
					<td class="text-end">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if orders %}
					{% for order in orders %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ order.order_id }}" class="form-check-input"/><input type="hidden" name="shipping_code[]" value="{{ order.shipping_code }}"/></td>
							<td class="text-end">{{ order.order_id }}</td>
							<td class="text-start">{{ order.store_name }}</td>
							<td class="text-start">{{ order.customer }}</td>
							<td class="text-start">{{ order.order_status }}</td>
							<td class="text-end d-none d-lg-table-cell">{{ order.total }}</td>
							<td class="text-start d-none d-lg-table-cell">{{ order.date_added }}</td>
							<td class="text-start d-none d-lg-table-cell">{{ order.date_modified }}</td>
							<td class="text-end">
								<div class="btn-group">
									<a href="{{ order.view }}" data-bs-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
									<button type="button" data-bs-toggle="dropdown" class="btn btn-primary dropdown-toggle dropdown-toggle-split"><i class="fas fa-caret-down"></i></button>
									<div class="dropdown-menu dropdown-menu-right">
										<a href="{{ order.edit }}" class="dropdown-item"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</a> <a href="{{ order.order_id }}" class="dropdown-item delete"><i class="fas fa-trash-alt"></i> {{ button_delete }}</a>
									</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="9">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">{{ pagination }}</div>
		<div class="col-sm-6 text-end">{{ results }}</div>
	</div>
</form>