<form id="form-order" method="post" enctype="application/x-www-form-urlencoded" data-load="{{ action }}">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').trigger('click');" class="form-check-input"/></td>
          <td class="text-end"><a href="{{ sort_order }}"{% if sort == 'o.order_id' %} class="{{ order|lower }}"{% endif %}>{{ column_order_id }}</a></td>
          <td class="text-start"><a href="{{ sort_store_name }}"{% if sort == 'o.store_name' %} class="{{ order|lower }}"{% endif %}>{{ column_store }}</a></td>
          <td class="text-start"><a href="{{ sort_customer }}"{% if sort == 'customer' %} class="{{ order|lower }}"{% endif %}>{{ column_customer }}</a></td>
          <td class="text-start"><a href="{{ sort_status }}"{% if sort == 'order_status' %} class="{{ order|lower }}"{% endif %}>{{ column_status }}</a></td>
          <td class="text-end d-none d-lg-table-cell"><a href="{{ sort_total }}"{% if sort == 'o.total' %} class="{{ order|lower }}"{% endif %}>{{ column_total }}</a></td>
          <td class="text-start d-none d-lg-table-cell"><a href="{{ sort_date_added }}"{% if sort == 'o.date_added' %} class="{{ order|lower }}"{% endif %}>{{ column_date_added }}</a></td>
          <td class="text-start d-none d-xl-table-cell"><a href="{{ sort_date_modified }}"{% if sort == 'o.date_modified' %} class="{{ order|lower }}"{% endif %}>{{ column_date_modified }}</a></td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if orders %}
          {% for order in orders %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ order.order_id }}" class="form-check-input"/>
                <input type="hidden" name="shipping_method[]" value="{% if order.shipping_method %}1{{ else }}0{% endif %}"/></td>
              <td class="text-end">{{ order.order_id }}</td>
              <td class="text-start">{{ order.store_name }}</td>
              <td class="text-start">{{ order.customer }}</td>
              <td class="text-start"><label>{{ order.order_status }}</label></td>
              <td class="text-end d-none d-lg-table-cell">{{ order.total }}</td>
              <td class="text-start d-none d-lg-table-cell">{{ order.date_added }}</td>
              <td class="text-start d-none d-xl-table-cell">{{ order.date_modified }}</td>
              <td class="text-end"><a href="{{ order.view }}" data-bs-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="9">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>