<table class="table table-bordered">
  <thead>
    <tr>
      <td class="text-start">{{ column_date_added }}</td>
      <td class="text-start">{{ column_comment }}</td>
      <td class="text-start">{{ column_status }}</td>
      <td class="text-start">{{ column_notify }}</td>
    </tr>
  </thead>
  <tbody>
    {% if histories %}
      {% for history in histories %}
        <tr>
          <td class="text-start">{{ history.date_added }}</td>
          <td class="text-start">{{ history.comment }}</td>
          <td class="text-start">{{ history.status }}</td>
          <td class="text-start">{{ history.notify }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td class="text-center" colspan="4">{{ text_no_results }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>
<div class="row">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>
