{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-action="{{ save }}" data-form="#shipping-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="shipping-form">
					<div class="form-group row">
						<label for="input-cost" class="col-sm-2 col-form-label">{{ entry_cost }}</label>
						<div class="col-sm-10">
							<input type="text" name="shipping_item_cost" value="{{ shipping_item_cost }}" placeholder="{{ entry_cost }}" id="input-cost" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-tax-class" class="col-sm-2 col-form-label">{{ entry_tax_class }}</label>
						<div class="col-sm-10">
							<select name="shipping_item_tax_class_id" id="input-tax-class" class="form-control">
								<option value="0">{{ text_none }}</option>
								{% for tax_class in tax_classes %}
									{% if tax_class.tax_class_id == shipping_item_tax_class_id %}
										<option value="{{ tax_class.tax_class_id }}" selected="selected">{{ tax_class.title }}</option>
									{% else %}
										<option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-geo-zone" class="col-sm-2 col-form-label">{{ entry_geo_zone }}</label>
						<div class="col-sm-10">
							<select name="shipping_item_geo_zone_id" id="input-geo-zone" class="form-control">
								<option value="0">{{ text_all_zones }}</option>
								{% for geo_zone in geo_zones %}
									{% if geo_zone.geo_zone_id == shipping_item_geo_zone_id %}
										<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
									{% else %}
										<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="shipping_item_status" id="input-status" class="form-control">
								{% if shipping_item_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="shipping_item_sort_order" value="{{ shipping_item_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }} 
