{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-seo-regex" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-seo-regex" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-key" class="col-sm-2 col-form-label">{{ entry_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="key" value="{{ key }}" placeholder="{{ entry_key }}" id="input-key" class="form-control" required/>
              <div id="error-key" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-match" class="col-sm-2 col-form-label">{{ entry_match }}</label>
            <div class="col-sm-10">
              <input type="text" name="match" value="{{ match }}" placeholder="{{ entry_match }}" id="input-match" class="form-control" required/>
              <div id="error-match" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-replace" class="col-sm-2 col-form-label">{{ entry_replace }}</label>
            <div class="col-sm-10">
              <input type="text" name="replace" value="{{ replace }}" placeholder="{{ entry_replace }}" id="input-replace" class="form-control" required/>
              <div id="error-replace" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-keyword" class="col-sm-2 col-form-label">{{ entry_keyword }}</label>
            <div class="col-sm-10">
              <input type="text" name="keyword" value="{{ keyword }}" placeholder="{{ entry_keyword }}" id="input-keyword" class="form-control" required/>
              <div id="error-keyword" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-value" class="col-sm-2 col-form-label">{{ entry_value }}</label>
            <div class="col-sm-10">
              <input type="text" name="value" value="{{ value }}" placeholder="{{ entry_value }}" id="input-value" class="form-control" required/>
              <div id="error-value" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="number" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
              <div class="form-text">{{ help_sort_order }}</div>
            </div>
          </div>
          <input type="hidden" name="seo_regex_id" value="{{ seo_regex_id }}" id="input-seo-regex-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
