{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-oc-action="{{ save }}" data-oc-form="#seo-url-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="seo-url-form">
					<div class="row mb-3">
						<label for="input-store" class="col-sm-2 col-form-label">{{ entry_store }}</label>
						<div class="col-sm-10">
							<select name="store_id" id="input-store" class="form-select">
								{% for store in stores %}
									{% if store.store_id == store_id %}
										<option value="{{ store.store_id }}" selected="selected">{{ store.name }}</option>
									{% else %}
										<option value="{{ store.store_id }}">{{ store.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-language" class="col-sm-2 col-form-label">{{ entry_language }}</label>
						<div class="col-sm-10">
							<select name="language_id" id="input-language" class="form-select">
								{% for language in languages %}
									{% if language.language_id == language_id %}
										<option value="{{ language.language_id }}" selected="selected">{{ language.name }}</option>
									{% else %}
										<option value="{{ language.language_id }}">{{ language.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-key" class="col-sm-2 col-form-label">{{ entry_key }}</label>
						<div class="col-sm-10">
							<input type="text" name="key" value="{{ key }}" placeholder="{{ entry_key }}" id="input-key" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-value" class="col-sm-2 col-form-label">{{ entry_value }}</label>
						<div class="col-sm-10">
							<input type="text" name="value" value="{{ value }}" placeholder="{{ entry_value }}" id="input-value" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-keyword" class="col-sm-2 col-form-label">{{ entry_keyword }}</label>
						<div class="col-sm-10">
							<input type="text" name="keyword" value="{{ keyword }}" placeholder="{{ entry_keyword }}" id="input-keyword" class="form-control"/>
							<small class="form-text text-muted">{{ help_keyword }}</small>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }} 
