<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-start">{{ column_store }}</td>
        <td class="text-start">{{ column_route }}</td>
        <td class="text-start">{{ column_date_added }}</td>
        <td class="text-end" style="min-width: 103px;">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if histories %}
        {% for history in histories %}
          <tr>
            <td class="text-start">{{ history.store }}
              <input type="hidden" name="store_id" value="{{ history.store_id }}"/></td>
            <td class="text-start">{{ history.route }}
              <input type="hidden" name="path" value="{{ history.route }}"/></td>
            <td class="text-start">{{ history.date_added }}</td>
            <td class="text-end"><a href="{{ history.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a> <a href="{{ history.delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="4">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>
