<form id="notification-list" data-oc-load="{{ action }}" data-oc-target="#notification">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
					<td class="text-start">{{ column_message }}</td>
					<td class="text-end">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if notifications %}
					{% set notification_row = 0 %}
					{% for notification in notifications %}
						{% if not notification.status %}
							<tr id="notification-row-{{ notification_row }}" class="table-primary">
								<td class="text-center"><input type="checkbox" name="selected[]" value="{{ notification.notification_id }}" class="form-check-input"/></td>
								<td class="text-primary" style="width: 1px;"><i class="fas far fa-bell fa-3x"></i></td>
								<td class="text-start"><a href="{{ notification.view }}" class="text-primary font-weight-bold">{{ notification.title }}</a>
									<br/>
									<div class="text-muted">{{ notification.date_added }}</div>
								</td>
								<td class="text-end"><button value="{{ notification.view }}" data-bs-toggle="tooltip" title="{{ button_view }}" data-oc-loading-text="{{ text_loading }}" id="button-view-{{ notification.notification_id }}" class="btn btn-primary"><i class="fas fa-eye"></i></button></td>
							</tr>
						{% else %}
							<tr id="notification-row-{{ notification_row }}">
								<td class="text-center"><input type="checkbox" name="selected[]" value="{{ notification.notification_id }}" class="form-check-input"/></td>
								<td class="text-primary" style="width: 1px;"><i class="far fa-bell fa-3x"></i></td>
								<td class="text-start"><a href="{{ notification.view }}" class="text-primary">{{ notification.title }}</a>
									<br/>
									<div class="text-muted">{{ notification.date_added }}</div>
								</td>
								<td class="text-end"><button value="{{ notification.view }}" data-bs-toggle="tooltip" title="{{ button_view }}" data-oc-loading-text="{{ text_loading }}" id="button-view-{{ notification.notification_id }}" class="btn btn-outline-primary"><i class="fas fa-eye"></i></button></td>
							</tr>
						{% endif %}
						{% set notification_row = notification_row + 1 %}
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="3">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">{{ pagination }}</div>
		<div class="col-sm-6 text-end">{{ results }}</div>
	</div>
</form>