<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td colspan="2" class="text-left">{{ column_message }}</td>
        <td class="text-right">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if notifications %}
        {% set notification_row = 0 %}
        {% for notification in notifications %}

          {% if not notification.status %}
            <tr id="notification-row{{ notification_row }}" class="table-warning">
              <td class="text-warning" style="width: 1px;"><i class="fas far fa-bell fa-3x"></i></td>
              <td class="text-left"><a href="{{ notification.view }}" class="text-warning"><strong>{{ notification.title }}</strong></a>
                <br/>
                <small class="text-muted">{{ notification.date_added }}</small>
              </td>
              <td class="text-right"><button value="{{ notification.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          {% else %}
            <tr id="notification-row{{ notification_row }}">
              <td class="text-black-50" style="width: 1px;"><i class="far fa-bell fa-3x"></i></td>
              <td class="text-left"><a href="{{ notification.view }}"><strong>{{ notification.title }}</strong></a>
                <br/>
                <small class="text-muted">{{ notification.date_added }}</small>
              </td>
              <td class="text-right"><button value="{{ notification.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          {% endif %}

          {% set notification_row = notification_row + 1 %}
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="2">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>