{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fas fa-sync"></i> {{ text_upgrade }}</div>
      <div class="card-body">

        <fieldset>
          <legend>{{ text_information }}</legend>
          <div class="row mb-3">
            <div class="col">
              <div class="form-control border rounded-start">
                <div class="lead"><strong>{{ text_current_version }}</strong>
                  <br/>
                  <span{% if upgrade %} class="text-danger"{% endif %}>{{ current_version }}</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-control border rounded-start">
                <div class="lead"><strong>{{ text_latest_version }}</strong>
                  <br/>
                  {{ latest_version }}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-control border rounded-start">
                <div class="lead"><strong>{{ text_date_added }}</strong>
                  <br/>
                  {{ date_added }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-control border rounded-start">
            <div class="lead"><strong>{{ text_change }}</strong>
              <br/>
              {{ log }}
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{ text_status }}</legend>
          <div class="form-control border rounded-start">
            <div class="d-flex">
              <div id="progress-icon" class="flex-shrink-0">
                <i class="fas fa-download fa-5x"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="lead"><strong id="progress">{{ text_ready }}</strong>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="text-center">
          <button type="button" id="button-upgrade" data-oc-loading-text="{{ text_loading }}" class="btn btn-warning btn-lg"{% if not upgrade %} disabled{% endif %}><i class="fas fa-level-up-alt"></i> {{ button_upgrade }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
$('#button-upgrade').on('click', function () {
    $('#progress-title').html('{{ text_download }}');
    $('#progress-description').append('{{ text_download_description }}');

    var next = 'index.php?route=tool/upgrade|download&user_token={{ user_token }}&version={{ latest_version }}&admin={{ admin }}';

    var upgrade = function () {
        return $.ajax({
            url: next,
            dataType: 'json',
            beforeSend: function () {
                $('#button-upgrade').prop('disabled', true);
                $('#progress-icon').html('<i class="fas fa-circle-notch fa-5x fa-spin"></i>');
            },
            complete: function () {
                $('#button-upgrade').prop('disabled', false);
            },
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                if (json['redirect']) {
                    var timer = setInterval(function () {
                        location = json['redirect'];
                    }, 5000);
                }

                if (json['text']) {
                    $('#progress').html(json['success']);
                }

                if (json['next']) {
                    next = json['next'];

                    chain.attach(upgrade);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#progress-icon').html('<i class="fas fa-download fa-5x"></i>');

                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    };

    chain.attach(upgrade);
});
//--></script>
{{ footer }}