{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fas fa-sync"></i> {{ text_version }}</div>
      <div class="card-body">

        <div class="row row-cols-2 mb-4">
          <div class="col">
            <div class="p-2 text-uppercase">Current Version</div>
            <div class="p-2">{{ current_version }}</div>
          </div>
          <div class="col">
            <div class="p-2 text-uppercase">Latest Version</div>
            <div class="p-2">{{ latest_version }}</div>
          </div>
        </div>

        <div class="row mb-3">

          <div class="col-sm-4 text-center">
            <div class="d-inline-block p-4 rounded-circle bg-success text-white fs-5" f><i class="fa fa-sync"></i></div>
            <div class="p-2">Download Update</div>
          </div>

          <div class="col-sm-4 text-center">
            <div class="d-inline-block p-4 rounded-circle bg-success text-white fs-5"><i class="fa fa-sync"></i></div>
            <div class="p-2">Extract Files</div>
          </div>

          <div class="col-sm-4 text-center">
            <div class="d-inline-block p-4 rounded-circle bg-success text-white fs-5"><i class="fa fa-sync"></i></div>
            <div class="p-2">Redirect to Upgrader</div>
          </div>
        </div>

        <div class="row mb-3">
          <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_version }}</label>
          <div class="col-sm-10">{{ version }}

          </div>
        </div>

        <fieldset>
          <legend id="btn-version">{{ text_update }}</legend>
          <div class="alert alert-info">
            <p><strong><i class="fas fa-exclamation-circle"></i> {{ text_tips }}</strong></p>
            <ol>
              <li>{{ text_make }}
                <br/>                {{ text_backup }} <a href="{{ backup }}">{{ text_here }}</a>;
              </li>
              <li>{{ text_check }}</li>
              <li>{{ text_better }}</li>
            </ol>
          </div>
        </fieldset>

        <fieldset>
          <legend>{{ text_progress }}</legend>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ text_progress_short }}</label>
            <div class="col-sm-10">
              <div id="progress-download" class="progress">
                <div id="progress-bar" class="progress-bar"></div>
              </div>
              <br/>

              <button type="button" id="button-upgrade" data-oc-loading-text="{{ text_loading }}" class="btn btn-success"{% if not upgrade %} disabled{% endif %}><i class="fas fa-play"></i> {{ button_start }}</button>
              <div id="progress-text"></div>
            </div>
          </div>
        </fieldset>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript"><!--
$('#button-upgrade').on('click', function () {
    var i = 0;

    $('#progress-bar').css('width', '0%').removeClass('progress-bar-danger progress-bar-success');
    $('#progress-text').html('{{ text_download }}');
    $('#log').append('{{ text_download }}' + "\n");

    var next = 'index.php?route=tool/upgrade|download&user_token={{ user_token }}&version={{ version }}';

    var upgrade = function () {
        return $.ajax({
            url: next,
            dataType: 'json',
            beforeSend: function () {
                $('#button-upgrade').button('loading');
            },
            complete: function () {
                $('#button-upgrade').button('reset');
            },
            success: function (json) {
                if (json['error']) {
                    $('#progress-bar').addClass('progress-bar-danger');
                    $('#progress-text').html('<div class="text-danger">' + json['error'] + '</div>');
                }

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['text']) {
                    i = i + 1;

                    $('#progress-bar').css('width', (i * 20) + '%');
                    $('#progress-bar').css('width', '20%');

                    $('#progress-text').html(json['text']);
                }

                if (json['next']) {
                    next = json['next'];

                    chain.attach(upgrade);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#log').append(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    };

    chain.attach(upgrade);
});
//--></script>
{{ footer }}