{{ header }}
<div id="content">
  <div class="page-header">
    <div class="container">
      <h1>1 / 4 {{ heading_title }}</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="card">
          <div class="card-header"><i class="far fa-page4"></i> {{ text_step_1 }}</div>
          <div class="card-body">
            <div class="form-control" style="min-height: 300px; overflow-y: scroll;">{{ text_terms }}</div>
            <div class="row mt-3">
              <div class="col text-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">{{ column_left }}</div>
    </div>
  </div>
</div>

{{ footer }}