{{ header }}
<div id="content">
	<div class="page-header">
		<div class="container">
			<div class="float-end">{{ language }}</div>
			<h1>{{ heading_title }}</h1>
		</div>
	</div>
	<div class="container">
		<div class="card">
			<div class="card-header"><i class="fab fa-opencart"></i>&nbsp;&nbsp;&nbsp;{{ text_step_1 }}</div>
			<div class="card-body">
				<div class="form-control" style="max-height: 300px; overflow-y: scroll;">{{ text_terms }}</div>
				<div class="row mt-3">
					<div class="col text-end"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}