{{ header }}
<div class="container">
  <div class="text-center mb-4">
    <h1>1 <small>/4</small>
    </h1>
    <h3>{{ heading_title }}
      <br/>
      <small>{{ text_step_1 }}</small>
    </h3>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="form-control" style="min-height: 300px; overflow-y: scroll;">{{ text_terms }}</div>
      <div class="p-2 mt-3 border">
        <div class="row">
          <div class="col text-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">{{ column_left }}</div>
  </div>
</div>
{{ footer }}