{{ header }}
<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <fieldset class="step-heading">
        <h1><small>Step 1 /</small> {{ heading_title }}</h1>
        <h3>{{ text_step_1 }}</h3>
      </fieldset>
      {{ column_left }}

      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="terms">{{ text_terms }}</div>
        <div class="buttons">
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
      </form>

      <hr/>
    </div>
  </div>
</div>
{{ footer }}
