{{ header }}
<main id="content">
  <div class="border-bottom my-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col"><h1><i class="fas fa-file-alt"></i> {{ heading_title }}</h1></div>
        <div class="col">{{ language }}</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header"><i class="fab fa-opencart"></i> {{ text_step_1 }}</div>
      <div class="card-body">
        <div class="form-control form-control-license">{{ text_terms }}</div>
      </div>
      <div class="card-footer d-flex">
        <a href="{{ continue }}" class="btn btn-outline-primary ml-auto">{{ button_continue }} <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</main>
{{ footer }}
