<div id="amazonContainer">
    {% if error %}
        <div class="alert alert-danger">{{ error }}
          
        </div>
    {% endif %}
    <h1 class="title page-title">{{ heading_payment }}</h1>
    <div class="amazonWidget" id="walletWidget"></div>
    <div class="buttons clearfix">
        <div class="pull-left">
            <a href="{{ back }}" class="btn btn-primary">{{ text_back }}</a>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" id="continue-button">{{ text_continue }}</a>
        </div>
    </div>
</div>
<style type="text/css">
    #amazonContainer {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .amazonWidget {
        margin: 0 0 10px 0;
        width: 100%;
    }

    #walletWidget {
        height: 350px;
    }
</style>
<input type="hidden" name="payment_method" value="" />
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        var showError = function(message) {
            $('#continue-button').attr('disabled', false);

            $('#walletWidget').before('<div class="alert alert-danger">' + message + '</div>');
        }

        amazon.Login.setClientId('{{ client_id }}');

        $('#continue-button').click(function(e) {
            if ($(this).is('[disabled]')) {
                e.preventDefault();
                return;
            }
            
            $('#continue-button').attr('disabled', true);
            $('.alert alert-danger, .alert alert-warning').remove();

            if ($("input[name='payment_method']").val() == '1') {
                location = '{{ confirm }}';
            } else {
                showError('{{ error_payment_method }}');
            }
        });

        new OffAmazonPayments.Widgets.Wallet({
            sellerId: '{{ merchant_id }}',

            {% if order_reference_id %}
                orderReferenceId: '{{ order_reference_id }}',
            {% endif %}

            onPaymentSelect: function(orderReference) {
                $("input[name='payment_method']").val('1');
            },
            design: {
                designMode: 'responsive'
            },
            onError: function(error) {
                switch (error.getErrorCode()) {
                    case 'BuyerSessionExpired' :
                        document.location = '{{ session_expired }}';
                        break;
                    case 'PaymentMethodNotModifiable' :
                        document.location = '{{ back }}';
                }

                {% if sandbox %}
                    console.log("Amazon Login Error (" + error.getErrorCode() + "): " + error.getErrorMessage());
                {% endif %}
            }
        }).bind("walletWidget");
    });
})(jQuery);
</script>
