{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-feed" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-feed" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="feed_yandex_turbo_status" id="input-status" class="form-control">
                {% if feed_yandex_turbo_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-yandex-turbo-currency">{{ entry_currency }}</label>
			  <div class="col-sm-10">
                 <select name="feed_yandex_turbo_currency" id="input-yandex-turbo-currency" class="form-control">
                    {% for currency in currencies %}
                        {% if currency.code == feed_yandex_turbo_currency %}
							<option value="{{ currency.code }}" selected="selected">({{ currency.code }}) {{ currency.title }}</option>
                        {% else %}
							<option value="{{ currency.code }}">({{ currency.code }}) {{ currency.title }}</option>
                        {% endif %}
                    {% endfor %}
                 </select>
			</div>
		  </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-data-feed">{{ entry_data_feed }}</label>
            <div class="col-sm-10">
              <textarea rows="5" readonly id="input-data-feed" class="form-control">{{ data_feed }}</textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
	<div class="made">{{ entry_made }}</div>
	<style>
	.made a {
		display: inline-block;
		border-radius: 2px;
		padding: 1px 5px;
		font-size: 90%;
		color: #fff;
		text-decoration: none !important;
		background: #3d6594;
	}
	</style>
  </div>
</div>
{{ footer }}