{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-action="{{ save }}" data-form="#module-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="module-form">
					<div class="form-group row required">
						<label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-banner" class="col-sm-2 col-form-label">{{ entry_banner }}</label>
						<div class="col-sm-10">
							<select name="banner_id" id="input-banner" class="form-control">
								{% for banner in banners %}
									{% if banner.banner_id == banner_id %}
										<option value="{{ banner.banner_id }}" selected="selected">{{ banner.name }}</option>
									{% else %}
										<option value="{{ banner.banner_id }}">{{ banner.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-effect" class="col-sm-2 col-form-label">{{ entry_effect }}</label>
						<div class="col-sm-10">
							<select name="effect" id="input-effect" class="form-control">
								{% if effect == 'slide' %}
									<option value="slide" selected="selected">{{ text_slide }}</option>
								{% else %}
									<option value="slide">{{ text_slide }}</option>
								{% endif %}
								{% if effect == 'fade' %}
									<option value="fade" selected="selected">{{ text_fade }}</option>
								{% else %}
									<option value="fade">{{ text_fade }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-items" class="col-sm-2 col-form-label">{{ entry_items }}</label>
						<div class="col-sm-10">
							<input type="text" name="items" value="{{ items }}" placeholder="{{ entry_items }}" id="input-items" class="form-control"/>
							<small class="form-text text-muted">{{ help_items }}</small>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-controls" class="col-sm-2 col-form-label">{{ entry_controls }}</label>
						<div class="col-sm-10">
							<select name="controls" id="input-controls" class="form-control">
								{% if controls == 1 %}
									<option value="1" selected="selected">{{ text_yes }}</option>
								{% else %}
									<option value="1">{{ text_yes }}</option>
								{% endif %}
								{% if controls == 0 %}
									<option value="0" selected="selected">{{ text_no }}</option>
								{% else %}
									<option value="0">{{ text_no }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-indicators" class="col-sm-2 col-form-label">{{ entry_indicators }}</label>
						<div class="col-sm-10">
							<select name="indicators" id="input-indicators" class="form-control">
								{% if indicators == 1 %}
									<option value="1" selected="selected">{{ text_yes }}</option>
								{% else %}
									<option value="1">{{ text_yes }}</option>
								{% endif %}
								{% if indicators == 0 %}
									<option value="0" selected="selected">{{ text_no }}</option>
								{% else %}
									<option value="0">{{ text_no }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-interval" class="col-sm-2 col-form-label">{{ entry_interval }}</label>
						<div class="col-sm-10">
							<input type="text" name="interval" value="{{ interval }}" placeholder="{{ entry_interval }}" id="input-interval" class="form-control"/>
						</div>
					</div>
					<div class="form-group row required">
						<label for="input-width" class="col-sm-2 col-form-label">{{ entry_width }}</label>
						<div class="col-sm-10">
							<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
						</div>
					</div>
					<div class="form-group row required">
						<label for="input-height" class="col-sm-2 col-form-label">{{ entry_height }}</label>
						<div class="col-sm-10">
							<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								{% if status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}