{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-action="{{ save }}" data-form="#module-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="module-form">
					<div class="form-group row">
						<label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">{{ entry_product }}</label>
						<div class="col-sm-10">
							<input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control"/>
							<div class="form-control p-0" style="height: 150px; overflow: auto;">
								<table id="featured-product" class="table table-sm m-0">
									{% for product in products %}
										<tr id="featured-product{{ product.product_id }}">
											<td>{{ product.name }}<input type="hidden" name="product[]" value="{{ product.product_id }}"/></td>
											<td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>
										</tr>
									{% endfor %}
								</table>
							</div>
							<small class="form-text text-muted">{{ help_product }}</small>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-axis" class="col-sm-2 col-form-label">{{ entry_axis }}</label>
						<div class="col-sm-10">
							<select name="axis" id="input-axis" class="form-control">
								{% if axis == 'horizontal' %}
									<option value="0" selected="selected">{{ text_horizontal }}</option>
								{% else %}
									<option value="horizontal">{{ text_horizontal }}</option>
								{% endif %}
								{% if axis == 'vertical' %}
									<option value="vertical" selected="selected">{{ text_vertical }}</option>
								{% else %}
									<option value="vertical">{{ text_vertical }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-width" class="col-sm-2 col-form-label">{{ entry_width }}</label>
						<div class="col-sm-10">
							<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-height" class="col-sm-2 col-form-label">{{ entry_height }}</label>
						<div class="col-sm-10">
							<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								{% if status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript"><!--
  $('input[name=\'product_name\']').autocomplete({
      source: function(request, response) {
          $.ajax({
              url: 'index.php?route=catalog/product|autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
              dataType: 'json',
              success: function(json) {
                  response($.map(json, function(item) {
                      return {
                          label: item['name'],
                          value: item['product_id']
                      }
                  }));
              }
          });
      },
      select: function(item) {
          $('input[name=\'product_name\']').val('');

          $('#featured-product' + item['value']).remove();

          html = '<tr id="featured-product' + item['value'] + '">';
          html += '  <td>' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '"/></td>';
          html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>';
          html += '</tr>';

          $('#featured-product').append(html);
      }
  });

  $('#featured-product').on('click', '.btn', function() {
      $(this).parent().parent().remove();
  });
  //--></script>
</div>
{{ footer }}
