{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-oc-action="{{ save }}" data-oc-form="#module-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="module-form">
					<div class="form-group row">
						<label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
						</div>
					</div>
					<div class="tab-pane">
						<ul class="nav nav-tabs" id="language">
							{% for language in languages %}
								<li class="nav-item"><a href="#language{{ language.language_id }}" data-bs-toggle="tab" class="nav-link"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
							{% endfor %}
						</ul>
						<div class="tab-content">
							{% for language in languages %}
								<div class="tab-pane" id="language{{ language.language_id }}">
									<div class="form-group row">
										<label for="input-title{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_title }}</label>
										<div class="col-sm-10">
											<input type="text" name="module_description[{{ language.language_id }}][title]" placeholder="{{ entry_title }}" id="input-title-{{ language.language_id }}" value="{{ module_description[language.language_id] ? module_description[language.language_id].title }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row">
										<label for="input-description{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_description }}</label>
										<div class="col-sm-10">
											<textarea name="module_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description-{{ language.language_id }}" data-oc-toggle="ckeditor" class="form-control">{{ module_description[language.language_id] ? module_description[language.language_id].description }}</textarea>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="form-group row">
						<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-select">
								{% if status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('textarea[data-oc-toggle=\'ckeditor\']').ckeditor();

$('#language li:first-child a').tab('show');
//--></script>
{{ footer }}
