{{ header }}
<div id="checkout-cart" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	{% if attention %}
		<div class="alert alert-info"><i class="fas fa-info-circle"></i> {{ attention }}
			<button type="button" class="btn-close" data-dismiss="alert"></button>
		</div>
	{% endif %}
	{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
			<button type="button" class="btn-close" data-dismiss="alert"></button>
		</div>
	{% endif %}
	{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="btn-close" data-dismiss="alert"></button>
		</div>
	{% endif %}
	<div class="row">{{ column_left }}
		<div id="content" class="col">{{ content_top }}
			<h1>{{ heading_title }}
				{% if weight %}
					&nbsp;({{ weight }})
				{% endif %} </h1>
			<form action="{{ action }}" method="post" enctype="multipart/form-data">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td class="text-center">{{ column_image }}</td>
								<td class="text-start">{{ column_name }}</td>
								<td class="text-start">{{ column_model }}</td>
								<td class="text-start">{{ column_quantity }}</td>
								<td class="text-end">{{ column_price }}</td>
								<td class="text-end">{{ column_total }}</td>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
								<tr>
									<td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a> {% endif %}</td>
									<td class="text-start"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
										{% if product.option %}
											{% for option in product.option %}
												<br/>
												<small>{{ option.name }}: {{ option.value }}</small>
											{% endfor %}
										{% endif %}
										{% if product.reward %}
											<br/>
											<small>{{ product.reward }}</small>
										{% endif %}
										{% if product.recurring %}
											<br/>
											<small class="badge badge-warning">{{ text_recurring_item }}</small>
											<small>{{ product.recurring }}</small>
										{% endif %}</td>
									<td class="text-start">{{ product.model }}</td>
									<td class="text-start">
										<div class="input-group">
											<input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control">
											<button type="button" data-bs-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fas fa-sync-alt"></i></button>
											<button type="button" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fas fa-times-circle"></i></button>
										</div>
									</td>
									<td class="text-end">{{ product.price }}</td>
									<td class="text-end">{{ product.total }}</td>
								</tr>
							{% endfor %}
							{% for voucher in vouchers %}
								<tr>
									<td></td>
									<td class="text-start">{{ voucher.description }}</td>
									<td class="text-start"></td>
									<td class="text-start">
										<div class="input-group">
											<input type="text" name="" value="1" size="1" disabled="disabled" class="form-control"/>
											<button type="button" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fas fa-times-circle"></i></button>
										</div>
									</td>
									<td class="text-end">{{ voucher.amount }}</td>
									<td class="text-end">{{ voucher.amount }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</form>
			{% if modules %}
				<h2>{{ text_next }}</h2>
				<p>{{ text_next_choice }}</p>
				<div id="accordion">
					{% for module in modules %}
						{{ module }}
					{% endfor %}
				</div>
			{% endif %}
			<br/>
			<div class="row">
				<div class="col-md-4 offset-md-8">
					<table class="table table-bordered">
						{% for total in totals %}
							<tr>
								<td class="text-end"><strong>{{ total.title }}:</strong></td>
								<td class="text-end">{{ total.text }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="d-inline-block pt-2 pd-2 w-100">
				<div class="float-start"><a href="{{ continue }}" class="btn btn-light">{{ button_shopping }}</a></div>
				<div class="float-end"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
			</div>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
