{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row">
        {% if register or payment_address or shipping_address %}
          <div class="col-md-7 mb-3">
            {% if register %}
              <div id="checkout-register">{{ register }}</div>
            {% endif %}
            {% if payment_address %}
              <div id="checkout-payment-address">{{ payment_address }}</div>
            {% endif %}
            {% if shipping_address %}
              <div id="checkout-shipping-address">{{ shipping_address }}</div>
            {% endif %}
          </div>
        {% endif %}
        <div class="col">
          {% if shipping_method %}
            <div id="checkout-shipping-method" class="mb-3">{{ shipping_method }}</div>
          {% endif %}
          <div id="checkout-payment-method" class="mb-4">{{ payment_method }}</div>
          <div id="checkout-confirm">{{ confirm }}</div>
        </div>
      </div>
    </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
{{ footer }}
