{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row">
        <div class="col-8 mb-3">
          {% if not logged %}
            <div id="checkout-register">{{ register }}</div>
          {% endif %}
          {% if config_checkout_address %}
            <div id="checkout-payment-address">{{ payment_address }}</div>
          {% endif %}
          {% if shipping_required %}
            <div id="checkout-shipping-address"{% if config_checkout_address and not logged %} style="display: none;"{% endif %}>{{ shipping_address }}</div>
          {% endif %}
        </div>
        <div id="confirm" class="col-4 mb-3">{{ confirm }}</div>
      </div>
    </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
{{ footer }}