{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if not logged %}
        <div id="checkout-login">{{ login }}</div>
        <br/>
        <div id="checkout-register">{{ register }}</div>
      {% else %}
      <div class="row row-cols-2">
        {% if payment_address %}
          <div id="checkout-payment-address">{{ payment_address }}</div>
        {% endif %}
        {% if shipping_required %}
          <div id="checkout-shipping-address">{{ shipping_address }}</div>
        {% endif %}
      {% endif %}
      </div>
      <br/>
      <div class="row row-cols-2">
        <div class="col mb-3">
          {% if shipping_required %}
            {{ shipping_method }}
          {% endif %}
          {{ payment_method }}
        </div>
        <div class="col mb-3" id="checkout-confirm">{{ confirm }}</div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}