{{ header }}
<div id="checkout-checkout" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	<div class="row">{{ column_left }}
		<div id="content" class="col">
			{{ content_top }}
			<h1>{{ heading_title }}</h1>
			<div id="accordion">
				<div class="card">
					<h4 id="heading-checkout-option" data-target="#collapse-checkout-option" class="card-header collapsed">{{ text_checkout_option }}</h4>
					<div id="collapse-checkout-option" class="collapse" data-parent="#accordion">
						<div class="card-body"></div>
					</div>
				</div>

				<div class="card">
					{% if not logged and account != 'guest' %}
						<h4 id="heading-payment-address" class="card-header collapsed" data-target="#collapse-payment-address">{{ text_checkout_account }}</h4>
						<div id="collapse-payment-address" class="collapse" data-parent="#accordion">
							<div class="card-body"></div>
						</div>
					{% else %}
						<h4 id="heading-payment-address" class="card-header collapsed" data-target="#collapse-payment-address">{{ text_checkout_account }}</h4>
						<div id="collapse-payment-address" class="collapse" data-parent="#accordion">
							<div class="card-body"></div>
						</div>
					{% endif %}
				</div>

				{% if shipping_required %}
					<div class="card">
						<h4 id="heading-shipping-address" class="card-header collapsed" data-target="#collapse-shipping-address">{{ text_checkout_shipping_address }}</h4>
						<div id="collapse-shipping-address" class="collapse" data-parent="#accordion">
							<div class="card-body"></div>
						</div>
					</div>
					<div class="card">
						<h4 id="heading-shipping-method" class="card-header collapsed" data-target="#collapse-shipping-method">{{ text_checkout_shipping_method }}</h4>
						<div id="collapse-shipping-method" class="collapse" data-parent="#accordion">
							<div class="card-body"></div>
						</div>
					</div>
				{% endif %}

				<div class="card">
					<h4 id="heading-payment-method" class="card-header collapsed" data-target="#collapse-payment-method">{{ text_checkout_payment_method }}</h4>
					<div id="collapse-payment-method" class="collapse" data-parent="#accordion">
						<div class="card-body"></div>
					</div>
				</div>
				<div class="card">
					<h4 id="heading-checkout-confirm" class="card-header collapsed" data-target="#collapse-checkout-confirm">{{ text_checkout_confirm }}</h4>
					<div id="collapse-checkout-confirm" class="collapse" data-parent="#accordion">
						<div class="card-body"></div>
					</div>
				</div>
			</div>
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
<script type="text/javascript"><!--
$('#collapse-checkout-option').on('change', 'input[name=\'account\']', function() {
    if (this.value == 'register') {
        $('#heading-payment-address').html('{{ text_checkout_account }}');
    } else {
        $('#heading-payment-address').html('{{ text_checkout_payment_address }}');
    }
});

{% if not logged %}
$(document).ready(function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/login',
            dataType: 'html',
            success: function(html) {
                $('#collapse-checkout-option .card-body').html(html);

                $('#heading-checkout-option').attr('data-bs-toggle', 'collapse');

                $('#heading-checkout-option').trigger('click');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
{% else %}
$(document).ready(function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/payment_address',
            dataType: 'html',
            success: function(html) {
                $('#collapse-payment-address .card-body').html(html);

                $('#heading-payment-address').attr('data-bs-toggle', 'collapse');

                $('#heading-payment-address').trigger('click');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
{% endif %}
//--></script>
{{ footer }}