{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row">
        <div class="col-md-8 mb-3">

          {% if not logged %}
            <div id="checkout-register">{{ register }}</div>
          {% else %}

            {% if config_checkout_address %}
              <div id="checkout-payment-address">{{ payment_address }}</div>
            {% endif %}

            {% if shipping_required %}
              <div id="checkout-shipping-address">{{ shipping_address }}</div>
            {% endif %}

          {% endif %}

        </div>
        <div class="col-md-4">
          {% if shipping_required %}
            <div id="checkout-shipping-method" class="mb-3">{{ shipping_method }}</div>
          {% endif %}
          <div id="checkout-payment-method" class="mb-4">{{ payment_method }}</div>
          <div class="mb-2">
            <label for="input-comment" class="form-label"><strong>{{ text_comments }}</strong></label> <textarea name="comment" rows="3" id="input-comment" class="form-control">{{ comment }}</textarea>
          </div>
          <div class="mb-3">
            {% if text_agree %}
              <div class="text-end">{{ text_agree }} <input type="checkbox" name="agree" value="1" id="input-agree" class="form-check-input"{% if agree %} checked{% endif %}/></div>
            {% endif %}
          </div>
          <div id="checkout-confirm">{{ confirm }}</div>
        </div>
      </div>
    </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
{{ footer }}