{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="btn-close" data-dismiss="alert"></button>
    </div>
  {% endif %}
  <div class="row">{{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>

      <div id="accordion" class="accordion accordion-flush">

        <div class="accordion-item">
          <h2 id="heading-checkout-option" class="accordion-header">
            <button type="button" data-bs-toggle="collapse in" data-bs-target="#collapse-checkout-option" class="accordion-button"> {{ text_checkout_option }}</button>
          </h2>

          <div id="collapse-checkout-option" class="collapse show" data-bs-parent="#accordion">
            <div class="accordion-body"></div>
          </div>
        </div>

        {% if not logged and account != 'guest' %}

          <div class="accordion-item">

            <h2 id="heading-payment-address" class="accordion-header" data-bs-target="#collapse-payment-address"><button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-payment-address" class="accordion-button"> {{ text_checkout_account }}</button></h2>

            <div id="collapse-payment-address" class="collapse show" data-bs-parent="#accordion">
              <div class="accordion-body">{{ register }}</div>
            </div>
          </div>

        {% else %}

          <div class="accordion-item">
            <h2 id="heading-payment-address" class="accordion-header" data-bs-target="#collapse-payment-address"><button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-payment-address" class="accordion-button"> {{ text_checkout_account }}</button></h2>
            <div id="collapse-payment-address" class="collapse show" data-bs-parent="#accordion">
              <div class="accordion-body"></div>
            </div>
          </div>

        {% endif %}


        {% if shipping_required %}

          <div class="accordion-item">
            <h2 id="heading-shipping-address" class="accordion-header" data-bs-bs-target="#collapse-shipping-address"><button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-shipping-address" class="accordion-button"> {{ text_checkout_shipping_address }}</button></h2>
            <div id="collapse-shipping-address" class="collapse show" data-bs-parent="#accordion">
              <div class="accordion-body"></div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 id="heading-shipping-method" class="accordion-header" data-bs-target="#collapse-shipping-method"><button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-shipping-method" class="accordion-button"> {{ text_checkout_shipping_method }}</button></h2>
            <div id="collapse-shipping-method" class="collapse show" data-bs-parent="#accordion">
              <div class="accordion-body"></div>
            </div>
          </div>

        {% endif %}

        <div class="accordion-item">
          <h2 id="heading-payment-method" class="accordion-header" data-bs-target="#collapse-payment-method"><button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-payment-method" class="accordion-button"> {{ text_checkout_payment_method }}</button></h2>
          <div id="collapse-payment-method" class="collapse show" data-bs-parent="#accordion">
            <div class="accordion-body"></div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 id="heading-checkout-confirm" class="accordion-header" data-bs-target="#collapse-checkout-confirm"><button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-checkout-confirm" class="accordion-button"> {{ text_checkout_confirm }}</button></h2>
          <div id="collapse-checkout-confirm" class="collapse show" data-bs-parent="#accordion">
            <div class="accordion-body"></div>
          </div>
        </div>

      </div>

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript"><!--
$('#collapse-checkout-option').on('change', 'input[name=\'account\']', function() {
    if (this.value == 'register') {
        $('#heading-payment-address').html('{{ text_checkout_account }}');
    } else {
        $('#heading-payment-address').html('{{ text_checkout_payment_address }}');
    }
});

{% if not logged %}
$(document).ready(function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/login',
            dataType: 'html',
            success: function(html) {
                $('#collapse-checkout-option .accordion-body').html(html);

                $('#heading-checkout-option').attr('data-bs-toggle', 'collapse');

                $('#heading-checkout-option').trigger('click');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
{% else %}
$(document).ready(function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/payment_address',
            dataType: 'html',
            success: function(html) {
                $('#collapse-payment-address .accordion-body').html(html);

                $('#heading-payment-address').attr('data-bs-toggle', 'collapse');

                $('#heading-payment-address').trigger('click');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
{% endif %}
//--></script>
{{ footer }}