<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td class="text-start">{{ column_name }}</td>
				<td class="text-start">{{ column_model }}</td>
				<td class="text-end">{{ column_quantity }}</td>
				<td class="text-end">{{ column_price }}</td>
				<td class="text-end">{{ column_total }}</td>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td class="text-start"><a href="{{ product.href }}">{{ product.name }}</a>
						{% for option in product.option %}
							<br/>
							&nbsp;
							<small> - {{ option.name }}: {{ option.value }}</small>
						{% endfor %}
						{% if product.recurring %}
							<br/>
							<small class="badge badge-warning">{{ text_recurring_item }}</small>
							<small>{{ product.recurring }}</small>
						{% endif %}</td>
					<td class="text-start">{{ product.model }}</td>
					<td class="text-end">{{ product.quantity }}</td>
					<td class="text-end">{{ product.price }}</td>
					<td class="text-end">{{ product.total }}</td>
				</tr>
			{% endfor %}
			{% for voucher in vouchers %}
				<tr>
					<td class="text-start">{{ voucher.description }}</td>
					<td class="text-start"></td>
					<td class="text-end">1</td>
					<td class="text-end">{{ voucher.amount }}</td>
					<td class="text-end">{{ voucher.amount }}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			{% for total in totals %}
				<tr>
					<td colspan="4" class="text-end"><strong>{{ total.title }}:</strong></td>
					<td class="text-end">{{ total.text }}</td>
				</tr>
			{% endfor %}
		</tfoot>
	</table>
</div>
{{ payment }}
