<form>
	<div class="row mb-3 required">
		<label for="input-shipping-firstname" class="col-sm-2 col-form-label">{{ entry_firstname }}</label>
		<div class="col-sm-10">
			<input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-shipping-firstname" class="form-control"/>
		</div>
	</div>
	<div class="row mb-3 required">
		<label for="input-shipping-lastname" class="col-sm-2 col-form-label">{{ entry_lastname }}</label>
		<div class="col-sm-10">
			<input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-shipping-lastname" class="form-control"/>
		</div>
	</div>
	<div class="row mb-3">
		<label for="input-shipping-company" class="col-sm-2 col-form-label">{{ entry_company }}</label>
		<div class="col-sm-10">
			<input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-shipping-company" class="form-control"/>
		</div>
	</div>
	<div class="row mb-3 required">
		<label for="input-shipping-address-1" class="col-sm-2 col-form-label">{{ entry_address_1 }}</label>
		<div class="col-sm-10">
			<input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-shipping-address-1" class="form-control"/>
		</div>
	</div>
	<div class="row mb-3">
		<label for="input-shipping-address-2" class="col-sm-2 col-form-label">{{ entry_address_2 }}</label>
		<div class="col-sm-10">
			<input type="text" name="address_2" value="{{ address_2 }}" placeholder="{{ entry_address_2 }}" id="input-shipping-address-2" class="form-control"/>
		</div>
	</div>
	<div class="row mb-3 required">
		<label for="input-shipping-city" class="col-sm-2 col-form-label">{{ entry_city }}</label>
		<div class="col-sm-10">
			<input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-shipping-city" class="form-control"/>
		</div>
	</div>
	<div class="row mb-3 required">
		<label for="input-shipping-postcode" class="col-sm-2 col-form-label">{{ entry_postcode }}</label>
		<div class="col-sm-10">
			<input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-shipping-postcode" class="form-control"/>
		</div>
	</div>
	<div class="row mb-3 required">
		<label for="input-shipping-country" class="col-sm-2 col-form-label">{{ entry_country }}</label>
		<div class="col-sm-10">
			<select name="country_id" id="input-shipping-country" class="form-select">
				<option value="">{{ text_select }}</option>
				{% for country in countries %}
					{% if country.country_id == country_id %}
						<option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
					{% else %}
						<option value="{{ country.country_id }}">{{ country.name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row mb-3 required">
		<label for="input-shipping-zone" class="col-sm-2 col-form-label">{{ entry_zone }}</label>
		<div class="col-sm-10">
			<select name="zone_id" id="input-shipping-zone" class="form-select"> </select>
		</div>
	</div>
	{% for custom_field in custom_fields %}
		{% if custom_field.location == 'address' %}
			{% if custom_field.type == 'select' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label for="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="form-select">
							<option value="">{{ text_select }}</option>
							{% for custom_field_value in custom_field.custom_field_value %}
								{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
									<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
								{% else %}
									<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
			{% endif %}
			{% if custom_field.type == 'radio' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<div id="input-shipping-custom-field-{{ custom_field.custom_field_id }}">{% for custom_field_value in custom_field.custom_field_value %}
								<div class="form-check">
									{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
										<label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/> {{ custom_field_value.name }}</label>
									{% else %}
										<label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name }}</label>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
			{% if custom_field.type == 'checkbox' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<div id="input-shipping-custom-field-{{ custom_field.custom_field_id }}"> {% for custom_field_value in custom_field.custom_field_value %}
								<div class="form-check">
									{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in address_custom_field[custom_field.custom_field_id] %}
										<label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/>
											{{ custom_field_value.name }}</label>
									{% else %}
										<label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
											{{ custom_field_value.name }}</label>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}

			{% if custom_field.type == 'text' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label for="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
					</div>
				</div>
			{% endif %}

			{% if custom_field.type == 'textarea' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label for="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="form-control">{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
					</div>
				</div>
			{% endif %}
			{% if custom_field.type == 'file' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<button type="button" id="button-shipping-custom-field-{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
						<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}  {{ address_custom_field[custom_field.custom_field_id] }} {% endif %}"/>
					</div>
				</div>
			{% endif %}
			{% if custom_field.type == 'date' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label for="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<div class="input-group date">
							<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
							<div class="input-group-text"><i class="fas fa-calendar"></i></div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if custom_field.type == 'time' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label for="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<div class="input-group time">
							<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
							<div class="input-group-text"><i class="fas fa-calendar"></i></div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if custom_field.type == 'datetime' %}
				<div class="row mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
					<label for="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
					<div class="col-sm-10">
						<div class="input-group datetime">
							<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-shipping-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
							<div class="input-group-text"><i class="fas fa-calendar"></i></div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	<div class="d-inline-block pt-2 pd-2 w-100">
		<div class="float-end">
			<button type="button" id="button-guest-shipping" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
		</div>
	</div>
</form>
<script type="text/javascript"><!--
// Guest Shipping
$('#button-guest-shipping').on('click', function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/guest_shipping|save',
            type: 'post',
            data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-guest-shipping').button('loading');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.mb-3').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-guest-shipping').button('reset');

                    if (json['error']['warning']) {
                        $('#collapse-shipping-address .card-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="btn-close" data-dismiss="alert"></button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-shipping-' + i.replace('_', '-'));

                        if ($(element).parent().hasClass('input-group')) {
                            $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                        } else {
                            $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                        }

                        $(element).addClass('is-invalid');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                } else {
                    chain.attach(function() {
                        return $.ajax({
                            url: 'index.php?route=checkout/shipping_method',
                            dataType: 'html',
                            complete: function() {
                                $('#button-guest-shipping').button('reset');
                            },
                            success: function(html) {
                                $('#collapse-shipping-method .card-body').html(html);

                                $('#heading-shipping-method').attr('data-bs-toggle', 'collapse');

                                $('#heading-shipping-method').trigger('click');

                                $('#heading-payment-method').removeAttr('data-bs-toggle');
                                $('#heading-checkout-confirm').removeAttr('data-bs-toggle');
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    });
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});

// Sort the custom fields
$('#collapse-shipping-address .mb-3[data-sort]').detach().each(function() {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#collapse-shipping-address .mb-3').length - 2) {
        $('#collapse-shipping-address .mb-3').eq(parseInt($(this).attr('data-sort')) + 2).before(this);
    }

    if ($(this).attr('data-sort') > $('#collapse-shipping-address .mb-3').length - 2) {
        $('#collapse-shipping-address .mb-3:last').after(this);
    }

    if ($(this).attr('data-sort') == $('#collapse-shipping-address .mb-3').length - 2) {
        $('#collapse-shipping-address .mb-3:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('#collapse-shipping-address .mb-3').length - 2) {
        $('#collapse-shipping-address .mb-3:first').before(this);
    }
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-shipping-address button[id^=\'button-shipping-custom-field\']').on('click', function() {
    var element = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    $('#form-upload input[name=\'file\']').on('change', function() {
        if (this.files[0].size > {{ config_file_max_size }}) {
            $(this).val('');

            alert('{{ error_upload_size }}');
        }
    });

    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }

    timer = setInterval(function() {
        if ($('#form-upload input[name=\'file\']').val() != '') {
            clearInterval(timer);

            $.ajax({
                url: 'index.php?route=tool/upload',
                type: 'post',
                dataType: 'json',
                data: new FormData($('#form-upload')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $(element).button('loading');
                },
                complete: function() {
                    $(element).button('reset');
                },
                success: function(json) {
                    $(element).parent().find('.text-danger').remove();

                    if (json['error']) {
                        $(element).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        alert(json['success']);

                        $(element).parent().find('input[name^=\'custom_field\']').attr('value', json['file']);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    }, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.time').datetimepicker({
    'format': 'HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.datetime').datetimepicker({
    'format': 'YYYY-MM-DD HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-shipping-address select[name=\'country_id\']').on('change', function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=localisation/country&country_id=' + $('#collapse-shipping-address select[name=\'country_id\']').val(),
            dataType: 'json',
            beforeSend: function() {
                $('#collapse-shipping-address select[name=\'country_id\']').prop('disabled', true);
            },
            complete: function() {
                $('#collapse-shipping-address select[name=\'country_id\']').prop('disabled', false);
            },
            success: function(json) {
                if (json['postcode_required'] == '1') {
                    $('#collapse-shipping-address input[name=\'postcode\']').parent().parent().addClass('required');
                } else {
                    $('#collapse-shipping-address input[name=\'postcode\']').parent().parent().removeClass('required');
                }

                html = '<option value="">{{ text_select }}</option>';

                if (json['zone'] && json['zone'] != '') {
                    for (i = 0; i < json['zone'].length; i++) {
                        html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                        if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
                            html += ' selected="selected"';
                        }

                        html += '>' + json['zone'][i]['name'] + '</option>';
                    }
                } else {
                    html += '<option value="0" selected="selected">{{ text_none }}</option>';
                }

                $('#collapse-shipping-address select[name=\'zone_id\']').html(html);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});

$('#collapse-shipping-address select[name=\'country_id\']').trigger('change');
//--></script>