<form id="form-login" action="{{ login }}" method="post" data-oc-toggle="ajax">
  <fieldset>
    <legend>{{ text_login }}</legend>
    <div class="mb-3">
      <label for="input-email" class="col-form-label">{{ entry_email }}</label>
      <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
    </div>
    <div class="mb-3">
      <label for="input-password" class="col-form-label">{{ entry_password }}</label>
      <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
      <a href="{{ forgotten }}">{{ text_forgotten }}</a>
    </div>
    <button type="submit" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_login }}</button>
  </fieldset>
</form>
