<form id="form-payment-method">
  <fieldset class="">
    <legend>{{ text_payment_method }}</legend>
    <div class="input-group">
      <select name="payment_method" id="input-payment-method" class="form-select"{% if not code %} disabled{% endif %}>
        <option value="">{{ text_select }}</option>
        {% for payment_method in payment_methods %}
          {% if payment_method.code == code or not code %}
            {% set code = payment_method.code %}
            <option value="{{ payment_method.code }}" selected>{{ payment_method.title }}</option>
          {% else %}
            <option value="{{ payment_method.code }}">{{ payment_method.title }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button type="button" id="button-payment-refresh" class="btn btn-light"><i class="fas fa-sync"></i></button>
    </div>
  </fieldset>
</form>
<script type="text/javascript"><!--
// Payment Method
$('#button-payment-refresh').on('click', function() {
    var element = this;

    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/payment_method|getMethods',
            dataType: 'json',
            beforeSend: function() {
                $(element).prop('disabled', true);
            },
            complete: function() {
                $(element).prop('disabled', false);
            },
            success: function(json) {
                $('.alert-dismissible').remove();

                console.log(json);

                html = '<option value="">{{ text_select }}</option>';

                if (json['payment_methods']) {
                    for (i in json['payment_methods']) {
                        if (json['payment_methods'][i]['code'] == $('#input-payment-method').val()) {
                            html += '<option value="' + json['payment_methods'][i]['code'] + '" selected>' + json['payment_methods'][i]['title'] + '</option>';
                        } else {
                            html += '<option value="' + json['payment_methods'][i]['code'] + '">' + json['payment_methods'][i]['title'] + '</option>';
                        }
                    }
                }

                $('#input-payment-method').html(html);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});

// Payment Method
$('#input-payment-method').on('change', function() {
    var element = this;

    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/payment_method|save',
            type: 'post',
            data: $('#form-payment-method').serialize(),
            dataType: 'json',
            beforeSend: function() {
                $(element).prop('disabled', true);
            },
            beforeSend: function() {
                $(element).prop('disabled', false);
            },
            success: function(json) {
                $('.alert-dismissible').remove();

                console.log(json);

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                    $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                if (json['success']) {
                    $('#checkout-confirm').load('index.php?route=checkout/confirm|confirm');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
//--></script>