<fieldset>
  <legend>{{ text_payment_method }}</legend>
  <select name="payment_method" id="input-payment-method" class="form-select">
    <option value="">{{ text_select }}</option>
    {% for payment_method in payment_methods %}
      {% if payment_method.code == code or not code %}
        {% set code = payment_method.code %}
        <option value="{{ payment_method.code }}" selected>{{ payment_method.title }}</option>
      {% else %}
        <option value="{{ payment_method.code }}">{{ payment_method.title }}</option>
      {% endif %}
    {% endfor %}
  </select>
</fieldset>

<div class="form-check">
  {% if payment_method.terms %}({{ payment_method.terms }}){% endif %}
</div>


<div class="d-inline-block pt-2 pd-2 w-100">
  <div class="float-end">
    {% if text_agree %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">{{ text_agree }}</label> <input type="checkbox" name="agree" value="1" class="form-check-input"{% if agree %} checked{% endif %}/>
        &nbsp;
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript"><!--
// Payment Method
$('#button-payment-method').on('click', function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/payment_method|save',
            type: 'post',
            data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-payment-method').button('loading');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#button-payment-method').button('reset');

                    if (json['error']['warning']) {
                        $('#collapse-payment-method .card-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                    }
                } else {
                    chain.attach(function() {
                        return $.ajax({
                            url: 'index.php?route=checkout/confirm',
                            dataType: 'html',
                            complete: function() {
                                $('#button-payment-method').button('reset');
                            },
                            success: function(output, textStatus, jqXHR) {
                                // If HTML response display
                                if (jqXHR.getResponseHeader('content-type').substr(5, 4) == 'html') {
                                    $('#collapse-checkout-confirm .card-body').html(output);
                                }

                                // If JSON use eval to turn into object.
                                if (jqXHR.getResponseHeader('content-type').substr(11, 4) == 'json') {
                                    var json = eval('(' + output + ')');

                                    if (json['redirect']) {
                                        location = json['redirect'];
                                    }
                                }
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                oc.alert('danger', thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    });
                }

            },
            error: function(xhr, ajaxOptions, thrownError) {
                oc.alert('danger', thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
//--></script>