<fieldset id="account">
  <legend>{{ text_your_details }}</legend>
  <div class="row row-cols-2">
    <div class="col mb-3 required">

      <div class="form-check form-check-inline">
        <input type="radio" name="account" value="1" id="input-account" class="form-check-input"{% if account %} checked{% endif %}/> <label for="input-account" class="form-check-label">Create account</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="account" value="0" id="input-guest" class="form-check-input"{% if not account %} checked{% endif %}/> <label for="input-guest" class="form-check-label">Guest</label>
      </div>
    </div>

    <div class="col mb-3 required{{ customer_groups|length <= 1 ? ' d-none' }}">
      <label class="form-label">{{ entry_customer_group }}</label>
      <div>
        {% for customer_group in customer_groups %}
          <div class="form-check form-check-inline">
            <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" id="input-register-group-{{ customer_group.customer_group_id }}" class="form-check-input"{% if customer_group.customer_group_id == customer_group_id %} checked{% endif %}/> <label for="input-customer-group-{{ customer_group.customer_group_id }}" class="form-check-label">{{ customer_group.name }}</label>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col mb-3 required">
      <label for="input-register-firstname" class="form-label">{{ entry_firstname }}</label> <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="form-control"/>
    </div>


    <div class="col mb-3 required">
      <label for="input-register-lastname" class="form-label">{{ entry_lastname }}</label> <input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="form-control"/>
    </div>


    <div class="col mb-3 required">
      <label for="input-register-email" class="form-label">{{ entry_email }}</label> <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-payment-email" class="form-control"/>
    </div>


    <div class="col mb-3 required">
      <label for="input-register-telephone" class="form-label">{{ entry_telephone }}</label> <input type="text" name="telephone" value="" placeholder="{{ entry_telephone }}" id="input-payment-telephone" class="form-control"/>
    </div>

    {% for custom_field in custom_fields %}

      {% if custom_field.location == 'account' %}
        {% if custom_field.type == 'select' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="form-label">{{ custom_field.name }}</label> <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-select">
              <option value="">{{ text_select }}</option>
              {% for custom_field_value in custom_field.custom_field_value %}
                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}

        {% if custom_field.type == 'radio' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-form-label">{{ custom_field.name }}</label>
            <div id="input-customer-custom-field-{{ custom_field.custom_field_id }}">
              {% for custom_field_value in custom_field.custom_field_value %}
                <div class="form-check">
                  <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" id="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> <label for="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-label">{{ custom_field_value.name }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if custom_field.type == 'checkbox' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-form-label">{{ custom_field.name }}</label>
            <div id="input-customer-custom-field-{{ custom_field.custom_field_id }}">
              {% for custom_field_value in custom_field.custom_field_value %}
                <div class="form-check">
                  <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" id="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> <label for="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-label">{{ custom_field_value.name }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if custom_field.type == 'text' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="col-form-label">{{ custom_field.name }}</label> <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
          </div>
        {% endif %}

        {% if custom_field.type == 'textarea' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="col-form-label">{{ custom_field.name }}</label> <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
          </div>
        {% endif %}

        {% if custom_field.type == 'file' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-form-label">{{ custom_field.name }}</label>
            <br/>
            <button type="button" id="button-payment-custom-field-{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
            <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field-{{ custom_field.custom_field_id }}"/>
          </div>
        {% endif %}

        {% if custom_field.type == 'date' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="col-form-label">{{ custom_field.name }}</label>
            <div class="input-group date">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
            </div>
          </div>
        {% endif %}

        {% if custom_field.type == 'time' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="col-form-label">{{ custom_field.name }}</label>
            <div class="input-group time">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
            </div>
          </div>
        {% endif %}

        {% if custom_field.type == 'datetime' %}
          <div id="payment-custom-field-{{ custom_field.custom_field_id }}" class="col mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="col-form-label">{{ custom_field.name }}</label>
            <div class="input-group datetime">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-customer-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
            </div>
          </div>
        {% endif %}

      {% endif %}
    {% endfor %}
  </div>
</fieldset>

{% if not config_checkout_address %}
  <fieldset id="payment-address">
    <legend>Address</legend>
    <div class="row row-cols-2">
      <div class="col mb-3">
        <label for="input-payment-company" class="form-label">{{ entry_company }}</label> <input type="text" name="company" value="" placeholder="{{ entry_company }}" id="input-payment-company" class="form-control"/>
      </div>
      <div class="col mb-3 required">
        <label for="input-payment-address-1" class="form-label">{{ entry_address_1 }}</label> <input type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="form-control"/>
      </div>
      <div class="col mb-3">
        <label for="input-payment-address-2" class="form-label">{{ entry_address_2 }}</label> <input type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="form-control"/>
      </div>
      <div class="col mb-3 required">
        <label for="input-payment-city" class="form-label">{{ entry_city }}</label> <input type="text" name="city" value="" placeholder="{{ entry_city }}" id="input-payment-city" class="form-control"/>
      </div>
      <div class="col mb-3 required">
        <label for="input-payment-postcode" class=form-label">{{ entry_postcode }}</label> <input type="text" name="postcode" value="" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control"/>
      </div>
      <div class="col mb-3 required">
        <label for="input-payment-country" class="form-label">{{ entry_country }}</label> <select name="country_id" id="input-payment-country" class="form-select">
          <option value="">{{ text_select }}</option>
          {% for country in countries %}
            <option value="{{ country.country_id }}"{% if country.country_id == country_id %} selected="selected"{% endif %}>{{ country.name }}</option>
          {% endfor %}
        </select>

      </div>
      <div class="col mb-3 required">
        <label for="input-payment-zone" class="form-label">{{ entry_zone }}</label> <select name="zone_id" id="input-payment-zone" class="form-select"> </select>
      </div>

      {% for custom_field in custom_fields %}

        {% if custom_field.type == 'select' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-label">{{ custom_field.name }}</label>

            <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-select">
              <option value="">{{ text_select }}</option>
              {% for custom_field_value in custom_field.custom_field_value %}
                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
              {% endfor %}
            </select>

          </div>
        {% endif %}
        {% if custom_field.type == 'radio' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="form-label">{{ custom_field.name }}</label>
            <div id="input-payment-custom-field-{{ custom_field.custom_field_id }}">
              {% for custom_field_value in custom_field.custom_field_value %}
                <div class="form-check">
                  <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" id="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> <label for="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-label">{{ custom_field_value.name }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if custom_field.type == 'checkbox' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="form-label">{{ custom_field.name }}</label>

            <div id="input-payment-custom-field-{{ custom_field.custom_field_id }}">
              {% for custom_field_value in custom_field.custom_field_value %}
                <div class="form-check">
                  <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" id="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> <label for="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-label">{{ custom_field_value.name }}</label>
                </div>
              {% endfor %}
            </div>

          </div>
        {% endif %}

        {% if custom_field.type == 'text' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-label">{{ custom_field.name }}</label> <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
          </div>
        {% endif %}

        {% if custom_field.type == 'textarea' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-label">{{ custom_field.name }}</label> <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
          </div>
        {% endif %}

        {% if custom_field.type == 'file' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="form-label">{{ custom_field.name }}</label>
            <button type="button" id="button-payment-custom-field-{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
            <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field-{{ custom_field.custom_field_id }}"/>

          </div>
        {% endif %}

        {% if custom_field.type == 'date' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-label">{{ custom_field.name }}</label>
            <div class="input-group date">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
            </div>
          </div>
        {% endif %}

        {% if custom_field.type == 'time' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-label">{{ custom_field.name }}</label>
            <div class="input-group time">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
            </div>
          </div>
        {% endif %}

        {% if custom_field.type == 'datetime' %}
          <div class="col mb-3{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
            <label for="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-label">{{ custom_field.name }}</label>
            <div class="input-group datetime">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
            </div>
          </div>
        {% endif %}



      {% endfor %}


      <div class="col mb-3">
        <div class="form-check">
          <input type="checkbox" name="shipping_address" value="1" id="input-shipping-address" class="form-check-input" checked/> <label for="input-shipping-address" class="form-check-label">{{ entry_shipping }}</label>
        </div>
      </div>


    </div>
  </fieldset>
{% endif %}

<fieldset id="password">
  <legend>{{ text_your_password }}</legend>
  <div class="row row-cols-2">
    <div class="col mb-3 required">
      <label for="input-payment-password" class="form-label">{{ entry_password }}</label> <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-payment-password" class="form-control"/>
    </div>
    <div class="col mb-3 required">
      <label for="input-payment-confirm" class="form-label">{{ entry_confirm }}</label> <input type="password" name="confirm" value="" placeholder="{{ entry_confirm }}" id="input-payment-confirm" class="form-control"/>
    </div>
  </div>
</fieldset>

<div class="row row-cols-2">
  <div class="col">{{ captcha }}</div>
  <div class="col">
    <fieldset>
      <div class="form-check">
        <label for="input-newsletter" class="form-check-label">{{ entry_newsletter }}</label> <input type="checkbox" name="newsletter" value="1" id="input-newsletter" class="form-check-input"/>
      </div>
      {% if text_agree %}
        <div class="form-check form-check-inline">
          <label class="form-check-label">{{ text_agree }}</label> <input type="checkbox" name="agree" value="1" class="form-check-input"/>
        </div>
      {% endif %}
      <div class="text-right">
        <button type="button" id="button-register" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
      </div>
    </fieldset>
  </div>
</div>
<script type="text/javascript"><!--
show
$('#checkout-register input[name=\'account\']').on('change', function() {
    console.log($(this).val());

    if ($(this).val()) {
        $('#password').fadeIn();
    } else {
        $('#password').fadeOut();
    }
});

$('#checkout-account input[name=\'customer_group_id\']:checked').trigger('change');

$('#checkout-register input[name=\'customer_group_id\']').on('change', function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/checkout|customfield&customer_group_id=' + $('#checkout-register input[name=\'customer_group_id\']:checked').val(), dataType: 'json', success: function(json) {
                $('#checkout-register .custom-field').hide();
                $('#checkout-register .custom-field').removeClass('required');

                for (i = 0; i < json.length; i++) {
                    custom_field = json[i];

                    $('#customer-custom-field' + custom_field['custom_field_id']).show();

                    if (custom_field['required']) {
                        $('#customer-custom-field' + custom_field['custom_field_id']).addClass('required');
                    }
                }
            }, error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});

$('#checkout-register input[name=\'customer_group_id\']:checked').trigger('change');

// Register
$('#button-register').on('click', function() {
    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/register|save', type: 'post', data: $('#checkout-account input[type=\'text\'], #checkout-account input[type=\'date\'], #checkout-account input[type=\'datetime-local\'], #checkout-account input[type=\'time\'], #checkout-account input[type=\'password\'], #checkout-account input[type=\'hidden\'], #checkout-account input[type=\'checkbox\']:checked, #checkout-account input[type=\'radio\']:checked, #checkout-account textarea, #collapse-payment-address select'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-register').button('loading');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.is-invalid').removeClass('is-invalid');

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                    $('#button-register').button('reset');

                    if (json['error']['warning']) {
                        $('#collapse-payment-address .card-body').prepend('<div class="alert alert-danger alert-dismissible"><i class = "fas fa-exclamation-circle" > < /i> ' + json['error']['warning'] + '<button type="button" class="btn-close" data-dismiss="alert"></button > < /div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        if ($(element).parent().hasClass('input-group')) {
                            $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                        } else {
                            $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                        }

                        $(element).addClass('is-invalid');
                    }
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Sort the custom fields
    $('#account .mb-3[data-sort]').detach().each(function() {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .mb-3').length) {
            $('#account .mb-3').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#account .mb-3').length) {
            $('#account .mb-3:last').after(this);
        }

        if ($(this).attr('data-sort') == $('#account .mb-3').length) {
            $('#account .mb-3:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#account .mb-3').length) {
            $('#account .mb-3:first').before(this);
        }
    });
});

$('#checkout-register button[id^=\'button-payment-custom-field\']').on('click', function() {
    var element = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    $('#form-upload input[name=\'file\']').on('change', function() {
        if (this.files[0].size > {{ config_file_max_size }}) {
            $(this).val('');

            alert('{{ error_upload_size }}');
        }
    });

    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }

    timer = setInterval(function() {
        if ($('#form-upload input[name=\'file\']').val() != '') {
            clearInterval(timer);

            $.ajax({
                url: 'index.php?route=tool/upload',
                type: 'post',
                dataType: 'json',
                data: new FormData($('#form-upload')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $(element).button('loading');
                },
                complete: function() {
                    $(element).button('reset');
                },
                success: function(json) {
                    $('.text-danger').remove();

                    if (json['error']) {
                        $(element).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        alert(json['success']);

                        $(element).parent().find('input[name^=\'custom_field\']').val(json['code']);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    }, 500);
});

$('.date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.time').datetimepicker({
    'format': 'HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.datetime').datetimepicker({
    'format': 'YYYY-MM-DD HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});
//--></script>