<form id="form-shipping-method">
  <fieldset>
    <legend>{{ text_shipping_method }}</legend>
    <div class="input-group">
      <select name="shipping_method" id="input-shipping-method" class="form-select"{% if not code %} disabled{% endif %}>
        {% for shipping_method in shipping_methods %}
          <optgroup label="{{ shipping_method.title }}">
            {% if not shipping_method.error %}
              {% for quote in shipping_method.quote %}
                {% if quote.code == code or not code %}
                  {% set code = quote.code %}
                  <option value="{{ quote.code }}" selected>{{ quote.title }} - {{ quote.text }}</option>
                {% else %}
                  <option value="{{ quote.code }}">{{ quote.title }} - {{ quote.text }}</option>
                {% endif %}
              {% endfor %}
            {% else %}
              <option value="" class="text-danger" disabled>{{ shipping_method.error }}</option>
            {% endif %}
          </optgroup>
        {% endfor %}
      </select>
      <button type="button" id="button-shipping-method" class="btn btn-light"><i class="fas fa-sync"></i></button>
    </div>
  </fieldset>
</form>
<script type="text/javascript"><!--
// Shipping Methods
$('#button-shipping-method').on('click', function() {
    var element = this;

    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/shipping_method|getMethods&language={{ language }}',
            dataType: 'json',
            beforeSend: function() {
                $('#input-shipping-method').prop('disabled', true);
            },
            complete: function() {
                $('#input-shipping-method').prop('disabled', false);
            },
            success: function(json) {
                $('.alert-dismissible').remove();

                console.log(json);

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                    $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                // Shipping Methods
                html = '<option value="">{{ text_select }}</option>';

                if (json['shipping_methods']) {
                    for (i in json['shipping_methods']) {
                        html += '<optgroup label="' + json['shipping_methods'][i]['title'] + '">';

                        if (!json['shipping_methods'][i]['error']) {
                            for (j in json['shipping_methods'][i]['quote']) {
                                html += '<option value="' + json['shipping_methods'][i]['quote'][j]['code'] + '">' + json['shipping_methods'][i]['quote'][j]['title'] + ' - ' + json['shipping_methods'][i]['quote'][j]['text'] + '</option>';
                            }
                        } else {
                            html += '<option value="" style="color: #ff0000;" disabled>' + json['shipping_methods'][i]['error'] + '</option>';
                        }

                        html += '</optgroup>';
                    }
                }

                var shipping_method = $('#input-shipping-method').val();

                $('#input-shipping-method').html(html);

                $('#input-shipping-method').val(shipping_method);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});

// Shipping Method
$('#input-shipping-method').on('change', function() {
    var element = this;

    chain.attach(function() {
        return $.ajax({
            url: 'index.php?route=checkout/shipping_method|save&language={{ language }}&shipping_method=' + $(element).val(),
            dataType: 'json',
            beforeSend: function() {
                $(element).prop('disabled', true);
            },
            beforeSend: function() {
                $(element).prop('disabled', false);
            },
            success: function(json) {
                $('.alert-dismissible').remove();

                console.log(json);

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                    $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                if (json['success']) {
                    $('#button-payment-method').trigger('click');

                    $('#checkout-confirm').load('index.php?route=checkout/confirm|confirm&language={{ language }}');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
//--></script>