<div id="openbay-info">
  <div class="form-horizontal">
    <div class="alert alert-warning">{{ text_marketplace_shipped }}</div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="carrier-id">{{ entry_courier }}</label>
      <div class="col-sm-10">
        <select name="carrier_id" id="carrier-id" class="form-control openbay-data">
          {% for carrier in carriers %}
            <option{% if order_info.carrier_id is not empty and order_info.carrier_id == carrier.description %} selected{% endif %}>{{ carrier.description }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="tracking-no">{{ entry_tracking }}</label>
      <div class="col-sm-10">
        <input type="text" name="tracking_no" value="{{ order_info.tracking_no }}" placeholder="{{ entry_tracking }}" id="tracking-no" class="form-control openbay-data" />
      </div>
    </div>
    <input type="hidden" value="eBay" id="order-channel"/>
  </div>
</div>

<script type="text/javascript">
  function verifyStatusChange() {
  }
</script>
