{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-ebay-settings" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" onclick="validateForm(); return false;"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-opencart"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-ebay-settings" class="form-horizontal">
          <input type="hidden" name="ebay_itm_link" value="{{ ebay_itm_link }}" />
          {% if ebay_token is empty %}
          <a href="{{ link_signup }}" target="_blank"><div class="alert alert-info"><h5 style="font-size: 14px;"><i class="fa fa-user-plus fa-2x"></i>&nbsp;&nbsp;{{ text_register_banner }}</h5></div></a>
          {% endif %}
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_api_info }}</a></li>
            <li><a href="#tab-setup" data-toggle="tab">{{ tab_setup }}</a></li>
            <li><a href="#tab-defaults" data-toggle="tab">{{ tab_defaults }}</a></li>
          </ul>
          <div class="tab-content">
          <div class="tab-pane active" id="tab-general">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ebay-status">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="ebay_status" id="ebay-status" class="form-control">
                  {% if ebay_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ebay-token">{{ entry_token }}</label>
              <div class="col-sm-10">
                <input type="text" name="ebay_token" value="{{ ebay_token }}" placeholder="{{ entry_token }}" id="ebay-token" class="form-control credentials" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ebay-secret">{{ entry_secret }}</label>
              <div class="col-sm-10">
                <input type="text" name="ebay_secret" value="{{ ebay_secret }}" placeholder="{{ entry_secret }}" id="ebay-secret" class="form-control credentials" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ebay-encryption-key">{{ entry_encryption_key }}</label>
              <div class="col-sm-10">
                <input type="text" name="ebay_encryption_key" value="{{ ebay_encryption_key }}" placeholder="{{ entry_encryption_key }}" id="ebay-encryption-key" class="form-control credentials" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ebay-encryption-iv">{{ entry_encryption_iv }}</label>
              <div class="col-sm-10">
                <input type="text" name="ebay_encryption_iv" value="{{ ebay_encryption_iv }}" placeholder="{{ entry_encryption_iv }}" id="ebay-encryption-iv" class="form-control credentials" />
              </div>
            </div>
            <div class="form-group" id="api-status-container" style="display: none;">
              <label class="col-sm-2 control-label">{{ text_api_status }}</label>
              <div class="col-sm-10">
                <h4><span id="api-status" class="label" style="display:none;"></span></h4>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">{{ text_api_other }}</label>
              <div class="col-sm-10">
                <a href="{{ link_token_renew }}" target="_BLANK" class="btn btn-default"><i class="fa fa-link"></i> {{ text_token_renew }}</a> &nbsp;
                <a href="{{ link_update }}" target="_BLANK" class="btn btn-default"><i class="fa fa-link"></i> {{ text_obp_detail_update }}</a>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-setup">
            <fieldset>
              <legend>{{ text_app_settings }}</legend>
              <p>{{ text_application_settings }}</p>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay-enditems"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_end_items }}">{{ entry_end_items }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_enditems" id="ebay-enditems" class="form-control">
                    {% if ebay_enditems == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-relistitems"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_relist_items }}">{{ entry_relist_items }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_relistitems" id="entry-relistitems" class="form-control">
                    {% if ebay_relistitems == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-disable-nostock"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_disable_soldout }}">{{ entry_disable_soldout }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_disable_nostock" id="entry-disable-nostock" class="form-control">
                    {% if ebay_disable_nostock == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_logging">{{ entry_debug }}</label>
                <div class="col-sm-10">
                  <select name="ebay_logging" id="ebay_logging" class="form-control">
                    {% if ebay_logging == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-default-currency"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_currency }}">{{ entry_currency }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_def_currency" id="entry-default-currency" class="form-control">
                    {% for currency in currency_list %}
                      <option value="{{ currency.code }}"{% if ebay_def_currency == currency.code %} selected{% endif %}>{{ currency.title }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-stock-allocate"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_stock_allocate }}">{{ entry_stock_allocate }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_stock_allocate" id="entry-stock-allocate" class="form-control">
                    {% if ebay_stock_allocate %}
                      <option value="1" selected="selected">{{ text_allocate_2 }}</option>
                      <option value="0">{{ text_allocate_1 }}</option>
                    {% else %}
                      <option value="1">{{ text_allocate_2 }}</option>
                      <option value="0" selected="selected">{{ text_allocate_1 }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-created-hours"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_created_hours }}">{{ entry_created_hours }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="ebay_created_hours" value="{{ ebay_created_hours }}" placeholder="{{ entry_created_hours }}" id="entry-created-hours" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-create-date"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_create_date }}">{{ entry_create_date }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_create_date" id="entry-create-date" class="form-control">
                    {% if ebay_create_date == 1 %}
                      <option value="1" selected="selected">{{ text_create_date_1 }}</option>
                      <option value="0">{{ text_create_date_0 }}</option>
                    {% else %}
                      <option value="1">{{ text_create_date_1 }}</option>
                      <option value="0" selected="selected">{{ text_create_date_0 }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-time-offset"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_timezone_offset }}">{{ entry_timezone_offset }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_time_offset" id="entry-time-offset" class="form-control">
                    <option value="-12"{% if ebay_time_offset == "-12" %} selected{% endif %}>-12</option>
                    <option value="-11"{% if ebay_time_offset == "-11" %} selected{% endif %}>-11</option>
                    <option value="-10"{% if ebay_time_offset == "-10" %} selected{% endif %}>-10</option>
                    <option value="-9"{% if ebay_time_offset == "-9" %} selected{% endif %}>-9</option>
                    <option value="-8"{% if ebay_time_offset == "-8" %} selected{% endif %}>-8</option>
                    <option value="-7"{% if ebay_time_offset == "-7" %} selected{% endif %}>-7</option>
                    <option value="-6"{% if ebay_time_offset == "-6" %} selected{% endif %}>-6</option>
                    <option value="-5"{% if ebay_time_offset == "-5" %} selected{% endif %}>-5</option>
                    <option value="-4"{% if ebay_time_offset == "-4" %} selected{% endif %}>-4</option>
                    <option value="-3"{% if ebay_time_offset == "-3" %} selected{% endif %}>-3</option>
                    <option value="-2"{% if ebay_time_offset == "-2" %} selected{% endif %}>-2</option>
                    <option value="-1"{% if ebay_time_offset == "-1" %} selected{% endif %}>-1</option>
                    <option value="0"{% if ebay_time_offset == "0" %} selected{% endif %}>0</option>
                    <option value="+1"{% if ebay_time_offset == "+1" %} selected{% endif %}>+1</option>
                    <option value="+2"{% if ebay_time_offset == "+2" %} selected{% endif %}>+2</option>
                    <option value="+3"{% if ebay_time_offset == "+3" %} selected{% endif %}>+3</option>
                    <option value="+4"{% if ebay_time_offset == "+4" %} selected{% endif %}>+4</option>
                    <option value="+5"{% if ebay_time_offset == "+5" %} selected{% endif %}>+5</option>
                    <option value="+6"{% if ebay_time_offset == "+6" %} selected{% endif %}>+6</option>
                    <option value="+7"{% if ebay_time_offset == "+7" %} selected{% endif %}>+7</option>
                    <option value="+8"{% if ebay_time_offset == "+8" %} selected{% endif %}>+8</option>
                    <option value="+9"{% if ebay_time_offset == "+9" %} selected{% endif %}>+9</option>
                    <option value="+10"{% if ebay_time_offset == "+10" %} selected{% endif %}>+10</option>
                    <option value="+11"{% if ebay_time_offset == "+11" %} selected{% endif %}>+11</option>
                    <option value="+12"{% if ebay_time_offset == "+12" %} selected{% endif %}>+12</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-address-format"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_address_format }}">{{ entry_address_format }}</span></label>
                <div class="col-sm-10">
                  <textarea name="ebay_default_addressformat" class="form-control" rows="3" id="entry-address-format">{{ ebay_default_addressformat }}</textarea>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_notify_settings }}</legend>
              <p>{{ text_notifications }}</p>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-update-notify"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_notify_order_update }}">{{ entry_notify_order_update }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_update_notify" id="entry-update-notify" class="form-control">
                    {% if ebay_update_notify == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-confirm-notify"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_notify_buyer }}">{{ entry_notify_buyer }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_confirm_notify" id="entry-confirm-notify" class="form-control">
                    {% if ebay_confirm_notify == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-confirm-admin-notify"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_notify_admin }}">{{ entry_notify_admin }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_confirmadmin_notify" id="entry-confirm-admin-notify" class="form-control">
                    {% if ebay_confirmadmin_notify == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_default_import }}</legend>
              <p>{{ text_import_description }}</p>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_import_pending }}</label>
                <div class="col-sm-10">
                  <input type="hidden" name="ebay_import_unpaid" value="0" />
                  <input type="checkbox" name="ebay_import_unpaid" value="1"{% if ebay_import_unpaid == 1 %} checked="checked"{% endif %} />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_status_import_id">{{ entry_import_def_id }}</label>
                <div class="col-sm-10">
                  <select name="ebay_status_import_id" id="ebay_status_import_id" class="form-control">
                    {% if ebay_status_import_id is empty %} {% set ebay_status_import_id = 1 %} {% endif %}
                    {% for status in order_statuses %}
                      <option value="{{ status.order_status_id }}"{% if ebay_status_import_id == status.order_status_id %} selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_status_paid_id">{{ entry_import_paid_id }}</label>
                <div class="col-sm-10">
                  <select name="ebay_status_paid_id" id="ebay_status_paid_id" class="form-control">
                    {% if ebay_status_paid_id is empty %}{% set ebay_status_paid_id = 2 %}{% endif %}
                    {% for status in order_statuses %}
                      <option value="{{ status.order_status_id }}"{% if ebay_status_paid_id == status.order_status_id %} selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_status_shipped_id">{{ entry_import_shipped_id }}</label>
                <div class="col-sm-10">
                  <select name="ebay_status_shipped_id" id="ebay_status_shipped_id" class="form-control">
                    {% if ebay_status_shipped_id is empty %}{% set ebay_status_shipped_id = 3 %}{% endif %}
                    {% for status in order_statuses %}
                      <option value="{{ status.order_status_id }}"{% if ebay_status_shipped_id == status.order_status_id %} selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_status_cancelled_id">{{ entry_import_cancelled_id }}</label>
                <div class="col-sm-10">
                  <select name="ebay_status_cancelled_id" id="ebay_status_cancelled_id" class="form-control">
                    {% if ebay_status_cancelled_id is empty %}{% set ebay_status_cancelled_id = 7 %}{% endif %}
                    {% for status in order_statuses %}
                      <option value="{{ status.order_status_id }}"{% if ebay_status_cancelled_id == status.order_status_id %} selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_status_partial_refund_id">{{ entry_import_part_refund_id }}</label>
                <div class="col-sm-10">
                  <select name="ebay_status_partial_refund_id" id="ebay_status_partial_refund_id" class="form-control">
                    {% if ebay_status_partial_refund_id is empty %}{% set ebay_status_partial_refund_id = 2 %}{% endif %}
                    {% for status in order_statuses %}
                      <option value="{{ status.order_status_id }}"{% if ebay_status_partial_refund_id == status.order_status_id %} selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_status_refunded_id">{{ entry_import_refund_id }}</label>
                <div class="col-sm-10">
                  <select name="ebay_status_refunded_id" id="ebay_status_refunded_id" class="form-control">
                    {% if ebay_status_refunded_id is empty %}{% set ebay_status_refunded_id = 11 %}{% endif %}
                    {% for status in order_statuses %}
                      <option value="{{ status.order_status_id }}"{% if ebay_status_refunded_id == status.order_status_id %} selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_developer }}</legend>
              <p>{{ text_developer_description }}</p>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="button-clear-locks">{{ entry_developer_locks }}</label>
                <div class="col-sm-10"> <a class="btn btn-primary" id="button-clear-locks">{{ button_clear }}</a> </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="button-repair-links">{{ button_repair_links }}</label>
                <div class="col-sm-10"> <a class="btn btn-primary" id="button-repair-links">{{ button_update }}</a> </div>
              </div>
            </fieldset>
          </div>
          <div class="tab-pane" id="tab-defaults">
            <fieldset>
              <legend>{{ text_listing }}</legend>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-duration"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_duration }}">{{ entry_duration }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_duration" id="entry-duration" class="form-control">
                    {% for key,duration in durations %}
                      <option value="{{ key }}"{% if key == ebay_duration %} selected{% endif %}>{{ duration }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-measurement"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_measurement }}">{{ entry_measurement }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_measurement" id="entry-measurement" class="form-control">
                    {% for key,type in measurement_types %}
                      <option value="{{ key }}"{% if key == ebay_measurement %} selected{% endif %}>{{ type }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_payments }}</legend>
              <p>{{ text_payments_description }}</p>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-payment-instruction"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_payment_instruction }}">{{ entry_payment_instruction }}</span></label>
                <div class="col-sm-10">
                  <textarea name="ebay_payment_instruction" class="form-control" rows="3" id="entry-payment-instruction">{{ ebay_payment_instruction }}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ebay_payment_paypal_address">{{ text_payment_paypal_add }}</label>
                <div class="col-sm-10">
                  <input type="text" name="ebay_payment_paypal_address" value="{{ ebay_payment_paypal_address }}" placeholder="{{ text_payment_paypal_add }}" id="ebay_payment_paypal_address" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_payment_types }}</label>
                <div class="col-sm-10">
                  {% for payment in payment_options %}
                  <div class="checkbox">
                    <label>
                      <input type="hidden" name="ebay_payment_types[{{ payment.ebay_name }}]" value="0" />
                      <input type="checkbox" name="ebay_payment_types[{{ payment.ebay_name }}]" value="1"{% if ebay_payment_types[payment.ebay_name] == 1 %} checked="checked"{% endif %} />
                      {{ payment.local_name }}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-payment-immediate"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_payment_immediate }}">{{ entry_payment_immediate }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_payment_immediate" id="entry-payment-immediate" class="form-control">
                    {% if ebay_payment_immediate == 1 %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-tax-listing"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_listing_tax }}">{{ entry_tax_listing }}</span></label>
                <div class="col-sm-10">
                  <select name="ebay_tax_listing" id="entry-tax-listing" class="form-control">
                    <option value="0"{% if ebay_tax_listing == 0 %} selected{% endif %}>{{ text_tax_use_value }}</option>
                    <option value="1"{% if ebay_tax_listing == 1 %} selected{% endif %}>{{ text_tax_use_listing }}</option>
                    <option value="2"{% if ebay_tax_listing == 2 %} selected{% endif %}>{{ text_tax_use_product }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" id="entry-tax-listing-preset">
                <label class="col-sm-2 control-label" for="entry-tax"><span data-toggle="tooltip" data-container="#tab-setup" title="{{ help_tax }}">{{ entry_tax }}</span></label>
                <div class="col-sm-10">
                  <div class="input-group col-xs-2">
                    <input type="text" name="ebay_tax" value="{{ ebay_tax }}" id="entry-tax" class="form-control" />
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
    $('#button-clear-locks').bind('click', function() {
      $.ajax({
        url: 'index.php?route=extension/openbay/ebay/deleteAllLocks&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        beforeSend: function() {
          $('#button-clear-locks').empty().html('<i class="fa fa-cog fa-lg fa-spin"></i>');
        },
        success: function(json) {
          setTimeout(function() {
            alert(json.msg);
            $('#button-clear-locks').empty().html('{{ button_clear }}');
          }, 500);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          if (xhr.status != 0) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); }
          $('#button-clear-locks').empty().html('{{ button_clear }}');
        }
      });
    });

    $('#button-repair-links').bind('click', function() {
      $.ajax({
        url: 'index.php?route=extension/openbay/ebay/repairLinks&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        beforeSend: function() {
          $('#button-repair-links').empty().html('<i class="fa fa-cog fa-lg fa-spin"></i>');
        },
        success: function(json) {
          setTimeout(function() {
            alert(json.msg);
            $('#button-repair-links').empty().html('{{ button_update }}');
          }, 500);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          if (xhr.status != 0) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); }
          $('#button-repair-links').empty().html('{{ button_update }}');
        }
      });
    });

    function validateForm() {
        $('#form-ebay-settings').submit();
    }

    function checkCredentials() {
        var token = $('#ebay-token').val();
        var secret = $('#ebay-secret').val();
        var encryption_key = $('#ebay-encryption-key').val();
        var encryption_iv = $('#ebay-encryption-iv').val();

        if (token.length > 25 && secret.length > 1 && encryption_key.length > 25 && encryption_iv.length > 25) {
          $.ajax({
              url: 'index.php?route=extension/openbay/ebay/verifycredentials&user_token={{ user_token }}',
              type: 'POST',
              dataType: 'json',
              data: {token: token, secret: secret, encryption_key: encryption_key, encryption_iv: encryption_iv},
              beforeSend: function() {
                $('#api-status-container').show();
                $('#api-status').removeClass('label-success').removeClass('label-danger').addClass('label-primary').html('<i class="fa fa-cog fa-lg fa-spin"></i> {{ text_checking_details }}').show();
              },
              success: function(data) {
                  if (data.error == false) {
                      $('#api-status').removeClass('label-primary').addClass('label-success').html('<i class="fa fa-check-square-o"></i> {{ text_api_ok }}: ' + data.data.expire);
                  } else {
                      $('#api-status').removeClass('label-primary').addClass('label-danger').html('<i class="fa fa-minus-square"></i> ' + data.msg);
                  }
              },
              failure: function() {
                $('#api-status').removeClass('label-primary').addClass('label-danger').html('<i class="fa fa-minus-square"></i> {{ error_api_connect }}');
              },
              error: function() {
                $('#api-status').removeClass('label-primary').addClass('label-danger').html('<i class="fa fa-minus-square"></i> {{ error_api_connect }}');
              }
          });
        }
    }

    function changeTaxHandler(){
        if ($('#entry-tax-listing').val() == 0){
            $('#entry-tax-listing-preset').show();
        }else{
            $('#entry-tax-listing-preset').hide();
        }
    }

    $('.credentials').change(function() {
      checkCredentials();
    });

    $('#entry-tax-listing').change(function() {
      changeTaxHandler();
    });

    $(document).ready(function() {
      checkCredentials();
      changeTaxHandler();
    });
//--></script>
{{ footer }}
