{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ text_dashboard }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="well"><a href="{{ links_settings }}"> <span class="fa-stack fa-3x"> <i class="fa fa-square-o fa-stack-2x"></i> <i class="fa fa-wrench fa-stack-1x"></i></span>
          <h4>{{ text_heading_settings }}</h4>
          </a></div>
      </div>
      {% if validation == true %}
      <div class="col-md-3 text-center">
        <div class="well"><a href="{{ links_products }}"> <span class="fa-stack fa-3x"> <i class="fa fa-square-o fa-stack-2x"></i> <i class="fa fa-link fa-stack-1x"></i></span>
          <h4>{{ text_heading_products }}</h4>
          </a></div>
      </div>
      <div class="col-md-3 text-center">
        <div class="well"><a href="{{ links_listings }}"> <span class="fa-stack fa-3x"> <i class="fa fa-square-o fa-stack-2x"></i> <i class="fa fa-tag fa-stack-1x"></i></span>
          <h4>{{ text_heading_listings }}</h4>
          </a></div>
      </div>
      {% else %}
      <div class="col-md-3 text-center">
        <div class="well"> <a href="{{ link_signup }}" target="_BLANK"> <span class="fa-stack fa-3x"> <i class="fa fa-square-o fa-stack-2x"></i> <i class="fa fa-star fa-stack-1x"></i></span>
          <h4>{{ text_heading_register }}</h4>
          </a></div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{{ footer }}
