{% if currencies|length > 1 %}

  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">

    <div class="row">
      <div class="col-xs-6"><strong>{{ text_currency }}</strong></div>
      <div class="col-xs-6 text-right">
        {% for currency in currencies %}

        {% if currency.symbol_left and currency.code == code %}
        <strong>{{ currency.symbol_left }}</strong>
        {{ currency.title }}
        {% elseif currency.symbol_right and currency.code == code %}
        <strong>{{ currency.symbol_right }}</strong>
        {{ currency.title }}
        {% endif %}

        {% endfor %}
      </div>

    </div>



    <hr/>

    <div class="row">
    {% for currency in currencies %}
    {% if currency.symbol_left %}

      <div class="col-xs-6"><button class="currency-select btn btn-default btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</button></div>

    {% else %}

      <div class="col-xs-6"><button class="currency-select btn btn-default btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</button></div>

    {% endif %}
    {% endfor %}
    </div>

    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>

{% endif %}
