<div class="accordion-item">
  <h2 class="accordion-header"><button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-coupon">{{ heading_title }}</button></h2>
  <div id="collapse-coupon" class="accordion-collapse collapse">
    <div class="accordion-body">
      <form id="form-coupon" action="{{ save }}" method="post" data-oc-toggle="ajax">
        <div class="row">
          <label for="input-coupon" class="col-md-2 col-form-label">{{ entry_coupon }}</label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}" id="input-coupon" class="form-control"/>
              {% if not coupon %}
                <button type="submit" id="button-coupon" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_coupon }}</button>
              {% else %}
                <button type="button" id="button-remove" data-loading-text="{{ text_loading }}" class="btn btn-danger">{{ button_remove }}</button>
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript"><!--
  $('#form-coupon').on('submit', function(e) {
      e.preventDefault();

      $.ajax({
          url: 'index.php?route=extension/opencart/total/coupon|save',
          type: 'post',
          data: $('#form-coupon').serialize(),
          dataType: 'json',
          beforeSend: function() {
              $('#button-coupon').button('loading');
          },
          complete: function() {
              $('#button-coupon').button('reset');
          },
          success: function(json) {
              $('.alert-dismissible').remove();

              if (json['redirect']) {
                  location = json['redirect'];
              }

              if (json['error']) {
                  $('#collapse-coupon .card-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
              }


          },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
  });

  $('#button-coupon-remove').on('click', function() {
      $.ajax({
          url: 'index.php?route=extension/opencart/total/coupon|remove',
          dataType: 'json',
          beforeSend: function() {
              $('#button-coupon').button('loading');
          },
          complete: function() {
              $('#button-coupon').button('reset');
          },
          success: function(json) {
              $('.alert-dismissible').remove();

              if (json['redirect']) {
                  location = json['redirect'];
              }
          },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
  });
  //--></script>
</div>

