<div class="accordion-item">
  <h2 class="accordion-header"><button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-reward">{{ heading_title }}</button></h2>
  <div id="collapse-reward" class="accordion-collapse collapse" data-bs-parent="#accordion">
    <div class="accordion-body">
      <form id="form-reward" action="{{ save }}" method="post" data-oc-toggle="ajax">
        <div class="row">
          <label for="input-reward" class="col-md-2 col-form-label">{{ entry_reward }}</label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" name="reward" value="{{ reward }}" placeholder="{{ entry_reward }}" id="input-reward" class="form-control"/>
              <button type="submit" id="button-reward" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_reward }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript"><!--
  $('#form-reward').on('submit', function(e) {
      e.preventDefault();

      $.ajax({
          url: 'index.php?route=extension/opencart/total/reward|save',
          type: 'post',
          data: $('#form-reward').serialize(),
          dataType: 'json',
          beforeSend: function() {
              $('#button-reward').button('loading');
          },
          complete: function() {
              $('#button-reward').button('reset');
          },
          success: function(json) {
              $('.alert-dismissible').remove();

              if (json['redirect']) {
                  location = json['redirect'];
              }

              if (json['error']) {
                  $('#collapse-reward .card-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
              }


          },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
  });
  //--></script>
</div>
