<div class="accordion-item">
  <h2 class="accordion-header"><button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-subscription-discount">{{ heading_title }}</button></h2>
  <div id="collapse-subscription-discount" class="accordion-collapse collapse" data-bs-parent="#accordion">
    <div class="accordion-body">
      <form id="form-subscription-discount" action="{{ save }}" method="post" data-oc-toggle="ajax" data-oc-load="{{ list }}" data-oc-target="#shopping-cart">
        <div class="row mb-3">
          <label for="input-subscription-discount" class="col-md-4 col-form-label">{{ entry_subscription_discount }}</label>
          <div class="col-md-8">
            <input type="text" name="subscription_discount" value="{{ subscription_discount }}" placeholder="{{ entry_subscription_discount }}" id="input-subscription-discount" class="form-control"/>
          </div>
        </div>
        <div class="text-end"><button type="submit" class="btn btn-primary">{{ button_subscription_discount }}</button></div>
      </form>
    </div>
  </div>
</div>
