<div class="accordion-item">
  <h2 class="accordion-header"><button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-voucher">{{ heading_title }}</button></h2>
  <div id="collapse-voucher" class="accordion-collapse collapse" data-bs-parent="#accordion">
    <div class="accordion-body">
      <form id="form-voucher" action="{{ save }}" method="post" data-oc-toggle="ajax" data-oc-load="{{ list }}" data-oc-target="#shopping-cart">

        <div class="row mb-3">
          <label for="input-voucher" class="col-md-4 col-form-label">{{ entry_voucher }}</label>
          <div class="col-md-8">
            <input type="text" name="voucher" value="{{ voucher }}" placeholder="{{ entry_voucher }}" id="input-voucher" class="form-control"/>
          </div>
        </div>

        <div class="text-end"><button type="submit" class="btn btn-primary">{{ button_voucher }}</button></div>

      </form>
    </div>
  </div>
</div>
