<footer class="py-4">
  <div class="container">
    <nav class="nav nav-pills flex-column flex-sm-row justify-content-center align-items-center">
      <a class="text-sm-center nav-link" href="https://www.opencart.com/?utm_source=opencart_install&utm_medium=footer_link&utm_campaign=opencart_install" target="_blank">{{ text_project }}</a>
      <a class="text-sm-center nav-link" href="https://docs.opencart.com/?utm_source=opencart_install&utm_medium=footer_link&utm_campaign=opencart_install" target="_blank">{{ text_documentation }}</a>
      <a class="text-sm-center nav-link" href="https://forum.opencart.com/?utm_source=opencart_install&utm_medium=footer_link&utm_campaign=opencart_install" target="_blank">{{ text_support }}</a>
    </nav>
    <div class="text-center">{{ text_copyright }}</div>
  </div>
</footer>
</div>
</body>
<script src="view/javascript/jquery.min.js"></script>
<script src="view/javascript/bootstrap.bundle.min.js"></script>
<script src="view/javascript/common.js"></script>
{% if scripts %}
{% for script in scripts %}
  <script src="{{ script }}"></script>
{% endfor %}
{% endif %}
</html>
