<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{{ title }}</title>
  <base href="{{ base }}">
  <link rel="stylesheet" href="view/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="view/stylesheet/fontawesome.min.css">
  <link rel="stylesheet" href="view/stylesheet/opencart.css">
</head>
<body>
<div id="container">
  <header id="header" class="navbar navbar-expand navbar-light bg-light">
    <div class="container"><a href="{{ home }}" class="navbar-brand d-block"><img src="view/image/logo.png" alt="OpenCart" title="OpenCart"></a></div>
  </header>
