<div class="float-end dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">{{ text_language }} <i class="fa-solid fa-caret-down fa-fw"></i></button>
  <div class="dropdown-menu dropdown-menu-end">
    {% for language in languages %}
      <a href="{{ language.href }}" class="dropdown-item{% if language == code %} active{% endif %}"><img src="language/{{ language.code }}/{{ language.code }}.png"/> {{ language.text }}</a>
    {% endfor %}
  </div>
</div>
