<div id="modal-opencart" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-cog"></i> {{ heading_title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info"><i class="fa-solid fa-info-circle"></i> {{ text_signup }}</div>
        <div class="mb-3">
          <label for="input-username" class="form-label">{{ entry_username }}</label> <input type="text" name="opencart_username" value="" placeholder="{{ entry_username }}" id="input-username" class="form-control"/>
          <div id="error-username" class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
          <label for="input-secret" class="form-label">{{ entry_secret }}</label> <textarea name="opencart_secret" placeholder="{{ entry_secret }}" rows="8" id="input-secret" class="form-control"></textarea>
          <div id="error-secret" class="invalid-feedback"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="button-save" class="btn btn-primary">{{ button_save }}</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-save').on('click', function (e) {
    e.preventDefault();
    
    $.ajax({
        url: 'index.php?route=marketplace/api|save&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        data: $('#modal-opencart :input'),
        beforeSend: function () {
            $('#button-save').prop('disabled', true).addClass('loading');
        },
        complete: function () {
            $('#button-save').prop('disabled', false).removeClass('loading');
        },
        success: function (json) {
            console.log(json);

            $('.alert-dismissible').remove();
            $('.invalid-feedback').removeClass('d-block');

            if (json['error']) {
                if (json['error']['warning']) {
                    $('#modal-opencart .modal-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error']['warning'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                for (key in json['error']) {
                    for (key in json['error']) {
                        oc.error(key, json['error'][key]);
                    }
                }
            }

            if (json['success']) {
                $('#modal-  opencart .modal-body').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                window.location.reload();
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script> 
