<table class="table table-bordered">
  <thead>
    <tr>
      <th>{{ column_filename }}</th>
      <th>{{ column_date_added }}</th>
      <th class="text-right">{{ column_action }}</th>
    </tr>
  </thead>
  <tbody>
  
  {% if uploads %}
  {% for upload in uploads %}
  <tr>
    <td>{{ upload.filename }}</td>
    <td>{{ upload.date_added }}</td>
    <td class="text-right"><button type="button" value="{{ upload.extension_upload_id }}" data-loading="{{ text_loading }}" data-toggle="tooltip" title="{{ button_uninstall }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="3" class="text-center">{{ text_no_results }}</td>
  </tr>
  {% endif %}
  </tbody>
  
</table>
