{% if extensions %}
  {% for extension in extensions %}
    <div class="media">
      <img src="{{ extension.image }}" alt="{{ extension.name }}" title="{{ extension.name }}" class="align-self-top mr-3"/>

      <div class="media-body">

        <div class="float-right">
          <div class="btn-group">
            {% if not extension.status %}
              <button type="button" data-toggle="tooltip" title="{{ extension.uninstall }}" class="btn btn-success">{{ button_install }}</button>
              <button type="button" data-toggle="tooltip" title="{{ extension.extension_install_id }}" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="tooltip"><i class="far fa-trash-alt fa-fw"></i></button>
            {% else %}
              <a href="" data-toggle="tooltip" title="{{ extension.install }}" class="btn btn-danger">{{ button_uninstall }}</a>
              <a href="" data-toggle="tooltip" title="{{ extension.extension_install_id }}" class="btn btn-danger dropdown-toggle dropdown-toggle-split" disabled><i class="far fa-trash-alt fa-fw"></i></a>
            {% endif %}
          </div>

        </div>

        <h5 class="mt-0"><a href="{{ extension.link }}" target="_blank">{{ extension.name }}</a></h5>

        <p>Version: {{ extension.version }}</p>
        <p class="mb-0">Date Added: {{ extension.date_added }}</p>

      </div>
    </div>
  {% endfor %}
  <div class="row">
    <div class="col-sm-6 text-left">{{ pagination }}</div>
    <div class="col-sm-6 text-right">{{ results }}</div>
  </div>
{% else %}
  <p>Not extensions Downloaded</p>
{% endif %}