{% if banner %}
  <div class="text-center">{{ banner }}</div>
  <br/>
{% endif %}
{% if extensions %}
  <fieldset>
    <legend>{{ text_recommended }}</legend>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-left">{{ column_name }}</td>
            <td class="text-right">{{ column_action }}</td>
          </tr>
        </thead>
        <tbody>
          {% for extension in extensions %}
            <tr>
              <td class="text-left"><a href="{{ extension.href }}">{{ extension.name }}</a></td>
              <td class="text-right"><a href="{{ extension.download }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-info"><i class="fas fa-download"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </fieldset>
{% endif %}

