<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>{{ column_code }}</th>
        <th>{{ column_comment }}</th>
        <th class="text-center">{{ column_status }}</th>
        <th>{{ column_date_added }}</th>
      </tr>
    </thead>
    <tbody>
      {% if logs %}
        {% for log in logs %}
          <tr>
            <td>{{ log.code }}</td>
            <td>{{ log.comment }}</td>
            <td class="text-center">{% if log.status %}
                <span class="badge bg-success">{{ text_complete }}</span>
              {% else %}
                <span class="badge bg-danger">{{ text_failed }}</span>
              {% endif %}</td>
            <td>{{ log.date_added }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="4">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start">
    <x-pagination href="{{ pagination }}" target="#log" page="{{ page }}" limit="{{ limit }}" total="{{ total }}"></x-pagination>
  </div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>
