<form id="form-vendor" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#vendor">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-start"><a href="{{ sort_name }}"{% if sort == 'name' %} class="{{ order|lower }}"{% endif %}>{{ column_name }}</a></td>
          <td class="text-start"><a href="{{ sort_code }}"{% if sort == 'code' %} class="{{ order|lower }}"{% endif %}>{{ column_code }}</a></td>
          <td class="text-start"><a href="{{ sort_version }}"{% if sort == 'version' %} class="{{ order|lower }}"{% endif %}>{{ column_version }}</a></td>
          <td class="text-start"><a href="{{ sort_date_added }}"{% if sort == 'date_added' %} class="{{ order|lower }}"{% endif %}>{{ column_date_added }}</a></td>
        </tr>
      </thead>
      <tbody>
        {% if vendors %}
          {% for vendor in vendors %}
            <tr>
              <td class="text-start">{{ vendor.name }}</td>
              <td class="text-start">{{ vendor.code }}</td>
              <td class="text-start">{{ vendor.version }}</td>
              <td class="text-start">{{ vendor.date_added }}</td>
            </tr>
          {% endfor %} text-nowrap
        {% else %}
          <tr>
            <td class="text-center" colspan="4">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>