{{ header }}
<div id="account-gdpr" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-triangle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="alert alert-danger"><p><i class="fas fa-exclamation-triangle"></i> <strong>GDPR</strong> account deletion requests will process after 180 days so any fraud detection, chargebacks or refunds can be processed.</p>
        <p>Your account personal data deleted after 180 Days.</p>
        <ul>
          <li>You will no longer have access to your %s account.</li>
          <li>No longer have access to your order history, wishlists, downloads</li>
          <li>account deletion requests will process after 180 days so any fraud detection, chargebacks or refunds can be processed.</li>
        </ul>
        <p class="text-center">I confirm that I want my account deleting</p>
      </div>
      <div class="border p-2 d-inline-block w-100">
        <a href="{{ delete }}" class="btn btn-light float-left">Cancel</a> <a href="{{ delete }}" class="btn btn-danger float-right"><i class="fas fa-exclamation-triangle"></i> Remove Personal Data</a>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}