{{ header }}
<div id="account-gdpr" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-triangle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="text-danger border border-danger p-3 mb-3">
        <p><i class="fas fa-exclamation-triangle"></i> <strong>GDPR</strong> account deletion requests will process after 180 days so any fraud detection, chargebacks or refunds can be processed.</p>
        <ul>
          <li>You will no longer have access to your %s account.</li>
          <li>No longer have access to your order history, wishlists, downloads</li>
          <li>account deletion requests will process after 180 days so any fraud detection, chargebacks or refunds can be processed.</li>
        </ul>
      </div>
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-left"><a href="{{ cancel }}" class="btn btn-light">Cancel</a></div>
        <div class="float-right"><a href="{{ delete }}" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i> Remove Personal Data</a></div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}