{{ header }}
<div id="account-return" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}"> {{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}  
  <div class="row">{{ column_left }}
    <div id="content" class="col"> {{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_description }}</p>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>{{ text_order }}</legend>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-firstname">{{ entry_firstname }}</label>
            <div class="col-sm-10">
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
              {% if error_firstname %}
                <div class="text-danger">{{ error_firstname }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-lastname">{{ entry_lastname }}</label>
            <div class="col-sm-10">
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
              {% if error_lastname %}
                <div class="text-danger">{{ error_lastname }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
              {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-sm-10">
              <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
              {% if error_telephone %}
                <div class="text-danger">{{ error_telephone }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-order-id">{{ entry_order_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="order_id" value="{{ order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control"/>
              {% if error_order_id %}
                <div class="text-danger">{{ error_order_id }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-date-ordered">{{ entry_date_ordered }}</label>
            <div class="col-sm-10 col-md-4">
              <div class="input-group date">
                <input type="text" name="date_ordered" value="{{ date_ordered }}" placeholder="{{ entry_date_ordered }}" id="input-date-ordered" class="form-control"/>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{ text_product }}</legend>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-product">{{ entry_product }}</label>
            <div class="col-sm-10">
              <input type="text" name="product" value="{{ product }}" placeholder="{{ entry_product }}" id="input-product" class="form-control"/>
              {% if error_product %}
                <div class="text-danger">{{ error_product }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-model">{{ entry_model }}</label>
            <div class="col-sm-10">
              <input type="text" name="model" value="{{ model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control"/>
              {% if error_model %}
                <div class="text-danger">{{ error_model }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-quantity">{{ entry_quantity }}</label>
            <div class="col-sm-10">
              <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control"/>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_reason }}</label>
            <div class="col-sm-10"> {% for return_reason in return_reasons %}
                {% if return_reason.return_reason_id == return_reason_id %}
                  <div class="form-check">
                    <label> <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" class="form-check-input" checked="checked"/>
                      {{ return_reason.name }}</label>
                  </div>
                {% else %}
                  <div class="form-check">
                    <label><input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" class="form-check-input"/>
                      {{ return_reason.name }}</label>
                  </div>
                {% endif %}
              {% endfor %}
              {% if error_reason %}
                <div class="text-danger">{{ error_reason }}</div>
              {% endif %}
            </div>
          </div>          	  
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-comment">{{ entry_fault_detail }}</label>
            <div class="col-sm-10">
              <textarea name="comment" rows="10" placeholder="{{ entry_fault_detail }}" id="input-comment" class="form-control">{{ comment }}</textarea>
            </div>
          </div>		  
          {{ captcha }}
        </fieldset>
		<div class="well well-sm">
			<div class="row">
				<div class="col-sm-12 text-left">{{ entry_products }}</div>
			</div>			
		</div>
		<div class="table-responsive">
			<table id="return" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td class="text-left">{{ column_product }}</td>
						<td class="text-left">{{ column_model }}</td>
						<td class="text-left">{{ column_quantity }}</td>
						<td class="text-left">{{ column_opened }}</td>
						<td></td>
                    </tr>
                </thead>
                <tbody>
				{% set return_row = 0 %}
                {% for result in return_description %}
					<tr id="return-row{{ return_row }}">
						<td class="text-left"><input type="text" name="return_description[{{ return_row }}][product]" value="{{ result.product }}" placeholder="{{ entry_product }}" class="form-control" /><input type="hidden" name="return_description[{{ return_row }}][return_id]" value="{{ result.return_id }}" /><input type="hidden" name="return_description[{{ return_row }}][product_id]" value="{{ result.product_id }}" />
						{% if error_product[{{ return_row }}] %}
							<div class="invalid-tooltip">{{ error_product[{{ return_row }}] }}</div>
						{% endif %}
						</td>
						<td class="text-left"><input type="text" name="return_description[{{ return_row }}][model]" value="{{ result.model }}" placeholder="{{ entry_model }}" class="form-control" />
						{% if error_model[{{ return_row }}] %}
							<div class="invalid-tooltip">{{ error_model[{{ return_row }}] }}</div>
						{% endif %}
						</td>
						<td class="text-left"><input type="text" name="return_description[{{ return_row }}][quantity]" value="{{ result.quantity }}" placeholder="{{ entry_quantity }}" class="form-control" />
						{% if error_quantity[{{ return_row }}] %}
							<div class="invalid-tooltip">{{ error_quantity[{{ return_row }}] }}</div>
						{% endif %}
						</td>
						<td class="text-right">
						<select name="return_description[{{ return_row }}][opened]" id="input-opened{{ return_row }}" class="form-control">
						  {% if result.opened %}
							<option value="1" selected="selected">{{ text_opened }}</option>
							<option value="0">{{ text_unopened }}</option>
						  {% else %}
							<option value="1">{{ text_opened }}</option>
							<option value="0" selected="selected">{{ text_unopened }}</option>
						  {% endif %}
						</select>
						</td>
                        <td class="text-right"><button type="button" onclick="$('#return-row{{ return_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                    </tr>
					{% set return_row = return_row + 1 %}
				{% endfor %}
                </tbody>
					<tfoot>
						<tr>
							<td colspan="4"></td>
							<td class="text-right"><button type="button" onclick="addProduct();" data-toggle="tooltip" title="{{ button_product_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
						</tr>
					</tfoot>
			</table>
        </div>
        {% if text_agree %}
          <div class="d-inline-block pt-2 pd-2 w-100">
            <div class="float-left"><a href="{{ back }}" class="btn btn-danger">{{ button_back }}</a></div>
            <div class="float-right">{{ text_agree }}
              {% if agree %}
                <input type="checkbox" name="agree" value="1" checked="checked"/>
              {% else %}
                <input type="checkbox" name="agree" value="1"/>
              {% endif %}
              <button type="submit" class="btn btn-primary">{{ button_submit }}</button>
            </div>
          </div>
        {% else %}
          <div class="d-inline-block pt-2 pd-2 w-100">
            <div class="float-left"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
            <div class="float-right">
              <button type="submit" class="btn btn-primary">{{ button_submit }}</button>
            </div>
          </div>
        {% endif %}		
      </form>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript"><!--
  var return_row = {{ return_row }};

  function addProduct() {
	  html = '<tr id="return-row' + return_row + '">';
	  html += '  <td class="text-left"><input type="text" name="return_description[' + return_row + '][product]" value="" placeholder="{{ entry_product }}" class="form-control" /><input type="hidden" name="return_description[' + return_row + '][return_id]" value="" /><input type="hidden" name="return_description[' + return_row + '][product_id]" value="" /></td>';
	  html += '  <td class="text-left"><input type="text" name="return_description[' + return_row + '][model]" value="" placeholder="{{ entry_model }}" class="form-control" /></td>';
	  html += '  <td class="text-left"><input type="text" name="return_description[' + return_row + '][quantity]" value="" placeholder="{{ entry_quantity }}" class="form-control" /></td>';
	  html += '  <td class="text-right"><select name="return_description[{{ return_row }}][opened]" id="input-opened{{ return_row }}" class="form-control">{% if result.opened %}<option value="1" selected="selected">{{ text_opened }}</option><option value="0">{{ text_unopened }}</option>{% else %}<option value="1">{{ text_opened }}</option><option value="0" selected="selected">{{ text_unopened }}</option>{% endif %}</select></td>';	  
	  html += '  <td class="text-right"><button type="button" onclick="$(\'#return-row' + return_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	  html += '</tr>';

	  $('#return tbody').append(html);

	  return_row++;
  }
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	'format': 'YYYY-MM-DD',
	'locale': '{{ datepicker }}',
	'allowInputToggle': true
});
//--></script>
{{ footer }}
