{{ header }}
<div id="cms-blog" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if image %}
        <img src="{{ image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail mb-2"/>
      {% endif %}
      <ul class="list-inline">
        <li class="list-inline-item">{{ text_by }} <a href="{{ filter_author }}">{{ author }}</a></li>
        <li class="list-inline-item">{{ date_added }}</li>
        <li class="list-inline-item">{{ comment_total }} {{ text_comment }}</li>
      </ul>
      <div>{{ description }}</div>
      {% if tags %}
        <p>{{ text_tags }}
          {% for tag in tags %}
            <a href="{{ tag.href }}">{{ tag.tag }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
      {% endif %}
      {% if comment %}
        <hr/>
        <div>{{ comment }}</div>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}