{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}

      {{ heading_title }}



      {% if categories %}
        <h3>{{ text_refine }}</h3>
        <div class="row">
          <div class="col-sm-3">
            <select name="blog_category_id" id="input-category" class="form-select mb-1">

              <option value="0">{{ text_category }}</option>

              {% for category_1 in categories %}
                <option value="{{ category_1.category_id }}"{% if category_1.category_id == category_id %} selected{% endif %}>{{ category_1.name }}</option>
              {% endfor %}

            </select>
          </div>
        </div>
      {% endif %}

      {% if blogs %}

        <div id="display-control" class="row">
          <div class="col-lg-4 offset-lg-1 col-6">
            <div class="input-group mb-3">
              <div class="input-group">
                <label for="input-sort" class="input-group-text">{{ text_sort }}</label>
                <select id="input-sort" class="form-select" onchange="location = this.value;">
                  {% for sorts in sorts %}
                    <option value="{{ sorts.href }}"{% if sorts.value == '%s-%s'|format(sort, order) %} selected{% endif %}>{{ sorts.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        {% for blog in blogs %}

          <div class="row">
            <div class="col-sm-6 text-start">{{ blog.name }}</div>
            <div class="col-sm-6 text-end">{{ blog.image }}</div>
          </div>

        {% endfor %}



        <div class="row">
          <div class="col-sm-6 text-start">{{ pagination }}</div>
          <div class="col-sm-6 text-end">{{ results }}</div>
        </div>

      {% else %}

        <p>{{ text_no_results }}</p>
        <div class="text-end"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>

      {% endif %}

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
