{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">
      {{ content_top }}

      {% if blog_categories %}
        <h3>{{ text_refine }}</h3>
        <div class="input-group dropdown mb-3">
          <input type="text" name="filter_search" value="{{ filter_search }}" placeholder="{{ text_search }}" id="input-search" class="form-control"/>

          <select name="blog_category_id" id="input-category" class="form-select">
            <option value="0">{{ text_category }}</option>
            {% for blog_category in blog_categories %}
              <option value="{{ blog_category.blog_category_id }}"{% if blog_category.blog_category_id == blog_category_id %} selected{% endif %}>{{ blog_category.name }}</option>
            {% endfor %}
          </select>

          <a href="{{ continue }}" class="btn btn-primary">{{ button_search }}</a>
        </div>
      {% endif %}

      {% if blogs %}

        {% for blog in blogs %}

          <div class="blog-item">

            <h2 class="blog-title"><a href="{{ blog.href }}">{{ blog.name }}</a></h2>

            <ul class="list-unstyled">
              <li>By <a href="{{ blog.filter_author }}">{{ blog.author }}</a></li>
              <li>{{ blog.date_added }}</li>
              <li>{{ blog.comment_total }} Comments</li>
            </ul>

            <div class="blog-image"><a href="{{ blog.href }}"><img src="{{ blog.image }}" title="{{ blog.title }}" alt="{{ blog.title }}" class="img-responsive"/></a></div>
            <div class="blog-excerpt">{{ blog.description }}</div>

            <a href="{{ blog.href }}" class="btn btn-primary">Continue Reading</a>

          </div>

        {% endfor %}
        <div class="row">
          <div class="col-sm-6 text-start">{{ pagination }}</div>
          <div class="col-sm-6 text-end">{{ results }}</div>
        </div>
      {% else %}
        <p>{{ text_no_results }}</p>
      {% endif %}

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
