{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if image %}
        <img src="{{ image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail mb-3"/>
      {% endif %}
      {% if description %}
        <div class="mb-3">{{ description }}</div>
      {% endif %}
      <hr/>
      <h3>{{ text_refine }}</h3>
      <div class="input-group dropdown mb-3">
        <input type="text" name="search" value="{{ search }}" placeholder="{{ entry_search }}" id="input-search" class="form-control"/>
        {% if topics %}
          <select name="topic_id" id="input-topic" class="form-select" onchange="">
            <option value="">{{ text_all }}</option>
            {% for topic in topics %}
              <option value="{{ topic.topic_id }}"{% if topic.topic_id == topic_id %} selected{% endif %}>{{ topic.name }}</option>
            {% endfor %}
          </select>
        {% endif %}
        <button id="button-search" class="btn btn-primary">{{ button_search }}</button>
      </div>
      <div class="row mb-3">
        <div class="col-lg offset-lg-8">
          <div class="input-group">
            <label for="input-sort" class="input-group-text">{{ text_sort }}</label> <select id="input-sort" class="form-select" onchange="location = this.value;">
              {% for sorts in sorts %}
                <option value="{{ sorts.href }}"{% if sorts.value == '%s-%s'|format(sort, order) %} selected{% endif %}>{{ sorts.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% if articles %}
        {% for article in articles %}
		  <div class="float-end">
	        {% if comment.edit %}
	        <span class="lh-sm">
			  <button type="button" value="{{ comment.edit }}" data-oc-toggle="comment" data-comment-id="{{ comment.article_comment_id }}" data-comment-author="{{ comment.author }}" data-comment-rating="{{ comment.rating }}" data-comment-comment="{{ comment.comment }}" data-oc-target="#comment-0" data-oc-trigger="#button-refresh" class="btn btn-link btn-sm p-0 m-0 ms-2 me-2"><i class="fa fa-pencil text-primary me-1"></i><span class="text-primary">{{ text_edit_icon }}</span></button>
			  <button type="button" value="{{ comment.delete }}" data-oc-toggle="delete" data-oc-target="#comment-0" data-oc-trigger="#button-refresh" class="btn btn-link btn-sm p-0 m-0 me-2"><i class="fa fa-trash-can text-danger me-1"></i><span class="text-danger">{{ text_delete_icon }}</span></button>
	  	    </span>
	  	    {% endif %}
		    {{ text_stars_icon }}
		    {% for i in 1..5 %}
    		  {% if i <= article.rating %}<span class="fa fa-star checked"></span>{% else %}<span class="fa fa-star"></span>{% endif %}
  		    {% endfor %}
		  </div>
          <div class="mb-3">
            <h2><a href="{{ article.href }}">{{ article.name }}</a></h2>
            {% if article.image %}
              <div><a href="{{ article.href }}"><img src="{{ article.image }}" title="{{ article.name }}" alt="{{ article.name }}" class="img-thumbnail mb-1"/></a></div>
            {% endif %}
            <ul class="list-inline">
              <li class="list-inline-item">{{ text_by }} <a href="{{ article.filter_author }}">{{ article.author }}</a></li>
              <li class="list-inline-item">{{ article.date_added }}</li>
              <li class="list-inline-item">{{ article.comment_total }} {{ text_comment }}</li>
              <li class="list-inline-item"><span class="d-inline">{% if article.total_likes < 0 %}<i class="fa fa-thumbs-down text-danger me-2"></i>{{ article.total_likes }}{% elseif article.total_likes > 0 %}<i class="fa fa-thumbs-up text-primary me-2"></i>{{ article.total_likes }}{% endif %}</span></li>
            </ul>
            <p class="mb-3">{{ article.description }}</p>
            <div class="text-end"><a href="{{ article.href }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
        {% endfor %}
        <div class="row">
          <div class="col-sm-6 text-start">{{ pagination }}</div>
          <div class="col-sm-6 text-end">{{ results }}</div>
        </div>
      {% else %}
        <p class="text-center">{{ text_no_results }}</p>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
    url = 'index.php?route=cms/blog&language={{ language }}';

    var search = $('#input-search').val();

    if (search) {
        url += '&search=' + encodeURIComponent(search);
    }

    var topic_id = $('#input-topic').prop('value');

    if (topic_id > 0) {
        url += '&topic_id=' + topic_id;
    }

    location = url;
});

$('#input-search').bind('keydown', function(e) {
    if (e.keyCode == 13) {
        $('#button-search').trigger('click');
    }
});
//--></script>
{{ footer }}
