{{ header }}
<div id="cms-blog" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <h2>{{ heading_title }}</h2>

      <div class="row">

        <div class="col-2">
          {% if image %}
            <img src="{{ image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail"/>
          {% endif %}
        </div>
        <div class="col-9">{{ description }}</div>

      </div>
      <hr/>
      <div id="comment">{{ comment }}</div>
      {{ content_bottom }}
      {{ column_right }}
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#comment').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#comment').load(this.href);
});
//--></script>
{{ footer }}