{% if articles %}
  {% for article in articles %}
    <div class="mb-4">
      <h2><a href="{{ article.href }}">{{ article.name }}</a></h2>
      {% if article.image %}
        <div><a href="{{ article.href }}"><img src="{{ article.image }}" title="{{ article.name }}" alt="{{ article.name }}" class="img-thumbnail mb-1"/></a></div>
      {% endif %}
      <ul class="list-inline">
        <li class="list-inline-item">{{ text_by }} <a href="{{ article.filter_author }}">{{ article.author }}</a></li>
        <li class="list-inline-item">{{ article.date_added }}</li>
        <li class="list-inline-item">{{ article.comment_total }} {{ text_comment }}</li>
      </ul>
      <p class="mb-3">{{ article.description }}</p>
      <div class="text-end"><a href="{{ article.href }}" class="btn btn-primary">{{ button_continue }}</a></div>
    </div>
  {% endfor %}
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
{% else %}
  <p>{{ text_no_results }}</p>
{% endif %}

