<div class="text-center">
  <button type="button" value="1" data-oc-toggle="rate" class="btn btn-outline-secondary"><i class="fa fa-thumbs-up"></i></button>
  <button type="button" value="0" data-oc-toggle="rate" class="btn btn-outline-secondary"><i class="fa fa-thumbs-down"></i></button>
  {% if comment_guest %}
    <button type="button" value="{{ comment_add }}" data-oc-toggle="comment" data-oc-load="{{ action }}" data-oc-target="#comment-{{ article_comment_id }}" class="btn btn-outline-secondary">{{ button_comment }}</button>
  {% else %}
    <button type="button" class="btn btn-outline-secondary" disabled>{{ button_comment }}</button>
  {% endif %}
</div>
<hr/>

<div class="row mb-3">
  <div class="col">
    <h2>{{ heading_title }}</h2>
  </div>
  <div class="col-4">
    <div class="input-group">
      <span class="input-group-text">{{ text_sort }}</span>
      <select id="sort" class="form-select">
        <option value="rating">{{ text_rating }}</option>
        <option value="date_added">{{ text_date_added }}</option>
      </select>
    </div>
  </div>
</div>

<div id="comment">{{ list }}</div>

<div id="modal-comment" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ text_write }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="form-comment" action="" data-oc-toggle="ajax" data-oc-load="" data-oc-target="">
          <div class="mb-3 required">
            <label for="input-author" class="form-label">{{ entry_author }}</label>
            <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control"/>
            <div id="error-author" class="invalid-feedback"></div>
          </div>
          <div class="mb-3 required">
            <label for="input-comment" class="form-label">{{ entry_comment }}</label>
            <textarea name="comment" rows="5" placeholder="{{ entry_comment }}" id="input-comment" class="form-control">{{ comment }}</textarea>
            <div id="error-comment" class="invalid-feedback"></div>
          </div>

          {{ captcha }}

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" id="button-comment" form="form-comment" class="btn btn-primary">{{ button_comment }}</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#comment').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#comment').load(this.href);
});

// Add Comment
$('#cms-blog').on('click', 'button[data-oc-toggle=\'comment\']', function(e) {
    e.preventDefault();

    var element = this;

    console.log($(element).attr('value'));

    $('#form-comment').attr('action', $(element).val());
    $('#form-comment').attr('data-oc-load', $(element).attr('data-oc-load'));
    $('#form-comment').attr('data-oc-target', $(element).attr('data-oc-target'));

    var modal = new bootstrap.Modal(document.getElementById('modal-comment'));

    modal.show();

    //$('#modal-comment').modal('show');
});


/*
// View Replies
$('#comment').on('click', '[data-oc-toggle=\'comment\']', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).attr('data-oc-url'),
        dataType: 'html',
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(html) {
            $($(element).attr('data-oc-target')).html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
*/

// More
$('#comment').on('click', '[data-oc-toggle=\'more\']', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).val(),
        dataType: 'html',
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(html) {
            console.log(html);

            $($(element).attr('data-oc-target')).replaceWith(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Refresh
$('#comment').on('click', '[data-oc-toggle=\'refresh\']', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).attr('data-oc-url'),
        dataType: 'html',
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(html) {
            console.log(html);

            $($(element).attr('data-oc-target')).html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Add Comment
/*
$('#form-comment').on('submit', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $('#button-comment').attr('formaction'),
        type: 'post',
        data: $(element).serialize(),
        dataType: 'json',
        cache: false,
        contentType: 'application/x-www-form-urlencoded',
        processData: false,
        beforeSend: function() {
            $('#button-comment').button('loading');
        },
        complete: function() {
            $('#button-comment').button('reset');
        },
        success: function(json) {
            console.log(json);

            $('.alert-dismissible').remove();
            $('#form-comment').find('.is-invalid').removeClass('is-invalid');
            $('#form-comment').find('.invalid-feedback').removeClass('d-block');

            if (json['error']) {
                if (json['error']['warning']) {
                    $('#modal-comment .modal-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error']['warning'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                }

                for (key in json['error']) {
                    $('#input-' + key.replaceAll('_', '-')).addClass('is-invalid').find('.form-control, .form-select, .form-check-input, .form-check-label').addClass('is-invalid');
                    $('#error-' + key.replaceAll('_', '-')).html(json['error'][key]).addClass('d-block');
                }
            }

            if (json['success']) {
                $('#modal-comment .modal-body').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#input-comment').val('');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
*/
//--></script>