{% if auto_submit %}
  <!DOCTYPE html>
<html>
<head>
</head>
<body>
{% endif %}
<form action="{{ url }}" id="pilibaba-form" method="post">
  <input type="hidden" name="version" value="{{ version }}"> <input type="hidden" name="merchantNo" value="{{ merchantNo }}"> <input type="hidden" name="currencyType" value="{{ currencyType }}"> <input type="hidden" name="orderNo" value="{{ orderNo }}"> <input type="hidden" name="orderAmount" value="{{ orderAmount }}"> <input type="hidden" name="orderTime" value="{{ orderTime }}"> <input type="hidden" name="pageUrl" value="{{ pageUrl }}"> <input type="hidden" name="serverUrl" value="{{ serverUrl }}"> <input type="hidden" name="redirectUrl" value="{{ redirectUrl }}"> <input type="hidden" name="notifyType" value="{{ notifyType }}"> <input type="hidden" name="shipper" value="{{ shipper }}"> <input type="hidden" name="tax" value="{{ tax }}"> <input type="hidden" name="signType" value="{{ signType }}"> <input type="hidden" name="signMsg" value="{{ signMsg }}"> <input type="hidden" name="goodsList" value="{{ goodsList }}">
</form>
{% if not auto_submit %}
  <div class="buttons">
    <div class="float-right">
      <button type="button" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_confirm }}</button>
    </div>
  </div>
  <script type="text/javascript"><!--
  $('#button-confirm').bind('click', function() {
	  $('#button-confirm').button('loading');

	  $('#pilibaba-form').submit();
  });
  //--></script>
{% endif %}

{% if auto_submit %}
{{ text_redirecting }}
<script>
document.getElementById('pilibaba-form').submit();
</script>
</body>
</html>
{% endif %}