<form action="{{ action }}" method="post">
  <input type="hidden" name="sid" value="{{ sid }}" />
  <input type="hidden" name="mode" value="2CO" />
  <input type="hidden" name="merchant_order_id" value="{{ merchant_order_id }}" />
  <input type="hidden" name="total" value="{{ total }}" />
  <input type="hidden" name="card_holder_name" value="{{ card_holder_name }}" />
  <input type="hidden" name="street_address" value="{{ street_address }}" />
  <input type="hidden" name="city" value="{{ city }}" />
  <input type="hidden" name="state" value="{{ state }}" />
  <input type="hidden" name="zip" value="{{ zip }}" />
  <input type="hidden" name="country" value="{{ country }}" />
  <input type="hidden" name="email" value="{{ email }}" />
  <input type="hidden" name="phone" value="{{ phone }}" />
  {% if shipping %}
  <input type="hidden" name="ship_name" value="{{ card_holder_name }}" />
  <input type="hidden" name="ship_street_address" value="{{ ship_street_address }}" />
  <input type="hidden" name="ship_city" value="{{ ship_city }}" />
  <input type="hidden" name="ship_state" value="{{ ship_state }}" />
  <input type="hidden" name="ship_zip" value="{{ ship_zip }}" />
  <input type="hidden" name="ship_country" value="{{ ship_country }}" />
  {% endif %}
  {% set i = 0 %}
  {% for product in products %}
  <input type="hidden" name="li_{{ i }}_product_id" value="{{ product.product_id }}" />
  <input type="hidden" name="li_{{ i }}_type" value="product" />
  <input type="hidden" name="li_{{ i }}_name" value="{{ product.name }}" />
  {#<input type="hidden" name="li_{{ i }}_description" value="{{ product.description }}" />#}
  <input type="hidden" name="li_{{ i }}_quantity" value="{{ product.quantity }}" />
  <input type="hidden" name="li_{{ i }}_price" value="{{ product.price }}" />
  <input type="hidden" name="li_{{ i }}_tangible" value="{{ product.shipping }}" />
  {% set i = i + 1 %}
  {% endfor %}
  <input type="hidden" name="id_type" value="1" />
  {% if demo %}
  <input type="hidden" name="demo" value="{{ demo }}" />
  {% endif %}
  <input type="hidden" name="lang" value="{{ lang }}" />
  <input type="hidden" name="return_url" value="{{ return_url }}" />
  <div class="buttons">
    <div class="pull-left">
	  <img src="https://www.2checkout.com/static/checkout/images/powered-by-2co.png">
	</div>
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>