<form id="download-list" data-oc-load="{{ action }}" data-oc-target="#download">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
					<td class="text-start">{% if sort == 'dd.name' %}
							<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
						{% else %}
							<a href="{{ sort_name }}">{{ column_name }}</a>
						{% endif %}</td>
					<td class="text-end">{% if sort == 'd.date_added' %}
							<a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
						{% else %}
							<a href="{{ sort_date_added }}">{{ column_date_added }}</a>
						{% endif %}</td>
					<td class="text-end">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if downloads %}
					{% for download in downloads %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ download.download_id }}" class="form-check-input"/></td>
							<td class="text-start">{{ download.name }}</td>
							<td class="text-end">{{ download.date_added }}</td>
							<td class="text-end"><a href="{{ download.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="6">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">{{ pagination }}</div>
		<div class="col-sm-6 text-end">{{ results }}</div>
	</div>
</form>