<form id="form-filter-group" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#list">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></th>
          <th><a href="{{ sort_name }}"{% if sort == 'fgd.name' %} class="{{ order|lower }}"{% endif %}>{{ column_name }}</a></th>
          <th class="text-end"><a href="{{ sort_sort_order }}"{% if sort == 'fg.sort_order' %} class="{{ order|lower }}"{% endif %}>{{ column_sort_order }}</a></th>
          <th class="text-end">{{ column_action }}</th>
        </tr>
      </thead>
      <tbody>
        {% if filter_groups %}
          {% for filter_group in filter_groups %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ filter_group.filter_group_id }}" class="form-check-input"/></td>
              <td>{{ filter_group.name }}</td>
              <td class="text-end">{{ filter_group.sort_order }}</td>
              <td class="text-end"><a href="{{ filter_group.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="4">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>
