{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-oc-action="{{ save }}" data-oc-form="#form-manufacturer" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="form-manufacturer">
					<input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}" id="input-manufacturer-id"/>
					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-seo" data-bs-toggle="tab" class="nav-link">{{ tab_seo }}</a></li>
						<li class="nav-item"><a href="#tab-design" data-bs-toggle="tab" class="nav-link">{{ tab_design }}</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-general">
							<div class="row mb-3 required">
								<label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
								<div class="col-sm-10">
									<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">{{ entry_store }}</label>
								<div class="col-sm-10">
									<div class="form-control" style="height: 150px; overflow: auto;">
										{% for store in stores %}
											<label class="form-check">
												{% if store.store_id in manufacturer_store %}
													<input type="checkbox" name="manufacturer_store[]" value="{{ store.store_id }}" class="form-check-input" checked="checked"/>
													{{ store.name }}
												{% else %}
													<input type="checkbox" name="manufacturer_store[]" value="{{ store.store_id }}" class="form-check-input"/>
													{{ store.name }}
												{% endif %}
											</label>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<label for="input-image" class="col-sm-2 col-form-label">{{ entry_image }}</label>
								<div class="col-sm-10">
									<div class="card image">
										<img src="{{ thumb }}" alt="" title="" id="thumb-image" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="image" value="{{ image }}" id="input-image"/>
										<div class="card-body">
											<button type="button" data-oc-toggle="image" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>
											<button type="button" data-oc-toggle="clear" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
								<div class="col-sm-10">
									<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
								</div>
							</div>
						</div>
						<div id="tab-seo" class="tab-pane">
							<div class="alert alert-info"><i class="fas fa-info-circle"></i> {{ text_keyword }}</div>
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td class="text-start">{{ entry_store }}</td>
											<td class="text-start">{{ entry_keyword }}</td>
										</tr>
									</thead>
									<tbody>
										{% for store in stores %}
											<tr>
												<td class="text-start">{{ store.name }}</td>
												<td class="text-start">{% for language in languages %}
														<div class="input-group">
															<div class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></div>
															<input type="text" name="manufacturer_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if manufacturer_seo_url[store.store_id][language.language_id] %}{{ manufacturer_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" id="input-keyword-{{ store.store_id }}-{{ language.language_id }}" class="form-control"/>
														</div>
													{% endfor %}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div id="tab-design" class="tab-pane">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td class="text-start">{{ entry_store }}</td>
											<td class="text-start">{{ entry_layout }}</td>
										</tr>
									</thead>
									<tbody>
										{% for store in stores %}
											<tr>
												<td class="text-start">{{ store.name }}</td>
												<td class="text-start"><select name="manufacturer_layout[{{ store.store_id }}]" class="form-select">
														<option value=""></option>
														{% for layout in layouts %}
															{% if manufacturer_layout[store.store_id] and manufacturer_layout[store.store_id] == layout.layout_id %}
																<option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
															{% else %}
																<option value="{{ layout.layout_id }}">{{ layout.name }}</option>
															{% endif %}
														{% endfor %}
													</select></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}