<form id="option-list" data-oc-load="{{ action }}" data-oc-target="#option">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));"/></td>
					<td class="text-start">{% if sort == 'od.name' %}
							<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
						{% else %}
							<a href="{{ sort_name }}">{{ column_name }}</a>
						{% endif %}</td>
					<td class="text-end">{% if sort == 'o.sort_order' %}
							<a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
						{% else %}
							<a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
						{% endif %}</td>
					<td class="text-end">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if options %}
					{% for option in options %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ option.option_id }}"/></td>
							<td class="text-start">{{ option.name }}</td>
							<td class="text-end">{{ option.sort_order }}</td>
							<td class="text-end"><a href="{{ option.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="4">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">{{ pagination }}</div>
		<div class="col-sm-6 text-end">{{ results }}</div>
	</div>
</form>