<div id="modal-compare" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-cog"></i> {{ heading_title }}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs">
          <li class="nav-item"><a href="#tab-general" data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
          <li class="nav-item"><a href="#tab-data" data-toggle="tab" class="nav-link">{{ tab_data }}</a></li>
          <li class="nav-item"><a href="#tab-links" data-toggle="tab" class="nav-link">{{ tab_links }}</a></li>
          <li class="nav-item"><a href="#tab-attribute" data-toggle="tab" class="nav-link">{{ tab_attribute }}</a></li>
          <li class="nav-item"><a href="#tab-option" data-toggle="tab" class="nav-link">{{ tab_option }}</a></li>
          <li class="nav-item"><a href="#tab-recurring" data-toggle="tab" class="nav-link">{{ tab_recurring }}</a></li>
          <li class="nav-item"><a href="#tab-discount" data-toggle="tab" class="nav-link">{{ tab_discount }}</a></li>
          <li class="nav-item"><a href="#tab-special" data-toggle="tab" class="nav-link">{{ tab_special }}</a></li>
          <li class="nav-item"><a href="#tab-image" data-toggle="tab" class="nav-link">{{ tab_image }}</a></li>
          <li class="nav-item"><a href="#tab-reward" data-toggle="tab" class="nav-link">{{ tab_reward }}</a></li>
          <li class="nav-item"><a href="#tab-seo" data-toggle="tab" class="nav-link">{{ tab_seo }}</a></li>
          <li class="nav-item"><a href="#tab-design" data-toggle="tab" class="nav-link">{{ tab_design }}</a></li>
        </ul>




          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                  <li class="nav-item"><a href="#language{{ language.language_id }}" data-toggle="tab" class="nav-link"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                  <div class="tab-pane" id="language{{ language.language_id }}">
                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="product_description[{{ language.language_id }}][name]" value="{{ product_description[language.language_id] ? product_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                        {% if error_name[language.language_id] %}
                          <div class="invalid-tooltip">{{ error_name[language.language_id] }}</div>
                        {% endif %}</div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="product_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="ckeditor" data-lang="{{ ckeditor }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].description }}</textarea>
                      </div>
                    </div>
                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="product_description[{{ language.language_id }}][meta_title]" value="{{ product_description[language.language_id] ? product_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control"/>
                        {% if error_meta_title[language.language_id] %}
                          <div class="invalid-tooltip">{{ error_meta_title[language.language_id] }}</div>
                        {% endif %}</div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="product_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].meta_description }}</textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                      <div class="col-sm-10">
                        <textarea name="product_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].meta_keyword }}</textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label" for="input-tag{{ language.language_id }}">{{ entry_tag }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="product_description[{{ language.language_id }}][tag]" value="{{ product_description[language.language_id] ? product_description[language.language_id].tag }}" placeholder="{{ entry_tag }}" id="input-tag{{ language.language_id }}" class="form-control"/>
                        <small class="form-text text-muted">{{ help_tag }}</small>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>



          <!--


             <fieldset>
          <div class="form-group">
            <label class="col-form-label" for="">Input Name</label> <select name="" id="" class="form-control">

              <option value="1">{{ text_general }}</option>

              <option value="1">{{ text_data }}</option>

              <option value="1">{{ text_link }}</option>

              <option value="1">{{ text_attribute }}</option>

              <option value="1">{{ text_option }}</option>

              <option value="1">{{ text_recurring }}</option>

              <option value="1">{{ text_discount }}</option>

              <option value="1">{{ text_special }}</option>

              <option value="1">{{ text_image }}</option>

              <option value="1">{{ text_reward }}</option>

              <option value="1">{{ text_seo }}</option>

              <option value="1">{{ text_design }}</option>

            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="">Product Name</label>
            <input type="text" name="product" value="" placeholder="" id="" class="form-control"/>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="">Variant Name</label>
            <input type="text" name="variant" value="" placeholder="" id="input-variant" class="form-control"/>
          </div>

        </fieldset>

        <fieldset>
          <legend>Variant Products</legend>
          <table class="table table-bordered">
            <thead>
              <tr>
                <td style="width: 1px;"></td>
                <td>Product</td>
                <td>Value</td>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><input type="checkbox" name="selected[]" value=""/></td>
                <td>Apple Cinema 30"</td>
                <td>testdrdf</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="selected[]" value=""/></td>
                <td>Apple Cinema 30" 21133</td>
                <td>testdrdf</td>
              </tr>

            </tbody>

            <tfoot>
              <tr>
                <td colspan="2"></td>
                <td class="text-right"><button type="button" class="btn btn-primary"><i class="fas fa-copy"></i> Copy</button></td>
              </tr>
            </tfoot>
          </table>
        </fieldset>


        {% if not product_attributes %}
          <fieldset>
            <legend>{{ text_attribute }}</legend>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td style="width: 1px;"></td>
                  <td>{{ column_entry }}</td>
                  <td>{{ column_master }}</td>
                  <td>{{ column_variant }}</td>
                </tr>
              </thead>
              <tbody>
                {% for product_attribute in product_attributes %}
                  <tr>
                    <td><input type="checkbox" name="selected[]" value=""/></td>
                    <td>{{ product_attribute.text }}</td>
                    <td>{{ product_attribute.master }}</td>
                    <td>{{ product_attribute.variant }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </fieldset>
        {% endif %}

        {% if product_images %}
          <fieldset>
            <legend>{{ text_image }}</legend>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td style="width: 1px;"></td>
                  <td>{{ column_entry }}</td>
                  <td>{{ column_master }}</td>
                  <td>{{ column_variant }}</td>
                </tr>
              </thead>
              <tbody>
                {% for product_image in product_images %}
                  <tr>
                    <td><input type="checkbox" name="selected[]" value="{{ product.key }}"/></td>
                    <td>{{ product.text }}</td>
                    <td>{{ product.master }}</td>
                    <td>{{ product.variant }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </fieldset>
        {% endif %}
   //-->
      </div>
      <div class="modal-footer text-right"><a href="" class="btn btn-light"><i class="fas fa-arrow-left"></i></a> <a href="" class="btn btn-light"><i class="fas fa-arrow-right"></i></a></div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#modal-compare .modal-footer .btn-primary').on('click', function() {
	var element = this;

	$.ajax({
		url: 'index.php?route=common/developer/' + $(element).attr('value') + '&user_token={{ user_token }}',
		dataType: 'json',
		beforeSend: function() {
			$(element).button('loading');
		},
		complete: function() {
			$(element).button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#modal-compare .modal-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}

			if (json['success']) {
				$('#modal-compare .modal-body').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>