<div id="modal-master" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-crown"></i> {{ name }}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning"><i class="fas fa-exclamation-circle"></i> You can copy the master products values to your variant from here.</div>
        <ul class="nav nav-tabs">
          <li class="nav-item"><a href="#tab-modal-general" data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
          <li class="nav-item"><a href="#tab-modal-data" data-toggle="tab" class="nav-link">{{ tab_data }}</a></li>
          <li class="nav-item"><a href="#tab-modal-links" data-toggle="tab" class="nav-link">{{ tab_links }}</a></li>
          <li class="nav-item"><a href="#tab-modal-attribute" data-toggle="tab" class="nav-link">{{ tab_attribute }}</a></li>
          <li class="nav-item"><a href="#tab-modal-recurring" data-toggle="tab" class="nav-link">{{ tab_recurring }}</a></li>
          <li class="nav-item"><a href="#tab-modal-discount" data-toggle="tab" class="nav-link">{{ tab_discount }}</a></li>
          <li class="nav-item"><a href="#tab-modal-special" data-toggle="tab" class="nav-link">{{ tab_special }}</a></li>
          <li class="nav-item"><a href="#tab-modal-image" data-toggle="tab" class="nav-link">{{ tab_image }}</a></li>
          <li class="nav-item"><a href="#tab-modal-reward" data-toggle="tab" class="nav-link">{{ tab_reward }}</a></li>
          <li class="nav-item"><a href="#tab-modal-seo" data-toggle="tab" class="nav-link">{{ tab_seo }}</a></li>
          <li class="nav-item"><a href="#tab-modal-design" data-toggle="tab" class="nav-link">{{ tab_design }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-modal-general">
            <ul class="nav nav-tabs" id="modal-language">
              {% for language in languages %}
                <li class="nav-item"><a href="#modal-language{{ language.language_id }}" data-toggle="tab" class="nav-link"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for language in languages %}
                <div class="tab-pane" id="modal-language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-form-label" for="input-modal-name{{ language.language_id }}">{{ entry_name }}</label>
                    <div class="input-group">
                      <input type="text" name="product_description[{{ language.language_id }}][name]" value="{{ product_description[language.language_id] ? product_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-modal-name{{ language.language_id }}" class="form-control"/>
                      <div class="input-group-append">
                        <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="input-modal-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="input-group">
                      <textarea name="product_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-modal-description{{ language.language_id }}" data-toggle="ckeditor" data-lang="{{ ckeditor }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].description }}</textarea>
                      <div class="input-group-append">
                        <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-form-label" for="input-modal-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="input-group">
                      <input type="text" name="product_description[{{ language.language_id }}][meta_title]" value="{{ product_description[language.language_id] ? product_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-modal-meta-title{{ language.language_id }}" class="form-control"/>
                      <div class="input-group-append">
                        <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="input-modal-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="input-group">
                      <textarea name="product_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-modal-meta-description{{ language.language_id }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].meta_description }}</textarea>
                      <div class="input-group-append">
                        <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="input-modal-modal-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="input-group">
                      <textarea name="product_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-modal-meta-keyword{{ language.language_id }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].meta_keyword }}</textarea>
                      <div class="input-group-append">
                        <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="input-modal-tag{{ language.language_id }}">{{ entry_tag }}</label>
                    <div class="input-group">
                      <input type="text" name="product_description[{{ language.language_id }}][tag]" value="{{ product_description[language.language_id] ? product_description[language.language_id].tag }}" placeholder="{{ entry_tag }}" id="input-modal-tag{{ language.language_id }}" class="form-control"/>
                      <div class="input-group-append">
                        <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div id="tab-modal-data" class="tab-pane">
            <fieldset>
              <legend>{{ text_model }}</legend>
              <div class="form-group required">
                <label class="col-form-label" for="input-modal-model">{{ entry_model }}</label>
                <div class="input-group">
                  <input type="text" name="model" value="{{ model }}" placeholder="{{ entry_model }}" id="input-modal-model" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-sku">{{ entry_sku }}</label>
                <div class="input-group">
                  <input type="text" name="sku" value="{{ sku }}" placeholder="{{ entry_sku }}" id="input-modal-sku" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_sku }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-upc">{{ entry_upc }}</label>
                <div class="input-group">
                  <input type="text" name="upc" value="{{ upc }}" placeholder="{{ entry_upc }}" id="input-modal-upc" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_upc }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-ean">{{ entry_ean }}</label>
                <div class="input-group">
                  <input type="text" name="ean" value="{{ ean }}" placeholder="{{ entry_ean }}" id="input-modal-ean" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_ean }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-jan">{{ entry_jan }}</label>
                <div class="input-group">
                  <input type="text" name="jan" value="{{ jan }}" placeholder="{{ entry_jan }}" id="input-modal-jan" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_jan }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-isbn">{{ entry_isbn }}</label>
                <div class="input-group">
                  <input type="text" name="isbn" value="{{ isbn }}" placeholder="{{ entry_isbn }}" id="input-modal-isbn" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_isbn }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-mpn">{{ entry_mpn }}</label>
                <div class="input-group">
                  <input type="text" name="mpn" value="{{ mpn }}" placeholder="{{ entry_mpn }}" id="input-modal-mpn" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_mpn }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-location">{{ entry_location }}</label>
                <div class="input-group">
                  <input type="text" name="location" value="{{ location }}" placeholder="{{ entry_location }}" id="input-modal-location" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_price }}</legend>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-price">{{ entry_price }}</label>
                <div class="input-group">
                  <input type="text" name="price" value="{{ price }}" placeholder="{{ entry_price }}" id="input-modal-price" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_stock }}</legend>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-quantity">{{ entry_quantity }}</label>
                <div class="input-group">
                  <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-modal-quantity" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-minimum">{{ entry_minimum }}</label>
                <div class="input-group">
                  <input type="text" name="minimum" value="{{ minimum }}" placeholder="{{ entry_minimum }}" id="input-modal-minimum" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_minimum }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label">{{ entry_subtract }}</label>
                <div class="input-group">
                  <select name="subtract" id="input-modal-subtract" class="form-control">
                    {% if subtract %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-date-available">{{ entry_date_available }}</label>
                <div class="input-group">
                  <input type="text" name="date_available" value="{{ date_available }}" placeholder="{{ entry_date_available }}" id="input-modal-date-available" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_specification }}</legend>
              <div class="form-group">
                <label class="col-form-label">{{ entry_shipping }}</label>
                <div class="input-group">
                  <select name="subtract" id="input-modal-shipping" class="form-control">
                    {% if shipping %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                    {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-length">{{ entry_dimension }}</label>
                <div class="input-group">
                  <input type="text" name="length" value="{{ length }}" placeholder="{{ entry_length }}" id="input-modal-length" class="form-control"/> <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-modal-width" class="form-control"/> <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-modal-height" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-weight">{{ entry_weight }}</label>
                <div class="input-group">
                  <input type="text" name="weight" value="{{ weight }}" placeholder="{{ entry_weight }}" id="input-modal-weight" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-group">
              <label class="col-form-label" for="input-modal-status">{{ entry_status }}</label>
              <div class="input-group">
                <select name="status" id="input-modal-status" class="form-control">
                  {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
                <div class="input-group-append">
                  <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="input-modal-sort-order">{{ entry_sort_order }}</label>
              <div class="input-group">
                <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-modal-sort-order" class="form-control"/>
                <div class="input-group-append">
                  <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-modal-links" class="tab-pane">
            <div class="form-group">
              <label class="col-form-label" for="input-modal-manufacturer">{{ entry_manufacturer }}</label>
              <div class="input-group">
                <input type="text" name="manufacturer" value="{{ manufacturer }}" placeholder="{{ entry_manufacturer }}" id="input-modal-manufacturer" class="form-control"/> <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}"/>
                <div class="input-group-append">
                  <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="input-modal-category">{{ entry_category }}</label>
              <div id="product-category" class="form-control" style="height: 150px; overflow: auto;">
                {% for product_category in product_categories %}
                  <div id="product-category{{ product_category.category_id }}"><i class="fas fa-minus-circle"></i> {{ product_category.name }}
                    <input type="hidden" name="product_category[]" value="{{ product_category.category_id }}"/>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="input-modal-filter">{{ entry_filter }}</label>
              <div id="product-filter" class="form-control" style="height: 150px; overflow: auto;">
                {% for product_filter in product_filters %}
                  <div id="product-filter{{ product_filter.filter_id }}"><i class="fas fa-minus-circle"></i> {{ product_filter.name }}
                    <input type="hidden" name="product_filter[]" value="{{ product_filter.filter_id }}"/>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ entry_store }}</label>
              <div class="form-control" style="height: 150px; overflow: auto;">
                {% for store in stores %}
                  <label class="form-check">
                    {% if store.store_id in product_store %}
                      <input type="checkbox" name="product_store[]" value="{{ store.store_id }}" checked="checked" class="form-check-input"/>
                      {{ store.name }}
                    {% else %}
                      <input type="checkbox" name="product_store[]" value="{{ store.store_id }}" class="form-check-input"/>
                      {{ store.name }}
                    {% endif %}
                  </label>
                {% endfor %}</div>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="input-modal-download">{{ entry_download }}</label>
              <div id="product-download" class="form-control" style="height: 150px; overflow: auto;">
                {% for product_download in product_downloads %}
                  <div id="product-download{{ product_download.download_id }}"><i class="fas fa-minus-circle"></i> {{ product_download.name }}
                    <input type="hidden" name="product_download[]" value="{{ product_download.download_id }}"/>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="input-modal-related">{{ entry_related }}</label>
              <div id="product-related" class="form-control" style="height: 150px; overflow: auto;">
                {% for product_related in product_relateds %}
                  <div id="product-related{{ product_related.product_id }}"><i class="fas fa-minus-circle"></i> {{ product_related.name }}
                    <input type="hidden" name="product_related[]" value="{{ product_related.product_id }}"/>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div id="tab-modal-attribute" class="tab-pane">
            <div class="table-responsive">
              <table id="attribute" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_attribute }}</td>
                    <td class="text-left">{{ entry_text }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% set attribute_row = 0 %}
                  {% if product_attributes %}
                    {% for product_attribute in product_attributes %}
                      <tr id="attribute-row{{ attribute_row }}">
                        <td class="text-left"><input type="text" name="product_attribute[{{ attribute_row }}][name]" value="{{ product_attribute.name }}" placeholder="{{ entry_attribute }}" class="form-control"/> <input type="hidden" name="product_attribute[{{ attribute_row }}][attribute_id]" value="{{ product_attribute.attribute_id }}"/></td>
                        <td class="text-left">
                          {% for language in languages %}
                            <div class="input-group mb-12">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
                              </div>
                              <textarea name="product_attribute[{{ attribute_row }}][product_attribute_description][{{ language.language_id }}][text]" rows="5" placeholder="{{ entry_text }}" class="form-control">{{ product_attribute.product_attribute_description[language.language_id] ? product_attribute.product_attribute_description[language.language_id].text }}</textarea>
                            </div>
                          {% endfor %}</td>
                        <td class="text-right"><button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button></td>
                      </tr>
                      {% set attribute_row = attribute_row + 1 %}
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="3" class="text-center">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <div id="tab-modal-recurring" class="tab-pane">
            <div class="table-responsive">
              <table id="recurring" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_recurring }}</td>
                    <td class="text-left">{{ entry_customer_group }}</td>
                    <td class="text-left"></td>
                  </tr>
                </thead>
                <tbody>
                  {% set recurring_row = 0 %}
                  {% if product_recurrings %}
                    {% for product_recurring in product_recurrings %}
                      <tr id="recurring-row{{ recurring_row }}">
                        <td class="text-left"><select name="product_recurring[{{ recurring_row }}][recurring_id]" class="form-control">
                            {% for recurring in recurrings %}
                              {% if recurring.recurring_id == product_recurring.recurring_id %}
                                <option value="{{ recurring.recurring_id }}" selected="selected">{{ recurring.name }}</option>
                              {% else %}
                                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select></td>
                        <td class="text-left"><select name="product_recurring[{{ recurring_row }}][customer_group_id]" class="form-control">
                            {% for customer_group in customer_groups %}
                              {% if customer_group.customer_group_id == product_recurring.customer_group_id %}
                                <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                              {% else %}
                                <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select></td>
                        <td class="text-right"><button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button></td>
                      </tr>
                      {% set recurring_row = recurring_row + 1 %}
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="3" class="text-center">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <div id="tab-modal-discount" class="tab-pane">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_customer_group }}</td>
                    <td class="text-right">{{ entry_quantity }}</td>
                    <td class="text-right">{{ entry_priority }}</td>
                    <td class="text-right">{{ entry_price }}</td>
                    <td class="text-left">{{ entry_date_start }}</td>
                    <td class="text-left">{{ entry_date_end }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% set discount_row = 0 %}
                  {% if product_discounts %}
                    {% for product_discount in product_discounts %}
                      <tr id="discount-row{{ discount_row }}">
                        <td class="text-left"><select name="product_discount[{{ discount_row }}][customer_group_id]" class="form-control">
                            {% for customer_group in customer_groups %}
                              {% if customer_group.customer_group_id == product_discount.customer_group_id %}
                                <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                              {% else %}
                                <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select></td>
                        <td class="text-right"><input type="text" name="product_discount[{{ discount_row }}][quantity]" value="{{ product_discount.quantity }}" placeholder="{{ entry_quantity }}" class="form-control"/></td>
                        <td class="text-right"><input type="text" name="product_discount[{{ discount_row }}][priority]" value="{{ product_discount.priority }}" placeholder="{{ entry_priority }}" class="form-control"/></td>
                        <td class="text-right"><input type="text" name="product_discount[{{ discount_row }}][price]" value="{{ product_discount.price }}" placeholder="{{ entry_price }}" class="form-control"/></td>
                        <td class="text-left">
                          <div class="input-group date">
                            <input type="text" name="product_discount[{{ discount_row }}][date_start]" value="{{ product_discount.date_start }}" placeholder="{{ entry_date_start }}" class="form-control"/>
                            <div class="input-group-append">
                              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                            </div>
                          </div>
                        </td>
                        <td class="text-left">
                          <div class="input-group date">
                            <input type="text" name="product_discount[{{ discount_row }}][date_end]" value="{{ product_discount.date_end }}" placeholder="{{ entry_date_end }}" class="form-control"/>
                            <div class="input-group-append">
                              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                            </div>
                          </div>
                        </td>
                        <td class="text-right"><button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button></td>
                      </tr>
                      {% set discount_row = discount_row + 1 %}
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="7" class="text-center">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <div id="tab-modal-special" class="tab-pane">
            <div class="table-responsive">
              <table id="special" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_customer_group }}</td>
                    <td class="text-right">{{ entry_priority }}</td>
                    <td class="text-right">{{ entry_price }}</td>
                    <td class="text-left">{{ entry_date_start }}</td>
                    <td class="text-left">{{ entry_date_end }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% if product_specials %}
                    {% for product_special in product_specials %}
                      <tr id="special-row{{ special_row }}">
                        <td class="text-left"><select name="product_special[{{ special_row }}][customer_group_id]" class="form-control">
                            {% for customer_group in customer_groups %}
                              {% if customer_group.customer_group_id == product_special.customer_group_id %}
                                <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                              {% else %}
                                <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select></td>
                        <td class="text-right"><input type="text" name="product_special[{{ special_row }}][priority]" value="{{ product_special.priority }}" placeholder="{{ entry_priority }}" class="form-control"/></td>
                        <td class="text-right"><input type="text" name="product_special[{{ special_row }}][price]" value="{{ product_special.price }}" placeholder="{{ entry_price }}" class="form-control"/></td>
                        <td class="text-left">
                          <div class="input-group date">
                            <input type="text" name="product_special[{{ special_row }}][date_start]" value="{{ product_special.date_start }}" placeholder="{{ entry_date_start }}" class="form-control"/>
                            <div class="input-group-append">
                              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                            </div>
                          </div>
                        </td>
                        <td class="text-left">
                          <div class="input-group date">
                            <input type="text" name="product_special[{{ special_row }}][date_end]" value="{{ product_special.date_end }}" placeholder="{{ entry_date_end }}" class="form-control"/>
                            <div class="input-group-append">
                              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                            </div>
                          </div>
                        </td>
                        <td class="text-right"><button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button></td>
                      </tr>
                      {% set special_row = special_row + 1 %}
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="6" class="text-center">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <div id="tab-modal-image" class="tab-pane">
            <fieldset>
              <legend>{{ text_image }}</legend>
              <div class="row">
                <div class="col-sm-4 col-md-3 mb-3">
                  <div class="card image">
                    <img src="{{ thumb }}" alt="" title="" id="thumb-image" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="image" value="{{ image }}" id="input-modal-image"/>
                    <div class="card-body">
                      <button type="button" data-target="#input-image" data-thumb="#thumb-image" class="btn btn-light btn-sm btn-block"><i class="fas fa-copy"></i> {{ button_copy }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_image_additional }}</legend>
              <div class="table-responsive">
                <table id="image" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_image }}</td>
                      <td class="text-left">{{ entry_sort_order }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% set image_row = 0 %}
                    {% for product_image in product_images %}
                      <tr id="image-row{{ image_row }}">
                        <td>
                          <div class="card image">
                            <img src="{{ product_image.thumb }}" alt="" title="" id="thumb-image{{ image_row }}" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="product_image[{{ image_row }}][image]" value="{{ product_image.image }}" id="input-modal-image{{ image_row }}"/>
                            <div class="card-body">
                              <button type="button" data-target="#input-image{{ image_row }}" data-thumb="#thumb-image{{ image_row }}" class="btn btn-warning btn-sm btn-block"><i class="fas fa-copy"></i> {{ button_copy }}</button>
                            </div>
                          </div>
                        </td>
                        <td class="text-left"><input type="text" name="product_image[{{ image_row }}][sort_order]" value="{{ product_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control"/></td>
                        <td class="text-right"><button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button></td>
                      </tr>
                      {% set image_row = image_row + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </fieldset>
          </div>
          <div id="tab-modal-reward" class="tab-pane">
            <fieldset>
              <legend>{{ text_reward }}</legend>
              <div class="form-group">
                <label class="col-form-label" for="input-modal-points">{{ entry_points }}</label>
                <div class="input-group">
                  <input type="text" name="points" value="{{ points }}" placeholder="{{ entry_points }}" id="input-modal-points" class="form-control"/>
                  <div class="input-group-append">
                    <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                  </div>
                </div>
                <small class="form-text text-muted">{{ help_points }}</small>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ text_points }}</legend>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_customer_group }}</td>
                      <td class="text-right">{{ entry_reward }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for customer_group in customer_groups %}
                      <tr>
                        <td class="text-left">{{ customer_group.name }}</td>
                        <td class="text-right">
                          <div class="input-group">
                            <input type="text" name="product_reward[{{ customer_group.customer_group_id }}][points]" value="{{ product_reward[customer_group.customer_group_id] ? product_reward[customer_group.customer_group_id].points }}" class="form-control"/>
                            <div class="input-group-append">
                              <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </fieldset>
          </div>
          <div id="tab-modal-seo" class="tab-pane">
            <div class="alert alert-info"><i class="fas fa-info-circle"></i> {{ text_keyword }}</div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_store }}</td>
                    <td class="text-left">{{ entry_keyword }}</td>
                  </tr>
                </thead>
                <tbody>
                  {% if stores %}
                    {% for store in stores %}
                      <tr>
                        <td class="text-left">{{ store.name }}</td>
                        <td class="text-left">{% for language in languages %}
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
                              </div>
                              <input type="text" name="product_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if product_seo_url[store.store_id][language.language_id] %}{{ product_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control"/>
                              <div class="input-group-append">
                                <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                              </div>
                            </div>
                            {% if error_keyword[store.store_id][language.language_id] %}
                              <div class="invalid-tooltip">{{ error_keyword[store.store_id][language.language_id] }}</div>
                            {% endif %}
                          {% endfor %}</td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="2" class="text-center">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <div id="tab-modal-design" class="tab-pane">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_store }}</td>
                    <td class="text-left">{{ entry_layout }}</td>
                  </tr>
                </thead>
                <tbody>
                  {% for store in stores %}
                    <tr>
                      <td class="text-left">{{ store.name }}</td>
                      <td class="text-left">
                        <div class="input-group">
                          <select name="product_layout[{{ store.store_id }}]" class="form-control">
                            <option value=""></option>
                            {% for layout in layouts %}
                              {% if product_layout[store.store_id] and product_layout[store.store_id] == layout.layout_id %}
                                <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                              {% else %}
                                <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <div class="input-group-append">
                            <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fas fa-copy"></i></button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#modal-language li:first-child a').tab('show');
//--></script>
<script type="text/javascript"><!--

//--></script>