{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-bs-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('d-none');" class="btn btn-light d-lg-none"><i class="fa-solid fa-filter"></i></button>
				<a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
				<button type="submit" form="form-product" formaction="{{ copy }}" data-bs-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fa-regular fa-copy"></i></button>
				<button type="submit" form="form-product" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div id="filter-product" class="col-lg-3 col-md-12 order-lg-last d-none d-lg-block mb-3">
				<div class="card">
					<div class="card-header d-flex justify-content-between align-items-center py-1">
						<span>
							<i class="fa-solid fa-filter"></i> {{ text_filter }}
						</span>

						<button type="reset" data-bs-toggle="tooltip" title="{{ button_reset }}" class="btn btn-outline-secondary border-0" id="button-reset">
							<i class="fa-solid fa-filter-circle-xmark"></i>
						</button>
					</div>
					<div class="card-body">
						<form id="form-filter">
							<div class="mb-3">
								<label for="input-name" class="form-label">{{ entry_name }}</label> <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" data-oc-target="autocomplete-name" class="form-control" autocomplete="off"/>
								<ul id="autocomplete-name" class="dropdown-menu"></ul>
							</div>
							<div class="mb-3">
								<label for="input-model" class="form-label">{{ entry_model }}</label> <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" data-oc-target="autocomplete-model" class="form-control" autocomplete="off"/>
								<ul id="autocomplete-model" class="dropdown-menu"></ul>
							</div>
							<div class="mb-3">
								<label for="input-category" class="form-label">
									{{ entry_category }}
								</label>
								<select name="filter_category" id="input-category" class="form-select">
									<option value="">{{ text_all }}</option>
									{% for category in categories %}
										<option value="{{ category.category_id }}">
											{{ category.name }}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="mb-3">
								<label for="input-manufacturer" class="form-label">{{ entry_manufacturer }}</label>
								<select name="filter_manufacturer" id="input-manufacturer" class="form-select">
									<option value="">{{ text_all }}</option>
									{% for manufacturer in manufacturers %}
										<option value="{{ manufacturer.manufacturer_id }}">
											{{ manufacturer.name }}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="mb-3">
								<label for="input-price-from" class="form-label">{{ entry_price }}</label>
								<div class="row">
									<div class="col">
										<input type="text" name="filter_price_from" value="{{ filter_price_from }}" placeholder="{{ text_from }}" id="input-price-from" class="form-control"/>
									</div>
									<label class="col-auto col-form-label px-0"><i class="fa-solid fa-minus"></i></label>
									<div class="col">
										<input type="text" name="filter_price_to" value="{{ filter_price_to }}" placeholder="{{ text_to }}" id="input-price-to" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label for="input-quantity-from" class="form-label">{{ entry_quantity }}</label>
								<div class="row">
									<div class="col">
										<input type="text" name="filter_quantity_from" value="{{ filter_quantity_from }}" placeholder="{{ text_from }}" id="input-quantity-from" class="form-control"/>
									</div>
									<label class="col-auto col-form-label px-0"><i class="fa-solid fa-minus"></i></label>
									<div class="col">
										<input type="text" name="filter_quantity_to" value="{{ filter_quantity_to }}" placeholder="{{ text_to }}" id="input-quantity-to" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label for="input-status" class="form-label">{{ entry_status }}</label> <select name="filter_status" id="input-status" class="form-select">
									<option value="">{{ text_all }}</option>
									<option value="1"{% if filter_status == '1' %} selected{% endif %}>{{ text_enabled }}</option>
									<option value="0"{% if filter_status == '0' %} selected{% endif %}>{{ text_disabled }}</option>
								</select>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col col-lg-9 col-md-12">
				<div class="card">
					<div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
					<div id="product" class="card-body">{{ list }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#product').on('click', 'thead a, .pagination a', function(e) {
	e.preventDefault();

	$('#product').load(this.href);
});

const textInputs = [
	'#input-name',
	'#input-model',
	'#input-price-from',
	'#input-price-to',
	'#input-quantity-from',
	'#input-quantity-to'
];

textInputs.forEach(selector => {
	$(selector).on('keyup', submitForm);
	$(selector).on('cut paste', () => setTimeout(submitForm, 0));
});

const onChangeInputs = [
	'#input-status',
	'#input-category',
	'#input-manufacturer'
];

onChangeInputs.forEach(selector => {
	$(selector).on('change', submitForm);
});

$('#button-reset').on('click', function() {
	if (
		$('#input-name').val() != '' ||
		$('#input-model').val() != '' ||
		$('#input-price-from').val() != '' ||
		$('#input-price-to').val() != '' ||
		$('#input-quantity-from').val() != '' ||
		$('#input-quantity-to').val() != '' ||
		$('#input-status').val() != '' ||
		$('#input-category').val() != '' ||
		$('#input-manufacturer').val() != ''
	) {
		textInputs.forEach(selector => {
			$(selector).val('');
		});

		onChangeInputs.forEach(selector => {
			$(selector).val($(selector + ' option:first').val());
		});

		submitForm();
	}
});

function submitForm() {
	let url = '';

	const filters = [
		{ id: 'input-name', param: 'filter_name', encode: true },
		{ id: 'input-model', param: 'filter_model', encode: true },
		{ id: 'input-category', param: 'filter_category_id', encode: false },
		{ id: 'input-manufacturer', param: 'filter_manufacturer_id', encode: false },
		{ id: 'input-price-from', param: 'filter_price_from', encode: true },
		{ id: 'input-price-to', param: 'filter_price_to', encode: true },
		{ id: 'input-quantity-from', param: 'filter_quantity_from', encode: false },
		{ id: 'input-quantity-to', param: 'filter_quantity_to', encode: false },
		{ id: 'input-status', param: 'filter_status', encode: false }
	];

	filters.forEach(({ id, param, encode }) => {
		let value = $(`#${id}`).val();
		if (value !== '') {
			url += `&${param}=${encode ? encodeURIComponent(value) : value}`;
		}
	});

	$('#product').load('index.php?route=catalog/product.list&user_token={{ user_token }}' + url);
}

$('#input-name').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('#input-name').val(decodeHTMLEntities(item['label']));
		submitForm();
	}
});

$('#input-model').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product.autocomplete&user_token={{ user_token }}&filter_model=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('#input-model').val(decodeHTMLEntities(item['label']));
		submitForm();
	}
});
//--></script>
{{ footer }}
