{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-oc-action="{{ save }}" data-oc-form="#recurring-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="alert alert-info">{{ text_recurring }}</div>
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="recurring-form">
					<input type="hidden" name="recurring_id" value="{{ recurring_id }}" id="input-recurring-id"/>
					<div class="row mb-3 required">
						<label class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
							{% for language in languages %}
								<div class="input-group">
									<div class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></div>
									<input type="text" name="recurring_description[{{ language.language_id }}][name]" value="{{ recurring_description[language.language_id] ? recurring_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control"/>
								</div>
							{% endfor %}
						</div>
					</div>
					<fieldset>
						<legend>{{ text_profile }}</legend>
						<div class="row mb-3">
							<label for="input-price" class="col-sm-2 col-form-label">{{ entry_price }}</label>
							<div class="col-sm-10">
								<input type="text" name="price" value="{{ price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-duration" class="col-sm-2 col-form-label">{{ entry_duration }}</label>
							<div class="col-sm-10">
								<input type="text" name="duration" value="{{ duration }}" placeholder="{{ entry_duration }}" id="input-duration" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-cycle" class="col-sm-2 col-form-label">{{ entry_cycle }}</label>
							<div class="col-sm-10">
								<input type="text" name="cycle" value="{{ cycle }}" placeholder="{{ entry_cycle }}" id="input-cycle" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-frequency" class="col-sm-2 col-form-label">{{ entry_frequency }}</label>
							<div class="col-sm-10">
								<select name="frequency" id="input-frequency" class="form-select">
									{% for frequency_option in frequencies %}
										{% if frequency == frequency_option.value %}
											<option value="{{ frequency_option.value }}" selected="selected">{{ frequency_option.text }}</option>
										{% else %}
											<option value="{{ frequency_option.value }}">{{ frequency_option.text }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
							<div class="col-sm-10">
								<select name="status" id="input-status" class="form-select">
									{% if status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
									{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
									{% endif %}
								</select>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>{{ text_trial }}</legend>
						<div class="row mb-3">
							<label for="input-trial-price" class="col-sm-2 col-form-label">{{ entry_trial_price }}</label>
							<div class="col-sm-10">
								<input type="text" name="trial_price" value="{{ trial_price }}" placeholder="{{ entry_trial_price }}" id="input-trial-price" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-trial-duration" class="col-sm-2 col-form-label">{{ entry_trial_duration }}</label>
							<div class="col-sm-10">
								<input type="text" name="trial_duration" value="{{ trial_duration }}" placeholder="{{ entry_trial_duration }}" id="input-trial-duration" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-trial-cycle" class="col-sm-2 col-form-label">{{ entry_trial_cycle }}</label>
							<div class="col-sm-10">
								<input type="text" name="trial_cycle" value="{{ trial_cycle }}" placeholder="{{ entry_trial_cycle }}" id="input-trial-cycle" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-trial-frequency" class="col-sm-2 col-form-label">{{ entry_trial_frequency }}</label>
							<div class="col-sm-10">
								<select name="trial_frequency" id="input-trial-frequency" class="form-select">
									{% for frequency_option in frequencies %}
										{% if trial_frequency == frequency_option.value %}
											<option value="{{ frequency_option.value }}" selected="selected">{{ frequency_option.text }}</option>
										{% else %}
											<option value="{{ frequency_option.value }}">{{ frequency_option.text }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-trial-status" class="col-sm-2 col-form-label">{{ entry_trial_status }}</label>
							<div class="col-sm-10">
								<select name="trial_status" id="input-trial-status" class="form-select">
									{% if trial_status %}
										<option value="0">{{ text_disabled }}</option>
										<option value="1" selected="selected">{{ text_enabled }}</option>
									{% else %}
										<option value="0" selected="selected">{{ text_disabled }}</option>
										<option value="1">{{ text_enabled }}</option>
									{% endif %}
								</select>
							</div>
						</div>
					</fieldset>
					<div class="row mb-3">
						<label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}
