{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-review" formaction="{{ save }}" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-review" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-author" class="col-sm-2 col-form-label">{{ entry_author }}</label>
            <div class="col-sm-10">
              <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" required/>
              <div id="error-author" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_product }}</label>
            <div class="col-sm-10">
              <input type="text" name="product" value="{{ product }}" placeholder="{{ entry_product }}" id="input-product" data-oc-target="autocomplete-product" class="form-control" required autocomplete="off"/>
              <input type="hidden" name="product_id" value="{{ product_id }}" id="input-product-id"/>
              <ul id="autocomplete-product" class="dropdown-menu"></ul>
              <div class="form-text">{{ help_product }}</div>
              <div id="error-product" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-text" class="col-sm-2 col-form-label">{{ entry_text }}</label>
            <div class="col-sm-10">
              <textarea name="text" rows="8" placeholder="{{ entry_text }}" id="input-text" class="form-control" required>{{ text }}</textarea>
              <div id="error-text" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-rating" class="col-sm-2 col-form-label required">{{ entry_rating }}</label>
            <div class="col-sm-10">
              <select name="rating" id="input-rating" class="form-select">
                {% for value in 1..5 %}
                <option value="{{ value }}"{% if rating == value %} selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
              <div id="error-rating" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-date-added" class="col-sm-2 col-form-label">{{ entry_date_added }}</label>
            <div class="col-sm-10 col-md-4">
              <input type="datetime-local" name="date_added" value="{{ date_added }}" placeholder="{{ entry_date_added }}" id="input-date-added" class="form-control"/>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <x-switch name="status" value="1" checked="{{ status }}" input-id="input-status" input-class="form-switch form-switch-lg"></x-switch>
            </div>
          </div>
          <input type="hidden" name="review_id" value="{{ review_id }}" id="input-review-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="view/javascript/review.js"></script>
{{ footer }}
