<h3>{{ heading_title }}</h3>
<div class="row"> {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <div>
          <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
          <p>{{ product.description }}</p>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="price">
            {% if product.price %}
              <p>
                {% if not product.special %}
                {{ product.price }}
                {% else %}
                <span class="price-new">{{ product.special }}</span> <span class="price-old">({{ product.price }})</span>
                {% endif %}
                {% if product.tax %}<br/>
                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                {% endif %}
              </p>
            {% endif %}
            </div>
          </div>
          <div class="col-xs-6">
            <div class="rating">
            {% if product.rating %}
              {% for i in 1..5 %}
              {% if product.rating < i %}
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              {% else %}
              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              {% endif %}
              {% endfor %}
            {% else %}
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="button-group">
        <ul class="list-inline">
          <li><a role="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></a></ul>
          <li><a role="button" class="short-wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></a></ul>
          <li><a role="button" class="short-compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></a></ul>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %} </div>
