<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td class="text-left">{{ column_extension }}</a></td>
      <td class="text-right">{{ column_action }}</td>
    </tr>
  </thead>
  <tbody>
    {% if extensions %}
    {% for extension in extensions %}
    <tr>
      <td class="text-left">{{ extension.name }}</td>
      <td class="text-right">{{ extension.success }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td class="text-center" colspan="2">{{ text_no_results }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
