{% if addresses %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      {% for result in addresses %}
        <tr>
          <td class="text-start">{{ result.address }}</td>
          <td class="text-end"><a href="{{ result.edit }}" class="btn btn-outline-primary">{{ button_edit }}</a> <a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% else %}
  <p>{{ text_no_results }}</p>
{% endif %}

