{{ header }}
<div id="account-reset" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form id="form-reset">
        <fieldset>
          <legend>{{ text_password }}</legend>
          <div class="row mb-3">
            <label for="input-password" class="col-sm-2 col-form-label">{{ entry_password }}</label>
            <div class="col-sm-10">
              <input type="password" name="password" value="" id="input-password" class="form-control"/>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-confirm" class="col-sm-2 col-form-label">{{ entry_confirm }}</label>
            <div class="col-sm-10">
              <input type="password" name="confirm" value="" id="input-confirm" class="form-control"/>
            </div>
          </div>
        </fieldset>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-start"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
          <div class="float-end">
            <button type="button" data-oc-action="{{ save }}" data-oc-form="#form-reset" class="btn btn-primary">{{ button_continue }}</button>
          </div>
        </div>
      </form>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}