{{ header }}
<div id="account-order" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-start" colspan="2">{{ text_order_detail }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-start" style="width: 50%;">{% if invoice_no %} <b>{{ text_invoice_no }}</b> {{ invoice_no }}
                <br/>
              {% endif %} <b>{{ text_order_id }}</b> #{{ order_id }}
              <br/>
              <b>{{ text_date_added }}</b> {{ date_added }}</td>
            <td class="text-start" style="width: 50%;">{% if payment_method %} <b>{{ text_payment_method }}</b> {{ payment_method }}
                <br/>
              {% endif %}
              {% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }}{% endif %}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-start" style="width: 50%; vertical-align: top;">{{ text_payment_address }}</td>
            {% if shipping_address %}
              <td class="text-start" style="width: 50%; vertical-align: top;">{{ text_shipping_address }}</td>
            {% endif %} </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-start">{{ payment_address }}</td>
            {% if shipping_address %}
              <td class="text-start">{{ shipping_address }}</td>
            {% endif %} </tr>
        </tbody>
      </table>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-start">{{ column_name }}</td>
              <td class="text-start">{{ column_model }}</td>
              <td class="text-end">{{ column_quantity }}</td>
              <td class="text-end">{{ column_price }}</td>
              <td class="text-end">{{ column_total }}</td>
              {% if products %}
                <td style="width: 20px;"></td>
              {% endif %} </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                <td class="text-start">{{ product.name }}
                  {% for option in product.option %}
                    <br/>
                    &nbsp;
                    <small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</td>
                <td class="text-start">{{ product.model }}</td>
                <td class="text-end">{{ product.quantity }}</td>
                <td class="text-end">{{ product.price }}</td>
                <td class="text-end">{{ product.total }}</td>
                <td class="text-end" style="white-space: nowrap;">{% if product.reorder %} <a href="{{ product.reorder }}" data-bs-toggle="tooltip" title="{{ button_reorder }}" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></a> {% endif %} <a href="{{ product.return }}" data-bs-toggle="tooltip" title="{{ button_return }}" class="btn btn-danger"><i class="fa-solid fa-reply"></i></a></td>
              </tr>
            {% endfor %}
            {% for voucher in vouchers %}
              <tr>
                <td class="text-start">{{ voucher.description }}</td>
                <td class="text-start"></td>
                <td class="text-end">1</td>
                <td class="text-end">{{ voucher.amount }}</td>
                <td class="text-end">{{ voucher.amount }}</td>
                {% if products %}
                  <td></td>
                {% endif %} </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            {% for total in totals %}
              <tr>
                <td colspan="3"></td>
                <td class="text-end"><b>{{ total.title }}</b></td>
                <td class="text-end">{{ total.text }}</td>
                {% if products %}
                  <td></td>
                {% endif %} </tr>
            {% endfor %}
          </tfoot>
        </table>
      </div>
      {% if comment %}
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-start">{{ text_comment }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-start">{{ comment }}</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
      {% if histories %}
        <h3>{{ text_history }}</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-start">{{ column_date_added }}</td>
              <td class="text-start">{{ column_status }}</td>
              <td class="text-start">{{ column_comment }}</td>
            </tr>
          </thead>
          <tbody>
            {% if histories %}
              {% for history in histories %}
                <tr>
                  <td class="text-start">{{ history.date_added }}</td>
                  <td class="text-start">{{ history.status }}</td>
                  <td class="text-start">{{ history.comment }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="3" class="text-center">{{ text_no_results }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      {% endif %}
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-end"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}