{{ header }}
<div id="account-order" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}

      <div class="row">

        <div class="col mb-3">
          <div class="form-control" style="min-height: 64px;">
            <strong class="lead">{{ text_invoice_no }}</strong>
            <br/>
            {% if invoice_no %}{{ invoice_no }} {% else %}{{ text_tbc }}{% endif %}
          </div>
        </div>

        <div class="col mb-3">
          <div class="form-control" style="min-height: 64px;">
            <strong class="lead">{{ text_order_id }}</strong>
            <br/>
            {{ order_id }}
          </div>
        </div>

      </div>

      {% if payment_address or shipping_address %}
        <div class="row">

          {% if payment_address %}
            <div class="col mb-3">
              <div class="form-control" style="min-height: 128px;">
                <strong class="lead">{{ text_payment_address }}</strong>
                <br/>
                {{ payment_address }}
              </div>
            </div>
          {% endif %}

          {% if shipping_address %}
            <div class="col mb-3">
              <div class="form-control" style="min-height: 128px;">
                <strong class="lead">{{ text_shipping_address }}</strong>
                <br/>
                {{ shipping_address }}
              </div>
            </div>
          {% endif %}

        </div>
      {% endif %}

      <div class="row">

        {% if shipping_method %}
          <div class="col mb-3">
            <div class="form-control" style="min-height: 64px;">
              <strong class="lead">{{ text_shipping_method }}</strong>
              <br/>
              {{ shipping_method }}
            </div>
          </div>
        {% endif %}

        <div class="col mb-3">
          <div class="form-control" style="min-height: 64px;">
            <strong class="lead">{{ text_payment_method }}</strong>
            <br/>
            {{ payment_method }}
          </div>
        </div>

      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>{{ column_name }}</th>
              <th>{{ column_model }}</th>
              <th class="text-end">{{ column_quantity }}</th>
              <th class="text-end">{{ column_price }}</th>
              <th class="text-end">{{ column_total }}</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                <td><a href="{{ product.href }}">{{ product.name }}</a>
                  <ul class="list-unstyled mb-0">
                    {% for option in product.option %}
                      <li>
                        <small> - {{ option.name }}: {{ option.value }}</small>
                      </li>
                    {% endfor %}

                    {% if product.subscription %}
                      <li>
                        <small> - {{ text_subscription }}: {% if product.subscription %}<a href="{{ product.subscription }}" target="_blank">{{ product.subscription_plan }}</a>{% else %}{{ product.subscription_plan }}{% endif %}</small>
                      </li>
                    {% endif %}

                    {% if product.reward %}
                      <li>
                        <small> - {{ text_points }}: {{ product.reward }}</small>
                      </li>
                    {% endif %}

                  </ul>
                </td>
                <td>{{ product.model }}</td>
                <td class="text-end">{{ product.quantity }}</td>
                <td class="text-end">{{ product.price }}</td>
                <td class="text-end">{{ product.total }}</td>
              </tr>
            {% endfor %}

            {% for total in totals %}
              <tr>
                <td colspan="3"></td>
                <td class="text-end"><strong>{{ total.title }}</strong></td>
                <td class="text-end">{{ total.text }}</td>
              </tr>
            {% endfor %}

          </tbody>

        </table>
      </div>

      {% if comment %}
        <div class="form-control mb-3" style="min-height: 64px;">
          <strong class="lead">{{ text_comment }}</strong>
          <br/>
          {{ comment }}
        </div>
      {% endif %}

      <h2>Options</h2>

      <div class="mb-3">


        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            I wish to return a product
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            I wish to reorder products
          </label>
        </div>


        <select name="customer_group_id" id="input-customer-group" class="form-select mb-3">
          {% for product in products %}
            <option value="{{ customer_group.customer_group_id }}"{% if customer_group.customer_group_id == customer_group_id %} selected{% endif %}>{{ product.name }}</option>
          {% endfor %}
        </select>




          <a href="{{ product.return }}" data-bs-toggle="tooltip" title="{{ button_return }}" class="btn btn-danger"><i class="fa-solid fa-reply"></i> I wish to return a product</a>

          <a href="{{ product.reorder }}" class="btn btn-danger">I wish to reorder products</a>




      </div>

      <h2>{{ text_history }}</h2>
      <div id="history">{{ history }}</div>

      <div class="text-end mt-3"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript"><!--
$('#history').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#history').load(this.href);
});
//--></script>
{{ footer }}
