{{ header }}
<div class="container" id="account-password">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div class="col" id="content">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form action="{{ save }}" method="post" data-oc-toggle="ajax" id="form-password">
        <fieldset>
          <legend>{{ text_password }}</legend>
          <div class="row mb-3 required">
            <label for="input-password" class="col-md-3 col-form-label">{{ entry_password }}</label>
            <div class="col-md-9">
              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" class="form-control" autocomplete="new-password" id="input-password"/>
              <div class="invalid-feedback" id="error-password"></div>
            </div>
          </div>
          <div class="row mb-3 required">
            <label for="input-confirm" class="col-md-3 col-form-label">{{ entry_confirm }}</label>
            <div class="col-md-9">
              <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" class="form-control" id="input-confirm"/>
              <div class="invalid-feedback" id="error-confirm"></div>
            </div>
          </div>
        </fieldset>
        <div class="row">
          <div class="col">
            <a href="{{ back }}" class="btn btn-light">{{ button_back }}</a>
          </div>
          <div class="col text-end">
            <button type="submit" class="btn btn-primary">{{ button_continue }}</button>
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
