{% if payment_methods %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-start">{{ column_payment_method }}</td>
          <td class="text-start">{{ column_image }}</td>
          <td class="text-start">{{ column_type }}</td>
          <td class="text-start">{{ column_date_added }}</td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
      <tbody>
        {% for payment_method in payment_methods %}
          <tr>
            <td class="text-start">{{ payment_method.name }}</td>
            <td class="text-end"><a href="{{ payment_method.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>{{ text_no_results }}</p>
{% endif %}