{{ header }}
<div id="account-subscription" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}

      <div class="row">
        <div class="col mb-3">
          <div class="form-control" style="min-height: 64px;">
            <div class="lead"><strong>{{ text_subscription_id }}</strong>
              <div>#{{ subscription_id }}</div>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="form-control" style="min-height: 64px;">
            <div class="lead"><strong>{{ text_order_id }}</strong>
              <div>{{ order_id }}</div>
            </div>
          </div>
        </div>
      </div>

      {% if payment_address or shipping_address %}
        <div class="row">

          {% if payment_address %}
            <div class="col mb-3">
              <div class="form-control" style="min-height: 128px;">
                <div class="lead"><strong>{{ text_payment_address }}</strong>
                  <div>{{ payment_address }}</div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if shipping_address %}
            <div class="col mb-3">
              <div class="form-control" style="min-height: 128px;">
                <div class="lead"><strong>{{ text_shipping_address }}</strong>
                  <div>{{ shipping_address }}</div>
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      {% endif %}

      <div class="row">
        {% if shipping_method %}
          <div class="col mb-3">
            <div class="form-control" style="min-height: 64px;">
              <div class="lead">
                <strong>{{ text_shipping_method }}</strong>
                <div>{{ shipping_method }}</div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="col mb-3">
          <div class="form-control" style="min-height: 64px;">
            <div class="lead"><strong>{{ text_payment_method }}</strong>
              <div>{{ payment_method }}</div>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ column_product }}</th>
            <th>{{ column_model }}</th>
            <th class="text-end">{{ column_quantity }}</th>
            <th class="text-end">{{ column_trial_price }}</th>
            <th class="text-end">{{ column_price }}</th>
          </tr>
        </thead>
        <tbody>
          {% if products %}

            {% for product in products %}
              <tr>
                <td><a href="{{ product.product_edit }}" target="_blank">{{ product.name }}</a>
                  <ul class="list-unstyled">
                    {% for option in product.option %}
                      <li>
                        <small> - {{ option.name }}: {{ option.value }}</small>
                      </li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{ product.model }}</td>
                <td class="text-end">{{ product.quantity }}</td>
                <td class="text-end">{{ product.trial_price }}</td>
                <td class="text-end">{{ product.price }}</td>
              </tr>
            {% endfor %}

          {% else %}
            <tr>
              <td colspan="5" class="text-center">{{ text_no_results }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="form-control" style="min-height: 64px;">
        {{ text_subscription_plan }}
        {{ description }}
      </div>





      <h2>{{ text_history }}</h2>
      <div id="history">{{ history }}</div>

      <h2>{{ text_order }}</h2>
      <div id="order">{{ order }}</div>

      <div class="text-end mt-3"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript"><!--
$('#history').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#history').load(this.href);
});

$('#order').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#order').load(this.href);
});
//--></script>
{{ footer }}
