{{ header }}
<div id="account-voucher" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_description }}</p>
      <form id="form-voucher">
        <div class="row mb-3 required">
          <label for="input-to-name" class="col-sm-2 col-form-label">{{ entry_to_name }}</label>
          <div class="col-sm-10">
            <input type="text" name="to_name" value="{{ to_name }}" id="input-to-name" class="form-control"/>
          </div>
        </div>
        <div class="row mb-3 required">
          <label for="input-to-email" class="col-sm-2 col-form-label">{{ entry_to_email }}</label>
          <div class="col-sm-10">
            <input type="text" name="to_email" value="{{ to_email }}" id="input-to-email" class="form-control"/>
          </div>
        </div>
        <div class="row mb-3 required">
          <label for="input-from-name" class="col-sm-2 col-form-label">{{ entry_from_name }}</label>
          <div class="col-sm-10">
            <input type="text" name="from_name" value="{{ from_name }}" id="input-from-name" class="form-control"/>
          </div>
        </div>
        <div class="row mb-3 required">
          <label for="input-from-email" class="col-sm-2 col-form-label">{{ entry_from_email }}</label>
          <div class="col-sm-10">
            <input type="text" name="from_email" value="{{ from_email }}" id="input-from-email" class="form-control"/>
          </div>
        </div>
        <div class="row mb-3 required">
          <label class="col-sm-2 col-form-label">{{ entry_theme }}</label>
          <div class="col-sm-10">
            {% for voucher_theme in voucher_themes %}
              {% if voucher_theme.voucher_theme_id == voucher_theme_id %}
                <div class="form-check">
                  <label> <input type="radio" name="voucher_theme_id" value="{{ voucher_theme.voucher_theme_id }}" class="form-check-input" checked="checked"/>
                    {{ voucher_theme.name }}</label>
                </div>
              {% else %}
                <div class="form-check">
                  <label><input type="radio" name="voucher_theme_id" value="{{ voucher_theme.voucher_theme_id }}" class="form-check-input"/>
                    {{ voucher_theme.name }}</label>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="row mb-3">
          <label for="input-message" class="col-sm-2 col-form-label"><span data-bs-toggle="tooltip" title="{{ help_message }}" class="col-sm-2 col-form-label">{{ entry_message }}</span></label>
          <div class="col-sm-10">
            <textarea name="message" cols="40" rows="5" id="input-message" class="form-control">{{ message }}</textarea>
          </div>
        </div>
        <div class="row mb-3">
          <label for="input-amount" class="col-sm-2 col-form-label"><span data-bs-toggle="tooltip" title="{{ help_amount }}" class="col-sm-2 col-form-label">{{ entry_amount }}</span></label>
          <div class="col-sm-10">
            <input type="text" name="amount" value="{{ amount }}" id="input-amount" class="form-control" size="5"/>
          </div>
        </div>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-end"> {{ text_agree }}
            {% if agree %}
              <input type="checkbox" name="agree" value="1" checked="checked"/>
            {% else %}
              <input type="checkbox" name="agree" value="1"/>
            {% endif %}
            &nbsp;
            <button type="button" data-oc-action="{{ save }}" data-oc-form="#form-voucher" class="btn btn-primary">{{ button_continue }}</button>
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
