{% if products %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center"><strong>{{ column_image }}</strong></td>
          <td class="text-start"><strong>{{ column_name }}</strong></td>
          <td class="text-start"><strong>{{ column_model }}</strong></td>
          <td class="text-end"><strong>{{ column_stock }}</strong></td>
          <td class="text-end"><strong>{{ column_price }}</strong></td>
          <td class="text-end"><strong>{{ column_action }}</strong></td>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td class="text-center">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/></a>{% endif %}</td>
            <td class="text-start"><a href="{{ product.href }}">{{ product.name }}</a></td>
            <td class="text-start">{{ product.model }}</td>
            <td class="text-end">{{ product.stock }}</td>
            <td class="text-end">
              {% if product.price %}
                <div class="price">
                  {% if not product.special %}
                    {{ product.price }}
                  {% else %}
                    <b>{{ product.special }}</b> <s>{{ product.price }}</s>
                  {% endif %}
                </div>
              {% endif %}
            </td>
            <td class="text-end">
              <form method="post" data-oc-toggle="ajax" data-oc-load="{{ wishlist }}" data-oc-target="#wishlist">
                <input type="hidden" name="product_id" value="{{ product.product_id }}"/> <input type="hidden" name="quantity" value="{{ product.minimum }}"/>
                <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary"><i class="fa-solid fa-cart-shopping fa-fw"></i></button>
                <button type="submit" formaction="{{ remove }}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-circle-xmark fa-fw"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>{{ text_no_results }}</p>
{% endif %}
