{{ header }}
<main id="error-not-found">
  <div class="border-bottom my-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h1 class="text-danger"><i class="fas fa-exclamation"></i> {{ heading_title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header text-danger"><i class="fas fa-exclamation-triangle"></i> {{ heading_title }}</div>
      <div class="card-body">
        <p class="card-text text-center text-danger">{{ text_error }}</p>
      </div>
      <div class="card-footer d-flex">
        <a href="{{ continue }}" class="btn btn-outline-primary ml-auto">{{ button_continue }} <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</main>
{{ footer }}
