<script>
        var dividoKey = "{{api_key}}";
</script>
<script src="{{ merchant_script }}"></script>
 


<style>

</style>


<div id="divido-checkout" data-divido-calculator data-divido-plans="{{ plan_list }}">
    <h1>
        <a href="https://www.divido.com" target="_blank" class="divido-logo divido-logo-sm" style="float:right;">Divido</a>
        {{ text_checkout_title }}
    </h1>
    <div style="clear:both;"></div>
		<div class="divido-widget">
		    <div data-divido-widget data-divido-plans="{{ planList }}" data-divido-amount="{{ product_price }}"></div>
		</div>   
    <div class="clear"></div>
</div>
