<script>
        var dividoKey = "{{api_key}}";
</script>
<script src="{{ merchant_script }}"></script>
 
<style>
.divido-widget-logo{
	height:1em;
}
</style>

<div id="divido-checkout" data-divido-calculator data-divido-plans="{{ plan_list }}">
    <h2>
        <a href="https://www.divido.com" target="_blank" class="divido-logo divido-logo-sm" style="float:right;">
		<img src="//cdn.divido.com/calculator/v2/divido.svg" alt="Template" class=" divido-widget-logo">
		</a>
        {{ text_checkout_title }}
    </h2>
    <div style="clear:both;"></div>
		<div class="divido-widget">
		    <div data-divido-widget data-divido-plans="{{ planList }}" data-divido-amount="{{ product_price }}"></div>
		</div>   
    <div class="clear"></div>

</div>
