<fieldset>
  <legend>{{ text_instruction }}</legend>
  <p><b>{{ text_description }}</b></p>
  <div class="border rounded p-3 mb-2">
    <p>{{ bank }}</p>
    <p>{{ text_payment }}</p>
  </div>
  <div class="text-end">
    <button type="button" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
  </div>
</fieldset>
<script src="extension/opencart/view/javascript/bank_transfer.js" type="text/javascript"></script>
