<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>{{ column_ip }}</th>
        <th>{{ column_user_agent }}</th>
        <th>{{ column_status }}</th>
        <th>{{ column_date_added }}</th>
        <th>{{ column_date_expire }}</th>
        <th class="text-end">{{ column_action }}</th>
      </tr>
    </thead>
    <tbody>
      {% if authorizes %}
        {% for authorize in authorizes %}
          <tr>
            <td><a href="https://whatismyipaddress.com/ip/{{ user_login.ip }}" target="_blank">{{ authorize.ip }}</a></td>
            <td>{{ authorize.user_agent }}</td>
            <td>{{ authorize.status }}</td>
            <td>{{ authorize.date_added }}</td>
            <td>{{ authorize.date_expire }}</td>
            <td class="text-end"><a href="{{ authorize.delete }}" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start"><x-pagination href="{{ pagination }}" target="#list" page="{{ page }}" limit="{{ limit }}" total="{{ total }}"></x-pagination></div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>