<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <base href="{{ base }}"/>
  <meta name="description" content="{{ meta_description }}" />
  <meta name="keywords" content="{{ meta_keyword }}"/>
</head>
<body>
<h1>{{ heading }}</h1>
{{ description }}


</body>
</html>many