<div class="dropdown d-grid">
  <button type="button" data-bs-toggle="dropdown" class="btn btn-lg btn-inverse btn-block dropdown-toggle"><i class="fa-solid fa-cart-shopping"></i> {{ text_items }}</button>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-cart">
    {% if products or vouchers %}
      <div class="cart-products">
          {% for product in products %}
            <div class="cart-product">
              <div class="cart-product-image">
                {% if product.thumb %}
                  <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a>
                {% endif %}
              </div>
              <div class="cart-product-name">
                <a href="{{ product.href }}">{{ product.name }}</a>
                {% if product.option %}
                  {% for option in product.option %}
                    <br/>
                    <small> - {{ option.name }}: {{ option.value }}</small>
                  {% endfor %}
                {% endif %}
                {% if product.reward %}
                  <br/>
                  <small> - {{ text_points }}: {{ product.reward }}</small>
                {% endif %}
                {% if product.subscription %}
                  <br/>
                  <small> - {{ text_subscription }}: {{ product.subscription }}</small>
                {% endif %}
              </div>
              <div class="cart-product-quantity">x {{ product.quantity }}</div>
              <div class="cart-product-total">{{ product.total }}</div>
              <div class="cart-product-action">
                <form action="{{ product_remove }}" method="post" data-oc-toggle="ajax" data-oc-load="{{ list }}" data-oc-target="#header-cart">
                  <input type="hidden" name="key" value="{{ product.cart_id }}">
                  <button type="submit" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i></button>
                </form>
              </div>
            </div>
          {% endfor %}
      
          <div class="cart-totals">
            {% for total in totals %}
              <div class="cart-total">
                <div class="cart-total-title">{{ total.title }}</div>
                <div class="cart-total-text">{{ total.text }}</div>
              </div>
            {% endfor %}
          </div>
          
          <div class="cart-buttons">
            <a class="btn btn-default" href="{{ cart }}"><strong><i class="fa-solid fa-cart-shopping"></i> {{ text_cart }}</strong></a>
            <a class="btn btn-success" href="{{ checkout }}"><strong><i class="fa-solid fa-share"></i> {{ text_checkout }}</strong></a>
          </div>
    
      </div>
    {% else %}
      <p class="text-center">{{ text_no_results }}</p>
    {% endif %}
  </div>
</div>
