<div id="cookie">
  <div class="row justify-content-center mt-2">
    <div class="col-8 p-2 text-center"><p>{{ text_cookie }}</p></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4"><button type="button" value="{{ agree }}" id="button-cookie" data-loading-text="{{ text_loading }}" class="btn bg-primary btn-block text-white">{{ button_agree }}</button></div>
    <div class="col-4"><button type="button" value="{{ disagree }}" id="button-disagree" data-loading-text="{{ text_loading }}" class="btn btn-light btn-block">{{ button_disagree }}</button></div>
  </div>
</div>