<div id="cookie">
  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-sm-8 col-lg-12 p-2 text-center"><p>{{ text_cookie }}</p></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-lg-4"><button type="button" value="{{ agree }}" data-loading-text="{{ text_loading }}" class="btn bg-primary btn-block text-white">{{ button_agree }}</button></div>
      <div class="col-6 col-lg-4"><button type="button" value="{{ disagree }}" data-loading-text="{{ text_loading }}" class="btn btn-light btn-block">{{ button_disagree }}</button></div>
    </div>
  </div>
</div>