<form id="form-currency">
  <div class="dropdown"><a href="#" data-bs-toggle="dropdown" class="dropdown-toggle">{% if symbol_left != blank %}<strong>{{ symbol_left }}</strong>{% elsif symbol_right != blank %}<strong>{{ symbol_right }}</strong>{% endif %} <span class="d-none d-md-inline">{{ text_currency }}</span> <i class="fa-solid fa-caret-down"></i></a>
    <ul class="dropdown-menu">
      {% for currency in currencies %}
        {% if currency.symbol_left != blank %}
          <li><a href="{{ currency.code }}" data-on="onclick:change" class="dropdown-item">{{ currency.symbol_left }} {{ currency.title }}</a></li>
        {% else %}
          <li><a href="{{ currency.code }}" data-on="onclick:change" class="dropdown-item">{{ currency.symbol_right }} {{ currency.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</form>
