{{ header }}
<div class="container" id="common-home">
  <div class="row">{{ column_left }}
    <div class="col" id="content">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}