{% if languages|length > 1 %}
  <form id="form-language" action="{{ action }}" method="post" data-oc-toggle="ajax">
    <div class="dropdown"><a href="#" data-bs-toggle="dropdown" class="dropdown-toggle"><img src="{{ image }}" alt="{{ name }}" title="{{ name }}"> <span class="d-none d-md-inline">{{ text_language }}</span> <i class="fa-solid fa-caret-down"></i></a>
      <ul class="dropdown-menu">
        {% for language in languages %}
          <li><a href="{{ language.code }}" class="dropdown-item"><img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="code" value="{{ code }}" id="input-language"/>
    <input type="hidden" name="redirect" value="{{ redirect }}"/>
  </form>
{% endif %}