{% if languages|length > 1 %}
  <div class="dropdown">
    <div class="dropdown-toggle" data-bs-toggle="dropdown">
      {% for language in languages %}
        {% if language.code == code %}
          <img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}">
        {% endif %}
      {% endfor %}
      <span class="d-none d-md-inline">{{ text_language }}</span> <i class="fa-solid fa-caret-down"></i>
    </div>
    <ul class="dropdown-menu">
      {% for language in languages %}
        <li><a href="{{ language.href }}" class="dropdown-item"><img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}