<fieldset>
  <legend>{{ text_filter }}</legend>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
          <div class="input-group date">
            <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
          <div class="input-group date">
            <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span></div>
        </div>
        <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
      </div>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>{{ heading_title }}</legend>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-left">{{ column_affiliate }}</td>
          <td class="text-left">{{ column_email }}</td>
          <td class="text-left">{{ column_status }}</td>
          <td class="text-right">{{ column_commission }}</td>
          <td class="text-right">{{ column_orders }}</td>
          <td class="text-right">{{ column_total }}</td>
          <td class="text-right">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
      
      {% if affiliates %}
      {% for affiliate in affiliates %}
      <tr>
        <td class="text-left">{{ affiliate.affiliate }}</td>
        <td class="text-left">{{ affiliate.email }}</td>
        <td class="text-left">{{ affiliate.status }}</td>
        <td class="text-right">{{ affiliate.commission }}</td>
        <td class="text-right">{{ affiliate.orders }}</td>
        <td class="text-right">{{ affiliate.total }}</td>
        <td class="text-right"><a href="{{ affiliate.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td class="text-center" colspan="7">{{ text_no_results }}</td>
      </tr>
      {% endif %}
        </tbody>
      
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-left">{{ pagination }}</div>
    <div class="col-sm-6 text-right">{{ results }}</div>
  </div>
</fieldset>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';
	
	var filter_date_start = $('input[name=\'filter_date_start\']').val();
	
	if (filter_date_start) {
		url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
	}

	var filter_date_end = $('input[name=\'filter_date_end\']').val();
	
	if (filter_date_end) {
		url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
	}
	
	$('#report').load('index.php?route=extension/report/affiliate/report&user_token={{ user_token }}' + url);
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script>