{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-oc-action="{{ save }}" data-oc-form="#total-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="total-form">
					<div class="form-group row">
						<label for="input-total" class="col-sm-2 col-form-label">{{ entry_total }}</label>
						<div class="col-sm-10">
							<input type="text" name="total_handling_total" value="{{ total_handling_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control"/>
							<small class="form-text text-muted">{{ help_total }}</small>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-fee" class="col-sm-2 col-form-label">{{ entry_fee }}</label>
						<div class="col-sm-10">
							<input type="text" name="total_handling_fee" value="{{ total_handling_fee }}" placeholder="{{ entry_fee }}" id="input-fee" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-tax-class" class="col-sm-2 col-form-label">{{ entry_tax_class }}</label>
						<div class="col-sm-10">
							<select name="total_handling_tax_class_id" id="input-tax-class" class="form-select">
								<option value="0">{{ text_none }}</option>
								{% for tax_class in tax_classes %}
									{% if tax_class.tax_class_id == total_handling_tax_class_id %}
										<option value="{{ tax_class.tax_class_id }}" selected="selected">{{ tax_class.title }}</option>
									{% else %}
										<option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="total_handling_status" id="input-status" class="form-select">
								{% if total_handling_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="total_handling_sort_order" value="{{ total_handling_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }} 