{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-total" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-total" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-total" class="col-sm-2 col-form-label">{{ entry_total }}</label>
            <div class="col-sm-10">
              <input type="text" name="total_low_order_fee_total" value="{{ total_low_order_fee_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control"/>
              <div class="form-text text-muted">{{ help_total }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-fee" class="col-sm-2 col-form-label">{{ entry_fee }}</label>
            <div class="col-sm-10">
              <input type="text" name="total_low_order_fee_fee" value="{{ total_low_order_fee_fee }}" placeholder="{{ entry_fee }}" id="input-fee" class="form-control"/>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-tax-class" class="col-sm-2 col-form-label">{{ entry_tax_class }}</label>
            <div class="col-sm-10">
              <select name="total_low_order_fee_tax_class_id" id="input-tax-class" class="form-select">
                <option value="0">{{ text_none }}</option>
                {% for tax_class in tax_classes %}
                  <option value="{{ tax_class.tax_class_id }}"{% if tax_class.tax_class_id == total_low_order_fee_tax_class_id %} selected{% endif %}>{{ tax_class.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="total_low_order_fee_status" value="0"/>
                <input type="checkbox" name="total_low_order_fee_status" value="1" id="input-status" class="form-check-input"{% if total_low_order_fee_status %} checked{% endif %}/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="total_low_order_fee_sort_order" value="{{ total_low_order_fee_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 