{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-blog-article" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-blog-article" action="{{ save }}" method="post" data-oc-toggle="ajax">

          <!-- region Article Name -->
          <div class="row mb-3 required">
            <label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" maxlength="255" />
              <div id="error-name" class="invalid-feedback"></div>
            </div>
          </div>
          <!-- endregion Article Name -->

          <!-- region Status -->
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="status" value="0"/>
                <input type="checkbox" name="status" value="1" id="input-status" class="form-check-input"{% if status %} checked{% endif %}/>
              </div>
            </div>
          </div>
          <!-- endregion Status -->

          <!-- region Author -->
          <div class="row mb-3">
            <label for="input-email" class="col-sm-2 col-form-label">{{ entry_author_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="blog-author" value="{{ author_name }}" placeholder="{{ entry_author }}" id="input-blog-author" data-oc-target="autocomplete-blog-author" class="form-control" autocomplete="off"/>
              <input type="hidden" name="blog_author_id" value="{{ blog_author_id }}" id="input-blog-author-id"/>
              <ul id="autocomplete-blog-author" class="dropdown-menu"></ul>
              <div class="form-text">{{ help_author }}</div>
            </div>
          </div>
          <!-- endregion Author -->

          <!-- region Image -->
          <div class="row mb-3">
            <label for="input-blog-article-image" class="col-sm-2 col-form-label">{{ entry_image }}</label>
            <div class="col-sm-10">
              <div class="card image px-2 text-center">
                <img src="{{ image }}" alt="" title="" id="thumb-blog-article-image" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>
                <input type="hidden" name="image" value="{{ original_image }}" id="input-blog-article-image"/>
                <div class="card-body">
                  <button type="button" data-oc-toggle="image" data-oc-target="#input-blog-article-image" data-oc-thumb="#thumb-blog-article-image" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                  <button type="button" data-oc-toggle="clear" data-oc-target="#input-blog-article-image" data-oc-thumb="#thumb-blog-article-image" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                </div>
              </div>
            </div>
          </div>
          <!-- endregion Image -->

          <!-- region Store -->
          <div class="row mb-3">
            <label for="input-email" class="col-sm-2 col-form-label">{{ entry_stores }}</label>
            <div class="col-sm-2">
              <div class="input-group">
                <div id="product-store" class="form-control" style="height: 150px; overflow: auto;">
                  {% for store in stores %}
                    <div class="form-check">
                      <input type="checkbox" name="article_store_id[]" value="{{ store.store_id }}" id="input-store-{{ store.store_id }}" class="form-check-input"{% if store.store_id in article_store_id %} checked{% endif %}/> <label for="input-store-{{ store.store_id }}" class="form-check-label">{{ store.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <!-- endregion Store -->

          <!-- region Total View Count -->
          {% if view_count is not null %}
          <div class="row mb-3 align-items-center">
            <label for="input-blog-article-view-count" class="col-sm-2 col-form-label">{{ text_total_view_count }}</label>
            <div class="col-sm-10">
              <span>{{ view_count }}</span>
            </div>
          </div>
          {% endif %}
          <!-- endregion Total View Count -->

          <!-- region View Counts -->
          {% if blog_article_id > 0 and article_stores|length > 0 %}
            <div class="row mb-3 align-items-center">
              <label for="input-blog-article-view-counts" class="col-sm-2 col-form-label">{{ text_view_count_table }}</label>
              <div class="col-sm-3">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <td>{{ column_store_name }}</td>
                    <td>{{ column_view_count }}</td>
                  </tr>
                  </thead>
                  <tbody>
                    {% for article_store in article_stores %}
                      <tr>
                        <td>{{ article_store.store_name }}</td>
                        <td>{{ article_store.view_count }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
          <!-- endregion View Counts -->


          <ul class="nav nav-tabs">
            {% for language in languages %}
              <li class="nav-item"><a href="#language-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}"><img src="{{ language.image }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for language in languages %}
              <div id="language-{{ language.language_id }}" class="tab-pane{% if loop.first %} active{% endif %}">

                <!-- region Title -->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">{{ entry_title }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="blog_article_content[{{ language.language_id }}][title]" value="{{ blog_article_content[language.language_id] ? blog_article_content[language.language_id].title }}" placeholder="{{ entry_title }}" id="input-title" class="form-control"/>
                  </div>
                </div>
                <!-- endregion Title -->

                <!-- region Description -->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">{{ entry_description }}</label>
                  <div class="col-sm-10">
                    <textarea rows="3" name="blog_article_content[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description" class="form-control">{{ blog_article_content[language.language_id] ? blog_article_content[language.language_id].description }}</textarea>
                  </div>
                </div>
                <!-- endregion Description -->

                <!-- region Content -->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">{{ entry_content }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <div class="form-control h-100 p-0 border-0 rounded-0">
                        <textarea name="blog_article_content[{{ language.language_id }}][content]" placeholder="{{ entry_content }}" id="input-content-{{ language.language_id }}" data-oc-toggle="ckeditor" data-lang="{{ ckeditor }}" class="w-100 position-relative">{{ blog_article_content[language.language_id] ? blog_article_content[language.language_id].content }}</textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- endregion Content -->

                <!-- region Tags -->
                <div class="row mb-3">
                  <label for="tags-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_tags }}</label>
                  <div class="col-sm-10">
                    <select type="text" class="form-select form-select-tags" id="tags-{{ language.language_id }}" name="tags[{{ language.language_id }}][]" data-placeholder="{{ entry_tags }}" multiple data-allow-new="true" data-separator=",|  " data-allow-clear="true" {% if tags[language.language_id] %}data-selected='{{ tags[language.language_id] | json_encode }}'{% endif %}>
                      {% if tags[language.language_id] %}
                        {% for tag in tags[language.language_id] %}
                          <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                      {% endif %}
                    </select>
                    <div class="form-text">{{ help_tags }}</div>
                  </div>
                </div>
                <!-- endregion Tags -->
              </div>
            {% endfor %}
          </div>

          <br/>

          <input type="hidden" name="blog_article_id" value="{{ blog_article_id }}" id="input-blog-article-id"/>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('textarea[data-oc-toggle=\'ckeditor\']').ckeditor({
  language: '{{ ckeditor }}'
});

$('#input-blog-author').autocomplete({
  'source': function (request, response) {
    $.ajax({
      url: 'index.php?route=blog/author.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
      dataType: 'json',
      success: function (json) {
        json.unshift({
          blog_author_id: 0,
          name: '{{ text_none }}'
        });

        response($.map(json, function (item) {
          return {
            label: item['name'],
            value: item['blog_author_id']
          }
        }));
      }
    });
  },
  'select': function (item) {
    $('#input-blog-author').val(item['label']);
    $('#input-blog-author-id').val(item['value']);
  }
});

Tags.init('.form-select-tags');

</script>

{{ footer }}
