<form id="form-coupon" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#coupon">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
          <td class="text-start"><a href="{{ sort_name }}"{% if sort == 'name' %} class="{{ order|lower }}"{% endif %}>{{ column_name }}</a></td>
          <td class="text-start"><a href="{{ sort_code }}"{% if sort == 'code' %} class="{{ order|lower }}"{% endif %}>{{ column_code }}</a></td>
          <td class="text-end"><a href="{{ sort_discount }}"{% if sort == 'discount' %} class="{{ order|lower }}"{% endif %}>{{ column_discount }}</a></td>
          <td class="text-start d-none d-lg-table-cell"><a href="{{ sort_date_start }}"{% if sort == 'date_start' %} class="{{ order|lower }}"{% endif %}>{{ column_date_start }}</a></td>
          <td class="text-start d-none d-lg-table-cell"><a href="{{ sort_date_end }}"{% if sort == 'date_end' %} class="{{ order|lower }}"{% endif %}>{{ column_date_end }}</a></td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if coupons %}
          {% for coupon in coupons %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ coupon.coupon_id }}" class="form-check-input"/></td>
              <td class="text-start">{{ coupon.name }}
                <br/>
                {% if coupon.status %}
                  <small class="text-success">{{ text_enabled }}</small>
                {% else %}
                  <small class="text-danger">{{ text_disabled }}</small>
                {% endif %}
              </td>
              <td class="text-start">{{ coupon.code }}</td>
              <td class="text-end">{{ coupon.discount }}</td>
              <td class="text-start d-none d-lg-table-cell">{{ coupon.date_start }}</td>
              <td class="text-start d-none d-lg-table-cell">{{ coupon.date_end }}</td>
              <td class="text-start">{{ coupon.status }}</td>
              <td class="text-end"><a href="{{ coupon.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>