<form id="form-marketing" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#marketing">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
					<td class="text-start"><a href="{{ sort_name }}"{% if sort == 'm.name' %} class="{{ order|lower }}"{% endif %}>{{ column_name }}</a></td>
					<td class="text-start"><a href="{{ sort_code }}"{% if sort == 'm.code' %} class="{{ order|lower }}"{% endif %}>{{ column_code }}</a></td>
					<td class="text-end">{{ column_clicks }}</td>
					<td class="text-end">{{ column_orders }}</td>
					<td class="text-start d-none d-lg-table-cell"><a href="{{ sort_date_added }}"{% if sort == 'm.date_added' %} class="{{ order|lower }}"{% endif %}>{{ column_date_added }}</a></td>
					<td class="text-end">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if marketings %}
					{% for marketing in marketings %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ marketing.marketing_id }}" class="form-check-input"/></td>
							<td class="text-start">{{ marketing.name }}</td>
							<td class="text-start">{{ marketing.code }}</td>
							<td class="text-end">{{ marketing.clicks }}</td>
							<td class="text-end">{{ marketing.orders }}</td>
							<td class="text-start d-none d-lg-table-cell">{{ marketing.date_added }}</td>
							<td class="text-end"><a href="{{ marketing.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="8">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">{{ pagination }}</div>
		<div class="col-sm-6 text-end">{{ results }}</div>
	</div>
</form>