<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">{{ text_order_info }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ text_proposal_id }}</td>
            <td>{{ proposal_id }}</td>
        </tr>
        <tr>
            <td>{{ text_application_id }}</td>
            <td>{{ application_id }}</td>
        </tr>
        <tr>
            <td>{{ text_deposit_amount }}</td>
            <td>{{ deposit_amount }}</td>
        </tr>
    </tbody>
</table>
