<div class="col-lg-6 col-md-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-paypal"></i> PayPal Express<!--<img class="pull-right" width="135" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal Logo">--></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>{{ text_promotion_main }} <a href="https://www.paypal.com/uk/webapps/mpp/express-checkout" target="_blank">{{ text_learn_more }}</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <ul>
            <li>{{ text_promotion_li_1 }}</li>
            <li>{{ text_promotion_li_2 }}</li>
            <li>{{ text_promotion_li_3 }}</li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 align-self-center">
          {% if connect_link is not empty %}
              <p><a href="{{ connect_link }}" data-toggle="tooltip" title="" class="btn btn-primary pull-right" target="_blank" data-original-title="{{ text_connect_paypal }}">{{ text_connect_paypal }}</a></p>
          {% endif %}
          {% if module_link is not empty %}
              <p><a href="{{ module_link }}" data-toggle="tooltip" title="" class="btn btn-primary pull-right" data-original-title="{{ text_edit }}"><i class="fa fa-pencil"></i></a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
