{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered">
          {% if lines %}
          <tr>
            <td>{{ text_product_lines }}</td>
            <td><table class="table table-striped table-bordered">
                <?php $i = 0;  foreach($lines as  $k => $v) { ?>
                <?php if ($i == 0) { ?>
                <thead>
                  <tr>
                    <?php
                    foreach($v as $k => $row) {
                      if ($k == 'L_EBAYITEMTXNID') { echo '<td class="left">'.$text_ebay_txn_id.'</td>'; }
                      if ($k == 'L_NAME') { echo '<td class="left">'.$text_name.'</td>'; }
                      if ($k == 'L_NUMBER') { echo '<td class="left">'.$text_number.'</td>'; }
                      if ($k == 'L_QTY') { echo '<td class="left">'.$text_qty.'</td>'; }
                      if ($k == 'L_COUPONID') { echo '<td class="left">'.$text_coupon_id.'</td>'; }
                      if ($k == 'L_COUPONAMOUNT') { echo '<td class="left">'.$text_coupon_amount.'</td>'; }
                      if ($k == 'L_COUPONAMOUNTCURRENCY') { echo '<td class="left">'.$text_coupon_currency.'</td>'; }
                      if ($k == 'L_LOYALTYCARDDISCOUNTAMOUNT') { echo '<td class="left">'.$text_loyalty_disc_amt.'</td>'; }
                      if ($k == 'L_LOYALTYCARDISCOUNTCURRENCY') { echo '<td class="left">'.$text_loyalty_currency.'</td>'; }
                      if ($k == 'L_AMT') { echo '<td class="left">'.$text_amount.'</td>'; }
                      if ($k == 'L_OPTIONSNAME') { echo '<td class="left">'.$text_options_name.'</td>'; }
                      if ($k == 'L_TAXAMT') { echo '<td class="left">'.$text_tax_amt.'</td>'; }
                      if ($k == 'L_CURRENCYCODE') { echo '<td class="left">'.$text_currency_code.'</td>'; }
                    } $i++;
                    ?>
                  </tr>
                </thead>
                <?php } ?>
                <tr>
                  <?php
                foreach($v as $k => $row) {
                  if ($k == 'L_EBAYITEMTXNID') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_NAME') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_NUMBER') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_QTY') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_COUPONID') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_COUPONAMOUNT') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_COUPONAMOUNTCURRENCY') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_LOYALTYCARDDISCOUNTAMOUNT') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_LOYALTYCARDISCOUNTCURRENCY') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_AMT') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_OPTIONSNAME') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_OPTIONSVALUE') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_TAXAMT') { echo '<td class="left">'.$row.'</td>'; }
                  if ($k == 'L_CURRENCYCODE') { echo '<td class="left">'.$row.'</td>'; }
                } $i++;
                ?>
                </tr>
                <?php } ?>
              </table></td>
          </tr>
          <?php } ?>
          {% if transaction.GIFTMESSAGE %}
          <tr>
            <td>{{ text_gift_msg }}</td>
            <td>{{ transaction.GIFTMESSAGE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.GIFTRECEIPTENABLE %}
          <tr>
            <td>{{ text_gift_receipt }}</td>
            <td>{{ transaction.GIFTRECEIPTENABLE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.GIFTWRAPNAME %}
          <tr>
            <td>{{ text_gift_wrap_name }}</td>
            <td>{{ transaction.GIFTWRAPNAME }}</td>
          </tr>
          <?php } ?>
          {% if transaction.GIFTWRAPAMOUNT %}
          <tr>
            <td>{{ text_gift_wrap_amt }}</td>
            <td>{{ transaction.GIFTWRAPAMOUNT }}</td>
          </tr>
          <?php } ?>
          {% if transaction.BUYERMARKETINGEMAIL %}
          <tr>
            <td>{{ text_buyer_email_market }}</td>
            <td>{{ transaction.BUYERMARKETINGEMAIL }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SURVEYQUESTION %}
          <tr>
            <td>{{ text_survey_question }}</td>
            <td>{{ transaction.SURVEYQUESTION }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SURVEYCHOICESELECTED %}
          <tr>
            <td>{{ text_survey_chosen }}</td>
            <td>{{ transaction.SURVEYCHOICESELECTED }}</td>
          </tr>
          <?php } ?>
          {% if transaction.RECEIVERBUSINESS %}
          <tr>
            <td>{{ text_receiver_business }}</td>
            <td>{{ transaction.RECEIVERBUSINESS }}</td>
          </tr>
          <?php } ?>
          {% if transaction.RECEIVEREMAIL %}
          <tr>
            <td>{{ text_receiver_email }}</td>
            <td>{{ transaction.RECEIVEREMAIL }}</td>
          </tr>
          <?php } ?>
          {% if transaction.RECEIVERID %}
          <tr>
            <td>{{ text_receiver_id }}</td>
            <td>{{ transaction.RECEIVERID }}</td>
          </tr>
          <?php } ?>
          {% if transaction.EMAIL %}
          <tr>
            <td>{{ text_buyer_email }}</td>
            <td>{{ transaction.EMAIL }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PAYERID %}
          <tr>
            <td>{{ text_payer_id }}</td>
            <td>{{ transaction.PAYERID }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PAYERSTATUS %}
          <tr>
            <td>{{ text_payer_status }}</td>
            <td>{{ transaction.PAYERSTATUS }}</td>
          </tr>
          <?php } ?>
          {% if transaction.COUNTRYCODE %}
          <tr>
            <td>{{ text_country_code }}</td>
            <td>{{ transaction.COUNTRYCODE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PAYERBUSINESS %}
          <tr>
            <td>{{ text_payer_business }}</td>
            <td>{{ transaction.PAYERBUSINESS }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SALUTATION %}
          <tr>
            <td>{{ text_payer_salute }}</td>
            <td>{{ transaction.SALUTATION }}</td>
          </tr>
          <?php } ?>
          {% if transaction.FIRSTNAME %}
          <tr>
            <td>{{ text_payer_firstname }}</td>
            <td>{{ transaction.FIRSTNAME }}</td>
          </tr>
          <?php } ?>
          {% if transaction.MIDDLENAME %}
          <tr>
            <td>{{ text_payer_middlename }}</td>
            <td>{{ transaction.MIDDLENAME }}</td>
          </tr>
          <?php } ?>
          {% if transaction.LASTNAME %}
          <tr>
            <td>{{ text_payer_lastname }}</td>
            <td>{{ transaction.LASTNAME }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SUFFIX %}
          <tr>
            <td>{{ text_payer_suffix }}</td>
            <td>{{ transaction.SUFFIX }}</td>
          </tr>
          <?php } ?>
          {% if transaction.ADDRESSOWNER %}
          <tr>
            <td>{{ text_address_owner }}</td>
            <td>{{ transaction.ADDRESSOWNER }}</td>
          </tr>
          <?php } ?>
          {% if transaction.ADDRESSSTATUS %}
          <tr>
            <td>{{ text_address_status }}</td>
            <td>{{ transaction.ADDRESSSTATUS }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYNAME %}
          <tr>
            <td>{{ text_ship_sec_name }}</td>
            <td>{{ transaction.SHIPTOSECONDARYNAME }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTONAME %}
          <tr>
            <td>{{ text_ship_name }}</td>
            <td>{{ transaction.SHIPTONAME }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSTREET %}
          <tr>
            <td>{{ text_ship_street1 }}</td>
            <td>{{ transaction.SHIPTOSTREET }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYADDRESSLINE1 %}
          <tr>
            <td>{{ text_ship_sec_add1 }}</td>
            <td>{{ transaction.SHIPTOSECONDARYADDRESSLINE1 }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSTREET2 %}
          <tr>
            <td>{{ text_ship_street2 }}</td>
            <td>{{ transaction.SHIPTOSTREET2 }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYADDRESSLINE2 %}
          <tr>
            <td>{{ text_ship_sec_add2 }}</td>
            <td>{{ transaction.SHIPTOSECONDARYADDRESSLINE2 }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOCITY %}
          <tr>
            <td>{{ text_ship_city }}</td>
            <td>{{ transaction.SHIPTOCITY }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYCITY %}
          <tr>
            <td>{{ text_ship_sec_city }}</td>
            <td>{{ transaction.SHIPTOSECONDARYCITY }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSTATE %}
          <tr>
            <td>{{ text_ship_state }}</td>
            <td>{{ transaction.SHIPTOSTATE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYSTATE %}
          <tr>
            <td>{{ text_ship_sec_state }}</td>
            <td>{{ transaction.SHIPTOSECONDARYSTATE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOZIP %}
          <tr>
            <td>{{ text_ship_zip }}</td>
            <td>{{ transaction.SHIPTOZIP }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYZIP %}
          <tr>
            <td>{{ text_ship_sec_zip }}</td>
            <td>{{ transaction.SHIPTOSECONDARYZIP }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOCOUNTRYCODE %}
          <tr>
            <td>{{ text_ship_country }}</td>
            <td>{{ transaction.SHIPTOCOUNTRYCODE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYCOUNTRYCODE %}
          <tr>
            <td>{{ text_ship_sec_country }}</td>
            <td>{{ transaction.SHIPTOSECONDARYCOUNTRYCODE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOPHONENUM %}
          <tr>
            <td>{{ text_ship_phone }}</td>
            <td>{{ transaction.SHIPTOPHONENUM }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SHIPTOSECONDARYPHONENUM %}
          <tr>
            <td>{{ text_ship_sec_phone }}</td>
            <td>{{ transaction.SHIPTOSECONDARYPHONENUM }}</td>
          </tr>
          <?php } ?>
          {% if transaction.TRANSACTIONID %}
          <tr>
            <td>{{ text_trans_id }}</td>
            <td>{{ transaction.TRANSACTIONID }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PARENTTRANSACTIONID %}
          <tr>
            <td>{{ text_parent_trans_id }}</td>
            <td><a href="<?php echo $view_link.'&transaction_id='.$transaction['PARENTTRANSACTIONID']; ?>">{{ transaction.PARENTTRANSACTIONID }}</a></td>
          </tr>
          <?php } ?>
          {% if transaction.RECEIPTID %}
          <tr>
            <td>{{ text_receipt_id }}</td>
            <td>{{ transaction.RECEIPTID }}</td>
          </tr>
          <?php } ?>
          {% if transaction.TRANSACTIONTYPE %}
          <tr>
            <td>{{ text_trans_type }}</td>
            <td>{{ transaction.TRANSACTIONTYPE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PAYMENTTYPE %}
          <tr>
            <td>{{ text_payment_type }}</td>
            <td>{{ transaction.PAYMENTTYPE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.ORDERTIME %}
          <tr>
            <td>{{ text_order_time }}</td>
            <td>{{ transaction.ORDERTIME }}</td>
          </tr>
          <?php } ?>
          {% if transaction.AMT %}
          <tr>
            <td>{{ text_amount }}</td>
            <td>{{ transaction.AMT }}</td>
          </tr>
          <?php } ?>
          {% if transaction.CURRENCYCODE %}
          <tr>
            <td>{{ text_currency_code }}</td>
            <td>{{ transaction.CURRENCYCODE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.FEEAMT %}
          <tr>
            <td>{{ text_fee_amount }}</td>
            <td>{{ transaction.FEEAMT }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SETTLEAMT %}
          <tr>
            <td>{{ text_settle_amount }}</td>
            <td>{{ transaction.SETTLEAMT }}</td>
          </tr>
          <?php } ?>
          {% if transaction.TAXAMT %}
          <tr>
            <td>{{ text_tax_amount }}</td>
            <td>{{ transaction.TAXAMT }}</td>
          </tr>
          <?php } ?>
          {% if transaction.EXCHANGERATE %}
          <tr>
            <td>{{ text_exchange }}</td>
            <td>{{ transaction.EXCHANGERATE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PAYMENTSTATUS %}
          <tr>
            <td>{{ text_payment_status }}</td>
            <td>{{ transaction.PAYMENTSTATUS }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PENDINGREASON %}
          <tr>
            <td>{{ text_pending_reason }}</td>
            <td>{{ transaction.PENDINGREASON }}</td>
          </tr>
          <?php } ?>
          {% if transaction.REASONCODE %}
          <tr>
            <td>{{ text_reason_code }}</td>
            <td>{{ transaction.REASONCODE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PROTECTIONELIGIBILITY %}
          <tr>
            <td>{{ text_protect_elig }}</td>
            <td>{{ transaction.PROTECTIONELIGIBILITY }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PROTECTIONELIGIBILITYTYPE %}
          <tr>
            <td>{{ text_protect_elig_type }}</td>
            <td>{{ transaction.PROTECTIONELIGIBILITYTYPE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.STOREID %}
          <tr>
            <td>{{ text_store_id }}</td>
            <td>{{ transaction.STOREID }}</td>
          </tr>
          <?php } ?>
          {% if transaction.TERMINALID %}
          <tr>
            <td>{{ text_terminal_id }}</td>
            <td>{{ transaction.TERMINALID }}</td>
          </tr>
          <?php } ?>
          {% if transaction.INVNUM %}
          <tr>
            <td>{{ text_invoice_number }}</td>
            <td>{{ transaction.INVNUM }}</td>
          </tr>
          <?php } ?>
          {% if transaction.CUSTOM %}
          <tr>
            <td>{{ text_custom }}</td>
            <td>{{ transaction.CUSTOM }}</td>
          </tr>
          <?php } ?>
          {% if transaction.NOTE %}
          <tr>
            <td>{{ text_note }}</td>
            <td>{{ transaction.NOTE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.SALESTAX %}
          <tr>
            <td>{{ text_sales_tax }}</td>
            <td>{{ transaction.SALESTAX }}</td>
          </tr>
          <?php } ?>
          {% if transaction.BUYERID %}
          <tr>
            <td>{{ text_buyer_id }}</td>
            <td>{{ transaction.BUYERID }}</td>
          </tr>
          <?php } ?>
          {% if transaction.CLOSINGDATE %}
          <tr>
            <td>{{ text_close_date }}</td>
            <td>{{ transaction.CLOSINGDATE }}</td>
          </tr>
          <?php } ?>
          {% if transaction.MULTIITEM %}
          <tr>
            <td>{{ text_multi_item }}</td>
            <td>{{ transaction.MULTIITEM }}</td>
          </tr>
          <?php } ?>
          {% if transaction.AMOUNT %}
          <tr>
            <td>{{ text_sub_amt }}</td>
            <td>{{ transaction.AMOUNT }}</td>
          </tr>
          <?php } ?>
          {% if transaction.PERIOD %}
          <tr>
            <td>{{ text_sub_period }}</td>
            <td>{{ transaction.PERIOD }}</td>
          </tr>
          <?php } ?>
        </table>
      </div>
    </div>
  </div>
</div>
{{ footer }}