{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-twocheckout" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-twocheckout" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-account">{{ entry_account }}</label>
            <div class="col-sm-10">
              <input type="text" name="twocheckout_account" value="{{ twocheckout_account }}" placeholder="{{ entry_account }}" id="input-account" class="form-control" />
              <?php if ($error_account) { ?>
              <div class="text-danger">{{ error_account }}</div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-secret"><span data-toggle="tooltip" title="{{ help_secret }}">{{ entry_secret }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="twocheckout_secret" value="{{ twocheckout_secret }}" placeholder="{{ entry_secret }}" id="input-secret" class="form-control" />
              <?php if ($error_secret) { ?>
              <div class="text-danger">{{ error_secret }}</div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_test }}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <?php if ($twocheckout_test) { ?>
                <input type="radio" name="twocheckout_test" value="1" checked="checked" />
                {{ text_yes }}
                <?php } else { ?>
                <input type="radio" name="twocheckout_test" value="1" />
                {{ text_yes }}
                <?php } ?>
              </label>
              <label class="radio-inline">
                <?php if (!$twocheckout_test) { ?>
                <input type="radio" name="twocheckout_test" value="0" checked="checked" />
                {{ text_no }}
                <?php } else { ?>
                <input type="radio" name="twocheckout_test" value="0" />
                {{ text_no }}
                <?php } ?>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_display }}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <?php if ($twocheckout_display) { ?>
                <input type="radio" name="twocheckout_display" value="1" checked="checked" />
                {{ text_yes }}
                <?php } else { ?>
                <input type="radio" name="twocheckout_display" value="1" />
                {{ text_yes }}
                <?php } ?>
              </label>
              <label class="radio-inline">
                <?php if (!$twocheckout_display) { ?>
                <input type="radio" name="twocheckout_display" value="0" checked="checked" />
                {{ text_no }}
                <?php } else { ?>
                <input type="radio" name="twocheckout_display" value="0" />
                {{ text_no }}
                <?php } ?>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="twocheckout_total" value="{{ twocheckout_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="twocheckout_order_status_id" id="input-order-status" class="form-control">
                <?php foreach ($order_statuses as $order_status) { ?>
                <?php if ($order_status['order_status_id'] == $twocheckout_order_status_id) { ?>
                <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                <?php } ?>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="twocheckout_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                <?php foreach ($geo_zones as $geo_zone) { ?>
                <?php if ($geo_zone['geo_zone_id'] == $twocheckout_geo_zone_id) { ?>
                <option value="<?php echo $geo_zone['geo_zone_id']; ?>" selected="selected"><?php echo $geo_zone['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $geo_zone['geo_zone_id']; ?>"><?php echo $geo_zone['name']; ?></option>
                <?php } ?>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="twocheckout_status" id="input-status" class="form-control">
                <?php if ($twocheckout_status) { ?>
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                <?php } else { ?>
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="twocheckout_sort_order" value="{{ twocheckout_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}