<fieldset>
  <legend>{{ text_recommended }}</legend>
  {% if error_warning %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> PayPal Express Checkout</h3>
          </div>
          <div class="panel-body">
            <div style="width: 100%; height: 150px;">
              <img class="pull-right" width="150" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal Logo">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> PayPal powered by Braintree</h3>
          </div>
          <div class="panel-body">
            <p>Easily accept credit and debit cards and PayPal on multiple devices with no setup or monthly fees. Click the button below to connect your account</p>
            <ul>
              <li>Accept credit cards and PayPal with one click</li>
              <li>Accept payments from around the world</li>
              <li>Improve conversion with PayPal One Touch</li>
              <li>Achieve PCI DSS v3.0 SAQ-A compliance using Hosted Fields functionality for card detail collection</li>
              <li>Help detect and prevent fraud by enabling 3-D Secure, AVS, CVV and custom risk thresholds</li>
            </ul>
            <img class="pull-right" width="150" src="https://s3-us-west-1.amazonaws.com/bt-partner-assets/paypal-braintree.png" alt="PayPal powered by Braintree">
          </div>
        </div>
      </div>
    </div>
  </div>
  <legend>{{ heading_title }}</legend>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-left">{{ column_name }}</td>
          <td></td>
          <td class="text-left">{{ column_status }}</td>
          <td class="text-right">{{ column_sort_order }}</td>
          <td class="text-right">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if extensions %}
        {% for extension in extensions %}
        <tr>
          <td class="text-left">{{ extension.name }}</td>
          <td class="text-center">{{ extension.link }}</td>
          <td class="text-left">{{ extension.status }}</td>
          <td class="text-right">{{ extension.sort_order }}</td>
          <td class="text-right">{% if extension.installed %}
            <a href="{{ extension.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
            {% else %}
            <button type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-pencil"></i></button>
            {% endif %}
            {% if not extension.installed %}
            <a href="{{ extension.install }}" data-toggle="tooltip" title="{{ button_install }}" class="btn btn-success"><i class="fa fa-plus-circle"></i></a>
            {% else %}
            <a href="{{ extension.uninstall }}" data-toggle="tooltip" title="{{ button_uninstall }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>
            {% endif %}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td class="text-center" colspan="5">{{ text_no_results }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</fieldset>
