<form>
	<div class="row">
		<div class="col-sm-6">
			<div class="address">{{ shipping_address['firstname'] }} {{ shipping_address['lastname'] }}<br />{{ shipping_address['address_1'] }}{% if shipping_address['address_2'] %}, {{ shipping_address['address_2'] }}{% endif %}<br />{{ shipping_address['city'] }}, {{ shipping_address['zone'] }} {{ shipping_address['postcode'] }}, {{ shipping_address['country'] }}{% if guest['telephone'] %}<br />{{ guest['telephone'] }}{% endif %}</div>
			<input type="hidden" name="firstname" value="{{ shipping_address['firstname'] }}" id="input_shipping_firstname" />
			<input type="hidden" name="lastname" value="{{ shipping_address['lastname'] }}" id="input_shipping_lastname" />
			<input type="hidden" name="address_1" value="{{ shipping_address['address_1'] }}" id="input_shipping_address_1" />
			<input type="hidden" name="address_2" value="{{ shipping_address['address_2'] }}" id="input_shipping_address_2" />
			<input type="hidden" name="city" value="{{ shipping_address['city'] }}" id="input_shipping_city" />
			<input type="hidden" name="postcode" value="{{ shipping_address['postcode'] }}" id="input_shipping_postcode" />
			<input type="hidden" name="country_id" value="{{ shipping_address['country_id'] }}" id="input_shipping_country" />
			<input type="hidden" name="zone_id" value="{{ shipping_address['zone_id'] }}" id="input_shipping_zone" />
			<input type="hidden" name="telephone" value="{{ guest['telephone'] }}" id="input_telephone" />
		</div>
		<div class="col-sm-6">
			<div class="text-right">
				<button class="button-edit btn btn-default">{{ button_edit }}</button>
			</div>
		</div>
	</div>
	<br />
	<div class="text-center">
		<button class="button-confirm btn btn-primary">{{ button_confirm }}</button>
	</div>
</form>