{% if currencies|length > 1 %}
<div class="float-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdown-currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% for currency in currencies %}
        {% if currency.symbol_left and currency.code == code %}
        <strong>{{ currency.symbol_left }}</strong>
        {% elseif currency.symbol_right and currency.code == code %}
        <strong>{{ currency.symbol_right }}</strong>
        {% endif %}
        {% endfor %}
        <span class="hidden-sm hidden-md">{{ text_currency }}</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-currency">
        {% for currency in currencies %}
        {% if currency.symbol_left %}
        <li>
          <a class="currency-select btn btn-sm btn-link btn-block" name="{{ currency.code }}">
          {{ currency.symbol_left }} {{ currency.title }}</a>
        </li>
        {% else %}
        <li>
          <a class="currency-select btn btn-link btn-block" name="{{ currency.code }}">
          {{ currency.symbol_right }} {{ currency.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %}
