<form id="form-address-format" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#address-format">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
          <td class="text-start">{{ column_name }}</td>
          <td class="text-start">{{ column_address_format }}</td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if address_formats %}
          {% for address_format in address_formats %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ address_format.address_format_id }}" class="form-check-input"/></td>
              <td class="text-start">{{ address_format.name }}</td>
              <td class="text-start">{{ address_format.address_format }}</td>
              <td class="text-end"><a href="{{ address_format.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="4">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>