<form id="form-country" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#list">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></th>
          <th><a href="{{ sort_name }}"{% if sort == 'name' %} class="{{ order|lower }}"{% endif %}>{{ column_name }}</a></th>
          <th><a href="{{ sort_iso_code_2 }}"{% if sort == 'iso_code_2' %} class="{{ order|lower }}"{% endif %}>{{ column_iso_code_2 }}</a></th>
          <th><a href="{{ sort_iso_code_3 }}"{% if sort == 'iso_code_3' %} class="{{ order|lower }}"{% endif %}>{{ column_iso_code_3 }}</a></th>
          <th class="text-end">{{ column_action }}</th>
        </tr>
      </thead>
      <tbody>
        {% if countries %}
          {% for country in countries %}
            <tr{% if not country.status %} class="table-disabled"{% endif %}>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ country.country_id }}" class="form-check-input"/></td>
              <td>{{ country.name }}{% if country.country_id == country_id %} <strong>({{ text_default }})</strong>{% endif %}</td>
              <td>{{ country.iso_code_2 }}</td>
              <td>{{ country.iso_code_3 }}</td>
              <td class="text-end text-nowrap"><a href="{{ country.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="{% if not country.status %}btn btn-secondary{% else %}btn btn-primary{% endif %}"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="5">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>
