{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end"><button type="submit" form="form-country" formaction="{{ save }}" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-country" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" alt="{{ language.name }}"/></div>
                  <input type="text" name="country_description[{{ language.language_id }}][name]" value="{{ country_description[language.language_id] ? country_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control" required/>
                </div>
                <div id="error-name-{{ language.language_id }}" class="invalid-feedback"></div>
              {% endfor %}
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-iso-code-2" class="col-sm-2 col-form-label">{{ entry_iso_code_2 }}</label>
            <div class="col-sm-10">
              <input type="text" name="iso_code_2" value="{{ iso_code_2 }}" placeholder="{{ entry_iso_code_2 }}" id="input-iso-code-2" class="form-control" required/>
              <div id="error-iso-code-2" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-iso-code-3" class="col-sm-2 col-form-label">{{ entry_iso_code_3 }}</label>
            <div class="col-sm-10">
              <input type="text" name="iso_code_3" value="{{ iso_code_3 }}" placeholder="{{ entry_iso_code_3 }}" id="input-iso-code-3" class="form-control" required/>
              <div id="error-iso-code-3" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-address-format" class="col-sm-2 col-form-label">{{ entry_address_format }}</label>
            <div class="col-sm-10">
              <select name="address_format_id" id="input-address-format" class="form-select">
                {% for address_format in address_formats %}
                  <option value="{{ address_format.address_format_id }}"{% if address_format.address_format_id == address_format_id %} selected{% endif %}>{{ address_format.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_postcode_required }}</label>
            <div class="col-sm-10">
              <x-switch name="postcode_required" value="1" input-id="input-postcode" input-class="form-switch form-switch-lg"{% if postcode_required %} checked{% endif %}></x-switch>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_store }}</label>
            <div class="col-sm-10">
              <div class="form-control" style="height: 150px; overflow: auto;">
                {% for store in stores %}
                  <div class="form-check">
                    <input type="checkbox" name="country_store[]" value="{{ store.store_id }}" id="input-store-{{ store.store_id }}" class="form-check-input"{% if store.store_id in country_store %} checked{% endif %}/>
                    <label for="input-store-{{ store.store_id }}" class="form-check-label">{{ store.name }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <x-switch name="status" value="1" input-id="input-status" input-class="form-switch form-switch-lg"{% if status %} checked{% endif %}></x-switch>
            </div>
          </div>
          <input type="hidden" name="country_id" value="{{ country_id }}" id="input-country-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
