<form id="currency-list" data-load="{{ action }}" data-target="#currency">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));"/></td>
					<td class="text-left">{% if sort == 'title' %}
							<a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
						{% else %}
							<a href="{{ sort_title }}">{{ column_title }}</a>
						{% endif %}</td>
					<td class="text-left">{% if sort == 'code' %}
							<a href="{{ sort_code }}" class="{{ order|lower }}">{{ column_code }}</a>
						{% else %}
							<a href="{{ sort_code }}">{{ column_code }}</a>
						{% endif %}</td>
					<td class="text-right">{% if sort == 'value' %}
							<a href="{{ sort_value }}" class="{{ order|lower }}">{{ column_value }}</a>
						{% else %}
							<a href="{{ sort_value }}">{{ column_value }}</a>
						{% endif %}</td>
					<td class="text-left">{% if sort == 'status' %}
							<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
						{% else %}
							<a href="{{ sort_status }}">{{ column_status }}</a>
						{% endif %}</td>
					<td class="text-left d-none d-lg-table-cell">{% if sort == 'date_modified' %}
							<a href="{{ sort_date_modified }}" class="{{ order|lower }}">{{ column_date_modified }}</a>
						{% else %}
							<a href="{{ sort_date_modified }}">{{ column_date_modified }}</a>
						{% endif %}</td>
					<td class="text-right">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if currencies %}
					{% for currency in currencies %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ currency.currency_id }}"/></td>
							<td class="text-left">{{ currency.title }}</td>
							<td class="text-left">{{ currency.code }}</td>
							<td class="text-right">{{ currency.value }}</td>
							<td class="text-left">{{ currency.status }}</td>
							<td class="text-left d-none d-lg-table-cell">{{ currency.date_modified }}</td>
							<td class="text-right"><a href="{{ currency.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="7">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-left">{{ pagination }}</div>
		<div class="col-sm-6 text-right">{{ results }}</div>
	</div>
</form>