<form id="form-language" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#list">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></th>
          <th>{{ column_name }}</th>
          <th>{{ column_code }}</th>
          <th class="text-center">{{ column_status }}</th>
          <th class="text-end">{{ column_sort_order }}</th>
          <th class="text-end">{{ column_action }}</th>
        </tr>
      </thead>
      <tbody>
        {% if languages %}
          {% for language in languages %}
            <tr{% if not language.status %} class="table-disabled"{% endif %}>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ language.language_id }}" class="form-check-input"/></td>
              <td>{{ language.name }}{% if language.code == code %} <strong>({{ text_default }})</strong>{% endif %}</td>
              <td>{{ language.code }}</td>
              <td class="text-center">{% if language.status %}
                  <span class="badge bg-success">{{ text_enabled }}</span>
                {% else %}
                  <span class="badge bg-danger">{{ text_disabled }}</span>
                {% endif %}</td>
              <td class="text-end">{{ language.sort_order }}</td>
              <td class="text-end text-nowrap"><a href="{{ language.edit }}" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="5">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start"><x-pagination href="{{ pagination }}" target="#list" page="{{ page }}" limit="{{ limit }}" total="{{ total }}"></x-pagination></div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>
