{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-oc-action="{{ save }}" data-oc-form="#length-class-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="length-class-form">
					<input type="hidden" name="length_class_id" value="{{ length_class_id }}" id="input-length-class-id"/>
					<div class="row mb-3 required">
						<label class="col-sm-2 col-form-label">{{ entry_title }}</label>
						<div class="col-sm-10">
							{% for language in languages %}
								<div class="input-group">
									<div class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></div>
									<input type="text" name="length_class_description[{{ language.language_id }}][title]" value="{{ length_class_description[language.language_id] ? length_class_description[language.language_id].title }}" placeholder="{{ entry_title }}" id="input-title-{{ language.language_id }}" class="form-control"/>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="row mb-3 required">
						<label class="col-sm-2 col-form-label">{{ entry_unit }}</label>
						<div class="col-sm-10">
							{% for language in languages %}
								<div class="input-group">
									<div class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></div>
									<input type="text" name="length_class_description[{{ language.language_id }}][unit]" value="{{ length_class_description[language.language_id] ? length_class_description[language.language_id].unit }}" placeholder="{{ entry_unit }}" id="input-unit-{{ language.language_id }}" class="form-control"/>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-value" class="col-sm-2 col-form-label">{{ entry_value }}</label>
						<div class="col-sm-10">
							<input type="text" name="value" value="{{ value }}" placeholder="{{ entry_value }}" id="input-value" class="form-control"/>
							<small class="form-text text-muted">{{ help_value }}</small>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}
