<form id="location-list" data-load="{{ action }}" data-target="#location">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));"/></td>
					<td class="text-left">{% if sort == 'name' %}
							<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
						{% else %}
							<a href="{{ sort_name }}">{{ column_name }}</a>
						{% endif %}</td>
					<td class="text-left">{% if sort == 'address' %}
							<a href="{{ sort_address }}" class="{{ order|lower }}">{{ column_address }}</a>
						{% else %}
							<a href="{{ sort_address }}">{{ column_address }}</a>
						{% endif %}</td>
					<td class="text-right">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if locations %}
					{% for location in locations %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ location.location_id }}"/></td>
							<td class="text-left">{{ location.name }}</td>
							<td class="text-left">{{ location.address }}</td>
							<td class="text-right"><a href="{{ location.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="4">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-left">{{ pagination }}</div>
		<div class="col-sm-6 text-right">{{ results }}</div>
	</div>
</form>