{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="button" data-action="{{ save }}" data-form="#location-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="location-form">
					<div class="form-group row required">
						<label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
						</div>
					</div>
					<div class="form-group row required">
						<label for="input-address" class="col-sm-2 col-form-label">{{ entry_address }}</label>
						<div class="col-sm-10">
							<textarea type="text" name="address" rows="5" placeholder="{{ entry_address }}" id="input-address" class="form-control">{{ address }}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-geocode" class="col-sm-2 col-form-label">{{ entry_geocode }}</label>
						<div class="col-sm-10">
							<input type="text" name="geocode" value="{{ geocode }}" placeholder="{{ entry_geocode }}" id="input-geocode" class="form-control"/>
							<small class="form-text text-muted">{{ help_geocode }}</small>
						</div>
					</div>
					<div class="form-group row required">
						<label for="input-telephone" class="col-sm-2 col-form-label">{{ entry_telephone }}</label>
						<div class="col-sm-10">
							<input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-image" class="col-sm-2 col-form-label">{{ entry_image }}</label>
						<div class="col-sm-10">
							<div class="card image">
								<img src="{{ thumb }}" alt="" title="" id="thumb-image" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="image" value="{{ image }}" id="input-image"/>
								<div class="card-body">
									<button type="button" data-toggle="image" data-target="#input-image" data-thumb="#thumb-image" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>
									<button type="button" data-toggle="clear" data-target="#input-image" data-thumb="#thumb-image" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-open" class="col-sm-2 col-form-label">{{ entry_open }}</label>
						<div class="col-sm-10">
							<textarea name="open" rows="5" placeholder="{{ entry_open }}" id="input-open" class="form-control">{{ open }}</textarea>
							<small class="form-text text-muted">{{ help_open }}</small>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-comment" class="col-sm-2 col-form-label">{{ entry_comment }}</label>
						<div class="col-sm-10">
							<textarea name="comment" rows="5" placeholder="{{ entry_comment }}" id="input-comment" class="form-control">{{ comment }}</textarea>
							<small class="form-text text-muted">{{ help_comment }}</small>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}