<form id="tax-class-list" data-oc-load="{{ action }}" data-oc-target="#tax-class">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));"/></td>
					<td class="text-start">{% if sort == 'title' %}
							<a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
						{% else %}
							<a href="{{ sort_title }}">{{ column_title }}</a>
						{% endif %}</td>
					<td class="text-end">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if tax_classes %}
					{% for tax_class in tax_classes %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ tax_class.tax_class_id }}"/></td>
							<td class="text-start">{{ tax_class.title }}</td>
							<td class="text-end"><a href="{{ tax_class.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="3">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">{{ pagination }}</div>
		<div class="col-sm-6 text-end">{{ results }}</div>
	</div>
</form>