{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-oc-action="{{ save }}" data-oc-form="#tax-rate-form" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="tax-rate-form">
					<input type="hidden" name="tax_rate_id" value="{{ tax_rate_id }}" id="input-tax-rate-id"/>
					<div class="row mb-3 required">
						<label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-rate" class="col-sm-2 col-form-label">{{ entry_rate }}</label>
						<div class="col-sm-10">
							<input type="text" name="rate" value="{{ rate }}" placeholder="{{ entry_rate }}" id="input-rate" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-type" class="col-sm-2 col-form-label">{{ entry_type }}</label>
						<div class="col-sm-10">
							<select name="type" id="input-type" class="form-select">
								{% if type == 'P' %}
									<option value="P" selected="selected">{{ text_percent }}</option>
								{% else %}
									<option value="P">{{ text_percent }}</option>
								{% endif %}
								{% if type == 'F' %}
									<option value="F" selected="selected">{{ text_amount }}</option>
								{% else %}
									<option value="F">{{ text_amount }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_customer_group }}</label>
						<div class="col-sm-10">
							<div id="product-store" class="form-control" style="height: 150px; overflow: auto;">
								{% for customer_group in customer_groups %}
									<label class="form-check">
										{% if customer_group.customer_group_id in tax_rate_customer_group %}
											<input type="checkbox" name="tax_rate_customer_group[]" value="{{ customer_group.customer_group_id }}" checked="checked" class="form-check-input"/>
											{{ customer_group.name }}
										{% else %}
											<input type="checkbox" name="tax_rate_customer_group[]" value="{{ customer_group.customer_group_id }}" class="form-check-input"/>
											{{ customer_group.name }}
										{% endif %}
									</label>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-geo-zone" class="col-sm-2 col-form-label">{{ entry_geo_zone }}</label>
						<div class="col-sm-10">
							<select name="geo_zone_id" id="input-geo-zone" class="form-select">
								{% for geo_zone in geo_zones %}
									{% if geo_zone.geo_zone_id == geo_zone_id %}
										<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
									{% else %}
										<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}