<form id="form-tax-rate" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#tax-rate">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
          <td class="text-start"><a href="{{ sort_name }}"{% if sort == 'tr.name' %} class="{{ order|lower }}"{% endif %}>{{ column_name }}</a></td>
          <td class="text-end"><a href="{{ sort_rate }}"{% if sort == 'tr.rate' %} class="{{ order|lower }}"{% endif %}>{{ column_rate }}</a></td>
          <td class="text-start"><a href="{{ sort_type }}"{% if sort == 'tr.type' %} class="{{ order|lower }}"{% endif %}>{{ column_type }}</a></td>
          <td class="text-start"><a href="{{ sort_geo_zone }}"{% if sort == 'gz.name' %} class="{{ order|lower }}"{% endif %}>{{ column_geo_zone }}</a></td>
          <td class="text-start d-none d-lg-table-cell"><a href="{{ sort_date_added }}"{% if sort == 'tr.date_added' %} class="{{ order|lower }}"{% endif %}>{{ column_date_added }}</a></td>
          <td class="text-start d-none d-lg-table-cell"><a href="{{ sort_date_modified }}"{% if sort == 'tr.date_modified' %} class="{{ order|lower }}"{% endif %}>{{ column_date_modified }}</a></td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if tax_rates %}
          {% for tax_rate in tax_rates %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ tax_rate.tax_rate_id }}" class="form-check-input"/></td>
              <td class="text-start">{{ tax_rate.name }}</td>
              <td class="text-end">{{ tax_rate.rate }}</td>
              <td class="text-start">{{ tax_rate.type }}</td>
              <td class="text-start">{{ tax_rate.geo_zone }}</td>
              <td class="text-start d-none d-lg-table-cell">{{ tax_rate.date_added }}</td>
              <td class="text-start d-none d-lg-table-cell">{{ tax_rate.date_modified }}</td>
              <td class="text-end"><a href="{{ tax_rate.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="9">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>