<form id="form-weight-class" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#weight-class">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
          <td class="text-start"><a href="{{ sort_title }}"{% if sort == 'title' %} class="{{ order|lower }}"{% endif %}>{{ column_title }}</a></td>
          <td class="text-start"><a href="{{ sort_unit }}"{% if sort == 'unit' %} class="{{ order|lower }}"{% endif %}>{{ column_unit }}</a></td>
          <td class="text-end"><a href="{{ sort_value }}"{% if sort == 'value' %} class="{{ order|lower }}"{% endif %}>{{ column_value }}</a></td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if weight_classes %}
          {% for weight_class in weight_classes %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ weight_class.weight_class_id }}" class="form-check-input"/></td>
              <td class="text-start">{{ weight_class.title }}</td>
              <td class="text-start">{{ weight_class.unit }}</td>
              <td class="text-end">{{ weight_class.value }}</td>
              <td class="text-end"><a href="{{ weight_class.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="5">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>