{{ promotion }}
<fieldset>
	<legend>{{ heading_title }}</legend>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td class="text-start">{{ column_name }}</td>
					<td class="text-start">{{ column_status }}</td>
					<td class="text-end" style="min-width: 103px;">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if extensions %}
					{% for extension in extensions %}
						<tr>
							<td class="text-start">{{ extension.name }}</td>
							<td class="text-start">{{ extension.status }}</td>
							<td class="text-end">{% if extension.installed %}
									<a href="{{ extension.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
								{% else %}
									<button type="button" class="btn btn-primary" disabled="disabled"><i class="fas fa-pencil-alt"></i></button>
								{% endif %}
								{% if not extension.installed %}
									<a href="{{ extension.install }}" data-bs-toggle="tooltip" title="{{ button_install }}" class="btn btn-success"><i class="fas fa-plus-circle"></i></a>
								{% else %}
									<a href="{{ extension.uninstall }}" data-bs-toggle="tooltip" title="{{ button_uninstall }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></a>
								{% endif %}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="3">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</fieldset>
