{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="input-group">
            <input type="text" name="search" value="" placeholder="Search for extensions" class="form-control" />
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">License (All) <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">License</li>
                <li><a href="">License</a></li>
                <li><a href="free"><?php echo $text_free; ?></a></li>
                <li><a href="paid"><?php echo $text_paid; ?></a></li>
              </ul>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories (Themes) <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="">All Categories</a></li>
                <li><a href="theme"><?php echo $text_theme; ?></a></li>
                <li><a href="payment"><?php echo $text_payment; ?></a></li>
                <li><a href="shipping"><?php echo $text_shipping; ?></a></li>
                <li><a href="module"><?php echo $text_module; ?></a></li>
                <li><a href="total"><?php echo $text_total; ?></a></li>
                <li><a href="feed"><?php echo $text_feed; ?></a></li>
                <li><a href="report"><?php echo $text_report; ?></a></li>
                <li><a href="other"><?php echo $text_other; ?></a></li>
              </ul>
              <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i></button>
            </div>
          </div>
        </div>
        </fieldset>
        <div class="row">
          <div class="col-md-9">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off" checked>
                Checkbox 1 (pre-checked) </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">
                Checkbox 3 </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort }}</label>
              <div class="col-sm-10">
                <select id="input-sort" class="form-control" onchange="location = this.value;">
                  
              
                  
          
        
        {% for sorts in sorts %}
        {% if sorts.value == sort %}
              
                  <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                  
              
                  
          
        
        {% else %}
        
        
          
                  
              
                  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                  
              
                  
          
        
        {% endif %}
        {% endfor %}      
      
      
        
                
            
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        {% if extensions %}
        {% for extension in extensions|batch(3, '') %}
        <div class="row"> {% for extension in extension %}
          <div class="col-sm-4">
            <div class="thumbnail"><a href="{{ extension.href }}"><img src="{{ extension.image }}" alt="{{ extension.name }}" title="{{ extension.name }}" class="img-responsive" /></a>
              <div class="caption">
                <h4><a href="{{ extension.href }}">{{ extension.name }}</a></h4>
              </div>
            </div>
          </div>
          {% endfor %} </div>
        {% endfor %}
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
        </div>
        {% else %}
        <div>{{ no_results }}</div>
        {% endif %} </div>
    </div>
  </div>
</div>
{{ footer }} 