{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        {% if error_warning %}
        <button type="button" id="button-clear" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_clear }}" class="btn btn-danger"><i class="fa fa-eraser"></i></button>
        {% else %}
        <button type="button" id="button-clear" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_clear }}" disabled="disabled" class="btn btn-danger"><i class="fa fa-eraser"></i></button>
        {% endif %}
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <fieldset>
          <legend>{{ text_progress }}</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_progress }}</label>
            <div class="col-sm-10">
              <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped" style="width: 0%;"></div>
              </div>
              <div id="progress-text"></div>
            </div>
          </div>
        </fieldset>
        <br />
        <fieldset>
          <legend>{{ text_available }}</legend>
          <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_crowdin }}</div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-center">{{ column_flag }}</td>
                  <td class="text-left">{{ column_name }}</td>
                  <td class="text-left">{{ column_progress }}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if translations %}
                {% for translation in translations %}
                <tr>
                  <td class="text-center"><img src="{{ translation.image }}" alt="{{ translation.name }}" title="{{ translation.name }}" style="width: 48px; height: 48px;" /></td>
                  <td class="text-left">{{ translation.name }}</td>
                  <td class="text-left"><div class="progress">
                      {% if translation.progress > 75 %}
                      <div class="progress-bar progress-bar-success progress-bar-striped" style="width:{{ translation.progress }}%">{{ translation.progress }}%</div>
                      {% elseif translation.progress > 25 and translation.progress < 75 %}
                      <div class="progress-bar progress-bar-info progress-bar-striped" style="width:{{ translation.progress }}%">{{ translation.progress }}%</div>
                      {% elseif translation.progress < 25 %}
                      <div class="progress-bar progress-bar-danger progress-bar-striped"  style="width:{{ translation.progress }}%">{{ translation.progress }}%</div>
                      {% endif %}
                    </div></td>
                  <td class="text-right">{% if not translation.installed %}
                    <a href="{{ translation.install }}" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_install }}" class="btn btn-success"><i class="fa fa-plus-circle"></i></a>
                    {% else %}
                    <a href="{{ translation.uninstall }}" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_uninstall }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>
                    {% endif %}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('table a.btn').on('click', function(e) {
	e.preventDefault();
		
	var node = this;
	
	// Reset the progress bar		
	$('#progress-bar').css('width', '0%');
	$('#progress-bar').removeClass('progress-bar-danger progress-bar-success');
	$('#progress-text').html('');
				
	$.ajax({
		url: $(node).attr('href'),
		dataType: 'json',
		beforeSend: function() {
			$('table a.btn').addClass('disabled');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json['error']) {
				$('#progress-bar').addClass('progress-bar-danger');
				$('#progress-text').html('<div class="text-danger">' + json['error'] + '</div>');	
				
				$('table a.btn').addClass('disabled');		
			}
			
			if (json['next']) {
				next(json['next'], i = 0);
			}			
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

function next(url, i) {
	i++;
	
	$.ajax({
		url: url,
		dataType: 'json',
		success: function(json) {
			$('#progress-bar').css('width', (100 - (i / 4) * 100) + '%');

			if (json['error']) {
				$('#progress-bar').addClass('progress-bar-danger');
				$('#progress-text').html('<div class="text-danger">' + json['error'] + '</div>');
				
				$('#button-clear').prop('disabled', false);
				
				$('table a.btn').addClass('disabled');	
			}

			if (json['success']) {
				$('#progress-bar').addClass('progress-bar-success');
				$('#progress-text').html('<span class="text-success">' + json['success'] + '</span>');
				
				$('table a.btn').addClass('disabled');	
				//if ($(node).has('.btn-success')) {
				//	$('#button-reward-remove').replaceWith('<a href="" data-toggle="tooltip" title="{{ button_install }}" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i></button>');
				//}
			}

			if (json['next']) {
				next(json['next']);
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}

$('#button-clear').bind('click', function() {
	$.ajax({
		url: 'index.php?route=extension/translation/clear&token={{ token }}',
		dataType: 'json',
		beforeSend: function() {
			$('#button-clear').button('loading');
		},
		complete: function() {
			$('#button-clear').button('reset');
		},
		success: function(json) {
			$('.alert').remove();

			if (json['error']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}

			if (json['success']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				$('#button-clear').prop('disabled', false);	
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
</script> 
{{ footer }} 