<form id="form-comment" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#comment">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
        <td class="text-start">{{ column_comment }}</td>
        <td class="text-start">{{ column_status }}</td>

      </tr>
    </thead>
    <tbody>
      {% if comments %}
        {% for comment in comments %}
          <tr>
            <td class="text-center"><input type="checkbox" name="selected[]" value="{{ comment.article_comment_id }}" class="form-check-input"/></td>
            <td><a href="{{ comment.article_edit }}" target="_blank">{{ comment.article }}</a>
              <ul class="list-inline">
                {% if comment.customer_edit %}
                  <li class="list-inline-item">{{ text_by }} <a href="{{ comment.customer_edit }}" target="_blank">{{ comment.author }}</a></li>
                {% else %}
                  <li class="list-inline-item">{{ text_by }} {{ comment.author }}</li>
                {% endif %}
                <li class="list-inline-item">{{ comment.date_added }}</li>
              </ul>
              {{ comment.comment }}
            </td>
            <td>{% if comment.status %}
                <span class="badge bg-success">{{ text_enabled }}</span>
              {% else %}
                <span class="badge bg-danger">{{ text_disabled }}</span>
              {% endif %}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="4">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>







