<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
<div style="width: 680px;">
  <table style="width: 100%;">
    <tr>
      <td>
        {% if logo is empty %}
          <a href="{{ store_url }}">{{ store }}</a>
        {% else %}
          <a href="{{ store_url }}"><img src="{{ logo }}" alt="{{ store }}" title="{{ store }}" style="margin-left: auto; margin-right: auto;"/></a>
        {% endif %}
      </td>
      <td>
        <table style="width: 100%;">
          <tr>
            <td>{{ text_order_id }}</td>
            <td>{{ order_id }}</td>
          </tr>
          <tr>
            <td>{{ text_date_added }}</td>
            <td>{{ date_added }}</td>
          </tr>
          <tr>
            <td>{{ text_order_status }}</td>
            <td>{{ order_status }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  {% if link %}
    <table style="width: 100%;">
      <tr>
        <td>{{ text_link }}</td>
      </tr>
      <tr>
        <td>{{ link }}</td>
      </tr>
    </table>
  {% endif %}
  {% if comment %}
    <table style="width: 100%;">
      <tr>
        <td>{{ text_comment }}</td>
      </tr>
      <tr>
        <td>{{ comment }}</td>
      </tr>
    </table>
  {% endif %}
  <p style="text-align: center; font-width: bold;">{{ text_footer }}</p>
</div>
</body>
</html>
