{{ header }}
<div id="affiliate-register" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		<div id="content" class="col">{{ content_top }}
			<h1>{{ heading_title }}</h1>
			<p>{{ text_account_already }}</p>
			<p>{{ text_signup }}</p>
			<form id="form-register">
				<fieldset id="account">
					<legend>{{ text_your_details }}</legend>
					<div class="row mb-3 required{{ customer_groups|length <= 1 ? ' d-none' }}">
						<label class="col-sm-2 col-form-label">{{ entry_customer_group }}</label>
						<div class="col-sm-10">{% for customer_group in customer_groups %}
								{% if customer_group.customer_group_id == customer_group_id %}
									<div class="form-check">
										<label><input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" class="form-check-input" checked="checked"/>
											{{ customer_group.name }}</label>
									</div>
								{% else %}
									<div class="form-check">
										<label><input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" class="form-check-input"/>
											{{ customer_group.name }}</label>
									</div>
								{% endif %}
							{% endfor %}</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-firstname" class="col-sm-2 col-form-label">{{ entry_firstname }}</label>
						<div class="col-sm-10">
							<input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-lastname" class="col-sm-2 col-form-label">{{ entry_lastname }}</label>
						<div class="col-sm-10">
							<input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-email" class="col-sm-2 col-form-label">{{ entry_email }}</label>
						<div class="col-sm-10">
							<input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-telephone" class="col-sm-2 col-form-label">{{ entry_telephone }}</label>
						<div class="col-sm-10">
							<input type="text" name="telephone" value="" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
						</div>
					</div>
					{% for custom_field in custom_fields %}
						{% if custom_field.location == 'account' %}

							{% if custom_field.type == 'select' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-select">
											<option value="">{{ text_select }}</option>
											{% for custom_field_value in custom_field.custom_field_value %}
												<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'radio' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div>
											{% for custom_field_value in custom_field.custom_field_value %}
												<div class="form-check">
													<label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name }}</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'checkbox' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div>
											{% for custom_field_value in custom_field.custom_field_value %}
												<div class="form-check">
													<label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name }}</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'text' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'textarea' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'file' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<button type="button" id="button-custom-field-{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
										<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value=""/>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'date' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div class="input-group date">
											<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'time' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div class="input-group time">
											<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'datetime' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div class="input-group datetime">
											<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							{% endif %}

						{% endif %}
					{% endfor %}
				</fieldset>
				<fieldset id="affiliate">
					<legend>{{ text_your_affiliate }}</legend>
					<div class="row mb-3">
						<label for="input-company" class="col-sm-2 col-form-label">{{ entry_company }}</label>
						<div class="col-sm-10">
							<input type="text" name="company" value="" placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
						</div>
					</div>

					<div class="row mb-3">
						<label for="input-website" class="col-sm-2 col-form-label">{{ entry_website }}</label>
						<div class="col-sm-10">
							<input type="text" name="website" value="" placeholder="{{ entry_website }}" id="input-website" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="input-tax" class="col-sm-2 col-form-label">{{ entry_tax }}</label>
						<div class="col-sm-10">
							<input type="text" name="tax" value="" placeholder="{{ entry_tax }}" id="input-tax" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_payment }}</label>
						<div class="col-sm-10">
							<div class="form-check">
								<label>
									{% if payment == 'cheque' %}
										<input type="radio" name="payment" value="cheque" class="form-check-input" checked="checked"/>
									{% else %}
										<input type="radio" name="payment" value="cheque" class="form-check-input"/>
									{% endif %}
									{{ text_cheque }}
								</label>
							</div>
							<div class="form-check">
								<label>
									{% if payment == 'paypal' %}
										<input type="radio" name="payment" value="paypal" class="form-check-input" checked="checked"/>
									{% else %}
										<input type="radio" name="payment" value="paypal" class="form-check-input"/>
									{% endif %}
									{{ text_paypal }}
								</label>
							</div>
							<div class="form-check">
								<label>
									{% if payment == 'bank' %}
										<input type="radio" name="payment" value="bank" class="form-check-input" checked="checked"/>
									{% else %}
										<input type="radio" name="payment" value="bank" class="form-check-input"/>
									{% endif %}
									{{ text_bank }}
								</label>
							</div>
						</div>
					</div>
					<div class="row mb-3 payment required" id="payment-cheque">
						<label for="input-cheque" class="col-sm-2 col-form-label">{{ entry_cheque }}</label>
						<div class="col-sm-10">
							<input type="text" name="cheque" value="" placeholder="{{ entry_cheque }}" id="input-cheque" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3 payment required" id="payment-paypal">
						<label for="input-paypal" class="col-sm-2 col-form-label">{{ entry_paypal }}</label>
						<div class="col-sm-10">
							<input type="text" name="paypal" value="" placeholder="{{ entry_paypal }}" id="input-paypal" class="form-control"/>
						</div>
					</div>
					<div id="payment-bank" class="payment">
						<div class="row mb-3">
							<label for="input-bank-name" class="col-sm-2 col-form-label">{{ entry_bank_name }}</label>
							<div class="col-sm-10">
								<input type="text" name="bank_name" value="" placeholder="{{ entry_bank_name }}" id="input-bank-name" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-bank-branch-number" class="col-sm-2 col-form-label">{{ entry_bank_branch_number }}</label>
							<div class="col-sm-10">
								<input type="text" name="bank_branch_number" value="" placeholder="{{ entry_bank_branch_number }}" id="input-bank-branch-number" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-bank-swift-code" class="col-sm-2 col-form-label">{{ entry_bank_swift_code }}</label>
							<div class="col-sm-10">
								<input type="text" name="bank_swift_code" value="" placeholder="{{ entry_bank_swift_code }}" id="input-bank-swift-code" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3 required">
							<label for="input-bank-account-name" class="col-sm-2 col-form-label">{{ entry_bank_account_name }}</label>
							<div class="col-sm-10">
								<input type="text" name="bank_account_name" value="" placeholder="{{ entry_bank_account_name }}" id="input-bank-account-name" class="form-control"/>
							</div>
						</div>
						<div class="row mb-3 required">
							<label for="input-bank-account-number" class="col-sm-2 col-form-label">{{ entry_bank_account_number }}</label>
							<div class="col-sm-10">
								<input type="text" name="bank_account_number" value="" placeholder="{{ entry_bank_account_number }}" id="input-bank-account-number" class="form-control"/>
							</div>
						</div>
					</div>
					{% for custom_field in custom_fields %}
						{% if custom_field.location == 'affiliate' %}

							{% if custom_field.type == 'select' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-select">
											<option value="">{{ text_select }}</option>
											{% for custom_field_value in custom_field.custom_field_value %}
												<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'radio' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div>
											{% for custom_field_value in custom_field.custom_field_value %}
												<div class="form-check">
													<label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name }}</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'checkbox' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div>
											{% for custom_field_value in custom_field.custom_field_value %}
												<div class="form-check">
													<label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name }}</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'text' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'textarea' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'file' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<button type="button" id="button-custom-field-{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
										<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value=""/>
									</div>
								</div>
							{% endif %}

							{% if custom_field.type == 'date' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div class="input-group date">
											<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							{% endif %}
							{% if custom_field.type == 'time' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div class="input-group time">
											<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							{% endif %}
							{% if custom_field.type == 'datetime' %}
								<div id="custom-field-{{ custom_field.custom_field_id }}" class="row mb-3 custom-field" data-sort="{{ custom_field.sort_order }}">
									<label for="input-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
									<div class="col-sm-10">
										<div class="input-group datetime">
											<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</fieldset>
				<fieldset>
					<legend>{{ text_your_password }}</legend>
					<div class="row mb-3 required">
						<label for="input-password" class="col-sm-2 col-form-label">{{ entry_password }}</label>
						<div class="col-sm-10">
							<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-confirm" class="col-sm-2 col-form-label">{{ entry_confirm }}</label>
						<div class="col-sm-10">
							<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
						</div>
					</div>
				</fieldset>
				{{ captcha }}
				{% if text_agree %}
					<div class="d-inline-block pt-2 pd-2 w-100">
						<div class="float-end">{{ text_agree }}
							{% if agree %}
								<input type="checkbox" name="agree" value="1" checked="checked"/>
							{% else %}
								<input type="checkbox" name="agree" value="1"/>
							{% endif %}
							&nbsp;
							<button type="button" data-oc-action="{{ register }}" data-oc-form="#form-register" class="btn btn-primary">{{ button_continue }}</button>
						</div>
					</div>
				{% else %}
					<div class="d-inline-block pt-2 pd-2 w-100">
						<div class="float-end">
							<button type="button" data-oc-action="{{ register }}" data-oc-form="#form-register" class="btn btn-primary">{{ button_continue }}</button>
						</div>
					</div>
				{% endif %}
			</form>
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
<script type="text/javascript"><!--
// Sort the custom fields
$('#account .mb-3[data-sort]').detach().each(function() {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .mb-3').length) {
        $('#account .mb-3').eq($(this).attr('data-sort')).before(this);
    }

    if ($(this).attr('data-sort') > $('#account .mb-3').length) {
        $('#account .mb-3:last').after(this);
    }

    if ($(this).attr('data-sort') == $('#account .mb-3').length) {
        $('#account .mb-3:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('#account .mb-3').length) {
        $('#account .mb-3:first').before(this);
    }
});

$('#affiliate .mb-3[data-sort]').detach().each(function() {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#affiliate .mb-3').length) {
        $('#affiliate .mb-3').eq($(this).attr('data-sort')).before(this);
    }

    if ($(this).attr('data-sort') > $('#affiliate .mb-3').length) {
        $('#affiliate .mb-3:last').after(this);
    }

    if ($(this).attr('data-sort') == $('#affiliate .mb-3').length) {
        $('#affiliate .mb-3:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('#affiliate .mb-3').length) {
        $('#affiliate .mb-3:first').before(this);
    }
});

$('input[name=\'customer_group_id\']').on('change', function() {
    $.ajax({
        url: 'index.php?route=account/register|customfield&customer_group_id=' + this.value,
        dataType: 'json',
        success: function(json) {
            $('.custom-field').hide();
            $('.custom-field').removeClass('required');

            for (i = 0; i < json.length; i++) {
                custom_field = json[i];

                $('#custom-field' + custom_field['custom_field_id']).show();

                if (custom_field['required']) {
                    $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                }
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script>
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
    var element = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    $('#form-upload input[name=\'file\']').on('change', function() {
        if (this.files[0].size > {{ config_file_max_size }}) {
            $(this).val('');

            alert('{{ error_upload_size }}');
        }
    });

    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }

    timer = setInterval(function() {
        if ($('#form-upload input[name=\'file\']').val() != '') {
            clearInterval(timer);

            $.ajax({
                url: 'index.php?route=tool/upload',
                type: 'post',
                dataType: 'json',
                data: new FormData($('#form-upload')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $(element).button('loading');
                },
                complete: function() {
                    $(element).button('reset');
                },
                success: function(json) {
                    $(element).parent().find('.text-danger').remove();

                    if (json['error']) {
                        $(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        alert(json['success']);

                        $(element).parent().find('input').val(json['code']);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    }, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.time').datetimepicker({
    'format': 'HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.datetime').datetimepicker({
    'format': 'YYYY-MM-DD HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'payment\']').on('change', function() {
    $('.payment').hide();

    $('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script>
{{ footer }}
