<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-start">{{ column_ip }}</td>
        <td class="text-start">{{ column_user_agent }}</td>
        <td class="text-start">{{ column_status }}</td>
        <td class="text-start">{{ column_date_added }}</td>
        <td class="text-end">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if authorizes %}
        {% for authorize in authorizes %}
          <tr>
            <td class="text-start"><a href="https://whatismyipaddress.com/ip/{{ user_login.ip }}" target="_blank">{{ authorize.ip }}</a></td>
            <td class="text-start">{{ authorize.user_agent }}</td>
            <td class="text-start">{{ authorize.status }}</td>
            <td class="text-start">{{ authorize.date_added }}</td>
            <td class="text-end"><a href="{{ authorize.delete }}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="5">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>