<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-start">{{ column_payment_method }}</td>
        <td class="text-start">{{ column_image }}</td>
        <td class="text-start">{{ column_type }}</td>
        <td class="text-start">{{ column_status }}</td>
        <td class="text-start">{{ column_date_expire }}</td>
        <td class="text-end">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if payment_methods %}
        {% for payment_method in payment_methods %}
          <tr>
            <td class="text-start">{{ payment_method.name }}</td>
            <td class="text-start">{% if payment_method.image %}<img src="{{ payment_method.image }}" alt=""/>{% endif %}</td>
            <td class="text-start">{{ payment_method.type }}</td>
            <td class="text-start">{{ payment_method.date_expire }}</td>
            <td class="text-end"><button type="button" value="{{ payment_method.delete }}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>
