<form id="custom-field-list" data-oc-load="{{ action }}" data-oc-target="#custom-field">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));"/></td>
					<td class="text-start">{% if sort == 'cfd.name' %}
							<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
						{% else %}
							<a href="{{ sort_name }}">{{ column_name }}</a>
						{% endif %}</td>
					<td class="text-start">{% if sort == 'cf.location' %}
							<a href="{{ sort_location }}" class="{{ order|lower }}">{{ column_location }}</a>
						{% else %}
							<a href="{{ sort_location }}">{{ column_location }}</a>
						{% endif %}</td>
					<td class="text-start">{% if sort == 'cf.type' %}
							<a href="{{ sort_type }}" class="{{ order|lower }}">{{ column_type }}</a>
						{% else %}
							<a href="{{ sort_type }}">{{ column_type }}</a>
						{% endif %}</td>
					<td class="text-start">{% if sort == 'cf.status' %}
							<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
						{% else %}
							<a href="{{ sort_status }}">{{ column_status }}</a>
						{% endif %}</td>
					<td class="text-end d-none d-lg-table-cell">{% if sort == 'cf.sort_order' %}
							<a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
						{% else %}
							<a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
						{% endif %}</td>
					<td class="text-end">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if custom_fields %}
					{% for custom_field in custom_fields %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ custom_field.custom_field_id }}"/></td>
							<td class="text-start">{{ custom_field.name }}</td>
							<td class="text-start">{{ custom_field.location }}</td>
							<td class="text-start">{{ custom_field.type }}</td>
							<td class="text-start">{% if custom_field.status %}
									<span class="badge bg-success">{{ text_enabled }}</span>{% else %}<span class="badge bg-danger">{{ text_disabled }}</span>{% endif %}</td>
							<td class="text-end d-none d-lg-table-cell">{{ custom_field.sort_order }}</td>
							<td class="text-end"><a href="{{ custom_field.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="7">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-start">{{ pagination }}</div>
		<div class="col-sm-6 text-end">{{ results }}</div>
	</div>
</form>