<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>{{ column_date_added }}</th>
        <th>{{ column_description }}</th>
        <th class="text-end">{{ column_amount }}</th>
      </tr>
    </thead>
    <tbody>
      {% if transactions %}
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.date_added }}</td>
            <td>{{ transaction.description }}</td>
            <td class="text-end"><x-currency code="{{ currency }}" amount="{{ transaction.amount }}"></x-currency></td>
          </tr>
        {% endfor %}
        <tr>
          <td>&nbsp;</td>
          <td class="text-end"><b>{{ text_balance }}</b></td>
          <td class="text-end"><x-currency code="{{ currency }}" amount="{{ balance }}"></x-currency></td>
        </tr>
      {% else %}
        <tr>
          <td class="text-center" colspan="3">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start"><x-pagination href="{{ pagination }}" target="#transaction" page="{{ page }}" limit="{{ limit }}" total="{{ total }}"></x-pagination></div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>
