<form id="form-customer-approval" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#customer-approval">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
          <td class="text-start">{{ column_customer }}</td>
          <td class="text-start">{{ column_email }}</td>
          <td class="text-start">{{ column_customer_group }}</td>
          <td class="text-start">{{ column_type }}</td>
          <td class="text-start">{{ column_date_added }}</td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if customer_approvals %}
          {% for customer_approval in customer_approvals %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ customer_approval.customer_approval_id }}" class="form-check-input"/></td>
              <td class="text-start"><a href="{{ customer_approval.edit }}">{{ customer_approval.customer }}</a></td>
              <td class="text-start">{{ customer_approval.email }}</td>
              <td class="text-start">{{ customer_approval.customer_group }}</td>
              <td class="text-start">{{ customer_approval.type }}</td>
              <td class="text-start">{{ customer_approval.date_added }}</td>
              <td class="text-end text-nowrap"><button type="button" value="{{ customer_approval.approve }}" data-bs-toggle="tooltip" title="{{ button_approve }}" class="btn btn-success"><i class="fa-solid fa-thumbs-up"></i></button>
                  <button type="button" value="{{ customer_approval.deny }}" data-bs-toggle="tooltip" title="{{ button_deny }}" class="btn btn-danger"><i class="fa-solid fa-thumbs-down"></i></button></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="7">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>