{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" data-bs-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-gdpr').toggleClass('d-none');" class="btn btn-light d-md-none d-lg-none"><i class="fas fa-filter"></i></button>
				<button type="button" id="button-approve" value="{{ approve }}" data-bs-toggle="tooltip" title="{{ text_approve }}" class="btn btn-success"><i class="fas fa-check"></i></button>
				<button type="button" id="button-deny" value="{{ deny }}" data-bs-toggle="tooltip" title="{{ text_deny }}" class="btn btn-warning"><i class="fas fa-times"></i></button>
				<button type="button" id="button-delete" value="{{ delete }}" data-bs-toggle="tooltip" title="{{ text_delete }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="alert alert-warning"><i class="fas fa-info-circle"></i> {{ text_info }}</div>
		<div class="row">
			<div id="filter-gdpr" class="col-md-3 col-sm-12 order-lg-last d-none d-md-block mb-3">
				<div class="card">
					<div class="card-header"><i class="fas fa-filter"></i> {{ text_filter }}</div>
					<div class="card-body">
						<div class="mb-3">
							<label class="form-label">{{ entry_email }}</label> <input type="text" name="filter_email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="input-action" class="col-form-label">{{ entry_action }}</label> <select name="filter_action" id="input-action" class="form-select">
								<option value=""></option>
								<option value="export">{{ text_export }}</option>
								<option value="remove">{{ text_remove }}</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="input-status" class="form-label">{{ entry_status }}</label> <select name="filter_status" id="input-status" class="form-select">
								<option value=""></option>
								<option value="0">{{ text_unverified }}</option>
								<option value="1">{{ text_pending }}</option>
								<option value="2">{{ text_processing }}</option>
								<option value="3">{{ text_complete }}</option>
								<option value="-1">{{ text_denied }}</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="input-date-added" class="form-label">{{ entry_date_added }}</label>
							<div class="input-group date">
								<input type="text" name="filter_date_added" value="" placeholder="{{ entry_date_added }}" id="input-date-added" class="form-control"/>
								<div class="input-group-text"><i class="fas fa-calendar"></i></div>
							</div>
						</div>
						<div class="text-end">
							<button type="button" id="button-filter" class="btn btn-light"><i class="fas fa-filter"></i> {{ button_filter }}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12">
				<div class="card">
					<div class="card-header"><i class="fas fa-list"></i> {{ text_list }}</div>
					<div class="card-body">
						<div id="gdpr">{{ list }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#gdpr').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#gdpr').load(this.href);
});

$('#button-approve, #button-deny, #button-delete').on('click', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).val(),
        type: 'post',
        dataType: 'json',
        data: $('#gdpr input[name=\'selected[]\']:checked'),
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#gdpr').load('index.php?route=customer/gdpr|list&user_token={{ user_token }}');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('#gdpr').on('click', '.btn-success, .btn-warning, .btn-danger', function(e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).attr('href'),
        dataType: 'json',
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#gdpr').load('index.php?route=customer/gdpr|list&user_token={{ user_token }}');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('#button-filter').on('click', function() {
    var url = '';

    var filter_email = $('input[name=\'filter_email\']').val();

    if (filter_email) {
        url += '&filter_email=' + encodeURIComponent(filter_email);
    }

    var filter_action = $('select[name=\'filter_action\']').val();

    if (filter_action !== '') {
        url += '&filter_action=' + filter_action;
    }

    var filter_status = $('select[name=\'filter_status\']').val();

    if (filter_status !== '') {
        url += '&filter_status=' + filter_status;
    }

    var filter_date_added = $('input[name=\'filter_date_added\']').val();

    if (filter_date_added) {
        url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
    }

    $('#gdpr').load('index.php?route=customer/gdpr|list&user_token={{ user_token }}' + url);
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'filter_email\']').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=customer/customer|autocomplete&user_token={{ user_token }}&filter_email=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['email'],
                        value: item['customer_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('input[name=\'filter_email\']').val(item['label']);
    }
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});
//--></script>
{{ footer }}