{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> {{ text_about }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ text_register }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-username">{{ entry_username }}</label>
            <div class="col-sm-10">
              <input type="text" name="ebay_listing_username" value="{{ ebay_listing_username }}" placeholder="{{ entry_username }}" id="input-username" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-keywords">{{ entry_keywords }}</label>
            <div class="col-sm-10">
              <input type="text" name="ebay_listing_keywords" value="{{ ebay_listing_keywords }}" placeholder="{{ entry_keywords }}" id="input-keywords" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
            <div class="col-sm-10">
              <select name="ebay_listing_description" id="input-description" class="form-control">
                {% if ebay_listing_description %}
                <option value="1" selected="selected">{{ text_yes }}</option>
                <option value="0">{{ text_no }}</option>
                {% else %}
                <option value="1">{{ text_yes }}</option>
                <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
            <div class="col-sm-10">
              <input type="text" name="ebay_listing_limit" value="{{ ebay_listing_limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
            <div class="col-sm-10">
              <input type="text" name="ebay_listing_width" value="{{ ebay_listing_width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
              {% if error_width %}
              <div class="text-danger">{{ error_width }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
            <div class="col-sm-10">
              <input type="text" name="ebay_listing_height" value="{{ ebay_listing_height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
              {% if error_height %}
              <div class="text-danger">{{ error_height }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort">{{ entry_sort }}</label>
            <div class="col-sm-10">
              <select name="ebay_listing_sort" id="input-sort" class="form-control">
                {% if ebay_listing_sort == 'StartTimeNewest' %}
                <option value="StartTimeNewest" selected>{{ text_latest }}</option>
                {% else %}
                <option value="StartTimeNewest">{{ text_latest }}</option>
                {% endif %}
                {% if ebay_listing_sort == 'random' %}
                <option value="random" selected>{{ text_random }}</option>
                {% else %}
                <option value="random">{{ text_random }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-site">{{ entry_site }}</label>
            <div class="col-sm-10">
              <select name="ebay_listing_site" id="input-site" class="form-control">
                {% for site in sites %}
                {% if site.value == ebay_listing_site %}
                <option value="{{ site.value }}" selected>{{ site.text }}</option>
                {% else %}
                <option value="{{ site.value }}">{{ site.text }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="ebay_listing_status" id="input-status" class="form-control">
                {% if ebay_listing_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}