{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if error.error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error.error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ heading_title }}</div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module">
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="entry-client_id">{{ entry_client_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_pp_login_client_id" value="{{ module_pp_login_client_id }}" placeholder="{{ entry_client_id }}" id="entry-client_id" class="form-control"/>
              {% if error_client_id %}
                <div class="invalid-tooltip">{{ error_client_id }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="entry-secret">{{ entry_secret }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_pp_login_secret" value="{{ module_pp_login_secret }}" placeholder="{{ entry_secret }}" id="entry-secret" class="form-control"/>
              {% if error_secret %}
                <div class="invalid-tooltip">{{ error_secret }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_sandbox }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% if module_pp_login_sandbox %}
                  <label class="btn btn-outline-secondary active"><input type="radio" name="module_pp_login_sandbox" value="1" checked="checked"/> {{ text_yes }}</label>
                  <label class="btn btn-outline-secondary"><input type="radio" name="module_pp_login_sandbox" value="0"/> {{ text_no }}</label>
                {% else %}
                  <label class="btn btn-outline-secondary"><input type="radio" name="module_pp_login_sandbox" value="1"/> {{ text_yes }}</label>
                  <label class="btn btn-outline-secondary active"><input type="radio" name="module_pp_login_sandbox" value="0" checked="checked"/> {{ text_no }}</label>
                {% endif %}
              </div>
              <small class="form-text text-muted">{{ help_sandbox }}</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_debug }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% if module_pp_login_debug %}
                  <label class="btn btn-outline-secondary active"><input type="radio" name="module_pp_login_debug" value="1" checked="checked"/> {{ text_yes }}</label>
                  <label class="btn btn-outline-secondary"><input type="radio" name="module_pp_login_debug" value="0"/> {{ text_no }}</label>
                {% else %}
                  <label class="btn btn-outline-secondary"><input type="radio" name="module_pp_login_debug" value="1"/> {{ text_yes }}</label>
                  <label class="btn btn-outline-secondary active"><input type="radio" name="module_pp_login_debug" value="0" checked="checked"/> {{ text_no }}</label>
                {% endif %}
              </div>
              <small class="form-text text-muted">{{ help_debug_logging }}</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-customer-group">{{ entry_customer_group }}</label>
            <div class="col-sm-10">
              <select name="module_pp_login_customer_group_id" id="input-customer-group" class="form-control">
                {% for customer_group in customer_groups %}
                  {% if customer_group.customer_group_id == module_pp_login_customer_group_id %}
                    <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                  {% else %}
                    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <small class="form-text text-muted">{{ help_customer_group }}</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-button_colour">{{ entry_button }}</label>
            <div class="col-sm-10">
              <select name="module_pp_login_button_colour" id="input-button_colour" class="form-control">
                {% if module_pp_login_button_colour == 'blue' %}
                  <option value="blue" selected="selected">{{ text_button_blue }}</option>
                  <option value="grey">{{ text_button_grey }}</option>
                {% else %}
                  <option value="blue">{{ text_button_blue }}</option>
                  <option value="grey" selected="selected">{{ text_button_grey }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_seamless }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% if module_pp_login_seamless %}
                  <label class="btn btn-outline-secondary active"><input type="radio" name="module_pp_login_seamless" value="1" checked="checked"/> {{ text_yes }}</label>
                  <label class="btn btn-outline-secondary"><input type="radio" name="module_pp_login_seamless" value="0"/> {{ text_no }}</label>
                {% else %}
                  <label class="btn btn-outline-secondary"><input type="radio" name="module_pp_login_seamless" value="1"/> {{ text_yes }}</label>
                  <label class="btn btn-outline-secondary active"><input type="radio" name="module_pp_login_seamless" value="0" checked="checked"/> {{ text_no }}</label>
                {% endif %}
              </div>
              <small class="form-text text-muted">{{ help_seamless }}</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_locale }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
                  </div>
                  <select name="module_pp_login_locale[{{ language.language_id }}]" class="form-control">
                    {% for locale in locales %}
                      {% if pp_login_locale[language.language_id] and pp_login_locale[language.language_id] == locale.value %}
                        <option value="{{ locale.value }}" selected="selected">{{ locale.text }}</option>
                      {% else %}
                        <option value="{{ locale.value }}">{{ locale.text }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
              <small class="form-text text-muted">{{ help_locale }}</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_return_url }}</label>
            <div class="col-sm-10">
              <input type="text" readonly id="return-url" value="{{ return_url }}" class="form-control"/>
              <small class="form-text text-muted">{{ help_return_url }}</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_pp_login_status" id="input-status" class="form-control">
                {% if module_pp_login_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}