{{ header }}
<div id="content">
  <div class="container-fluid">
    <br/>
    <br/>
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-8 col-lg-5">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-unlock"></i> {{ text_unlocked }}</div>
          <div class="card-body">
            <p>{{ text_unlock }}</p>
            <div class="text-end">
              <a href="{{ login }}" class="btn btn-primary"><i class="fa-solid fa-unlock"></i> {{ button_login }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
