<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="fa fa-cog"></i> {{ text_developer }}</h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td></td>
            <td>{{ column_cache }}</td>
            <td class="text-right" style="width: 1px;">{{ column_action }}</td>
          </tr>
        </thead>
        <tr>
          <td>{{ entry_theme }}</td>
          <td ><div class="btn-group" data-toggle="buttons">
              <label class="btn btn-success active">
                <input type="radio" name="developer_status" value="1" autocomplete="off" checked>
                {{ button_on }}</label>
              <label class="btn btn-danger">
                <input type="radio" name="developer_status" value="0" autocomplete="off">
                {{ button_off }}</label>
            </div></td>
          <td class="text-right"><button type="button" data-toggle="tooltip" title="{{ button_refresh }}" class="btn btn-warning"><i class="fa fa-refresh"></i></button></td>
        </tr>
        <tr>
          <td>{{ entry_sass }}</td>
          <td><div class="btn-group" data-toggle="buttons">
              <label class="btn btn-success active">
                <input type="radio" name="developer_status" value="1" autocomplete="off" checked>
                {{ button_on }}</label>
              <label class="btn btn-danger">
                <input type="radio" name="developer_status" value="0" autocomplete="off">
                {{ button_off }}</label>
            </div></td>
          <td class="text-right"><button type="button" data-toggle="tooltip" title="{{ button_refresh }}" class="btn btn-warning"><i class="fa fa-refresh"></i></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
