{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_install) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_install }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    {% for row in rows %}
    <div class="row">
      {% for dashboard_1 in row %}
      <?php $class = 'col-lg-' . $dashboard_1['width'] . ' col-md-3 col-sm-6'; ?>
      {% for dashboard_2 in row %}
      <?php if ($dashboard_2['width'] > 3) { ?>
      <?php $class = 'col-lg-' . $dashboard_1['width'] . ' col-md-12 col-sm-12'; ?>
      <?php } ?>
      <?php } ?>
      <div class="{{ class }}">{{ dashboard_1.output }}</div>
      <?php } ?>
    </div>
    <?php } ?>
  </div>
</div>
{{ footer }}