<div id="modal-developer" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-cog"></i> {{ heading_title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="alert-modal"></div>
        <ul class="nav nav-tabs">
          <li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
          <li class="nav-item"><a href="#tab-data" data-bs-toggle="tab" class="nav-link">{{ tab_data }}</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-general" class="tab-pane active">
            <form id="form-ssr" method="post">
              <fieldset>
                <legend>{{ text_store }}</legend>
                <div class="mb-3">
                  <div class="input-group">
                    <div class="input-group-text"><i class="fa-solid fa-store"></i></div>
                    <select id="input-store" class="form-select">
                      {% for store in stores %}
                        <option value="{{ store.store_id }}">{{ store.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_ssr }}</legend>
                <div class="form-control mb-3" style="height: 250px; overflow: auto;">
                  <table class="table table-borderless table-striped">
                    <thead>
                      <tr>
                        <th class="text-center" style="width: 1px;">
                          <checkbox-all input-id="input-ssr-all" target="#form-ssr"></checkbox-all>
                        </th>
                        <th><label for="input-ssr-all" class="form-check-label">{{ text_all }}</label></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if ssrs %}
                        {% set ssr_row = 0 %}
                        {% for ssr in ssrs %}
                          <tr>
                            <td class="text-center"><input type="checkbox" name="selected[]" value="{{ ssr.ssr_id }}" id="input-ssr-{{ ssr.ssr_id }}" class="form-check-input" checked/></td>
                            <td><label for="input-ssr-{{ ssr.ssr_id }}">{{ ssr.name }}</label></td>
                          </tr>
                          {% set ssr_row = ssr_row + 1 %}
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td class="text-center" colspan="2">{{ text_no_results }}</td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <div class="text-end">
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-cog fa-fw"></i> {{ button_action }} <i class="fa-solid fa-caret-down fa-fw"></i></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><button type="submit" formaction="{{ run }}" class="dropdown-item"><i class="fa-solid fa-play"></i> {{ text_run }}</button></li>
                      <li><button type="submit" formaction="{{ clear }}" class="dropdown-item"><i class="fa-solid fa-eraser"></i> {{ text_clear }}</button></li>
                    </ul>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div id="tab-data" class="tab-pane">
            <fieldset>
              <legend>{{ text_storage }}</legend>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>{{ text_cache }}
                      <br/>
                      <span class="fw-light">{{ help_cache }}</span></td>
                    <td class="text-end"><button type="button" value="cache" title="{{ button_clear }}" class="btn btn-warning"><i class="fa-solid fa-rotate"></i></button></td>
                  </tr>
                  <tr>
                    <td>{{ text_vendor }}
                      <br/>
                      <span class="fw-light">{{ help_vendor }}</span></td>
                    <td class="text-end"><button type="button" value="vendor" title="{{ button_clear }}" class="btn btn-warning"><i class="fa-solid fa-rotate"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
