<div class="row mb-3">
  <div class="col-sm-5">
    <a id="button-parent" href="{{ parent }}" data-bs-toggle="tooltip" title="{{ button_parent }}" class="btn btn-light"><i class="fa-solid fa-level-up-alt"></i></a>
    <a id="button-refresh" href="{{ refresh }}" data-bs-toggle="tooltip" title="{{ button_refresh }}" class="btn btn-light"><i class="fa-solid fa-rotate"></i></a>
    <button id="button-upload" type="button" data-bs-toggle="tooltip" title="{{ button_upload }}" class="btn btn-primary"><i class="fa-solid fa-upload"></i></button>
    <button id="button-folder" type="button" data-bs-toggle="tooltip" title="{{ button_folder }}" class="btn btn-light"><i class="fa-solid fa-folder"></i></button>
    <button id="button-delete" type="button" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
    <input id="input-directory" type="hidden" name="directory" value="{{ directory }}"/>
  </div>
  <div class="col-sm-7">
    <div class="input-group">
      <input id="input-search" type="text" name="search" value="{{ filter_name }}" placeholder="{{ entry_search }}" class="form-control">
      <button id="button-search" type="button" data-bs-toggle="tooltip" title="{{ button_search }}" class="btn btn-primary"><i class="fa-solid fa-search"></i></button>
    </div>
  </div>
</div>
<div id="modal-folder" class="row mb-3" style="display: none;">
  <div class="col-sm-12">
    <div class="input-group">
      <div class="input-group">
        <input id="input-folder" type="text" name="folder" value="" placeholder="{{ entry_folder }}" class="form-control">
        <button id="button-create" type="button" title="{{ button_folder }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row row-cols-sm-3 row-cols-lg-4">
  {% set path_row = 0 %}
  {% for directory in directories %}
    <div class="mb-3">
      <div class="mb-1" style="min-height: 140px;">
        <a href="{{ directory.href }}" class="directory mb-1"><i class="fa-solid fa-folder fa-5x"></i></a>
      </div>
      <div class="form-check">
        <label for="input-path-{{ path_row }}" class="form-check-label">{{ directory.name }}</label>
        <input id="input-path-{{ path_row }}" type="checkbox" name="path[]" value="{{ directory.path }}" class="form-check-input"/>
      </div>
    </div>
    {% set path_row = path_row + 1 %}
  {% endfor %}
  {% for image in images %}
    <div class="mb-3">
      <div class="mb-1" style="min-height: 140px;">
        <a href="{{ image.href }}" class="thumbnail mb-1"><img src="{{ image.thumb }}" alt="{{ image.name }}" title="{{ image.name }}" class="img-fluid"/></a>
      </div>
      <div class="form-check">
        <label for="input-path-{{ path_row }}" class="form-check-label">{{ image.name }}</label>
        <input id="input-path-{{ path_row }}" type="checkbox" name="path[]" value="{{ image.path }}" class="form-check-input"/>
      </div>
    </div>
    {% set path_row = path_row + 1 %}
  {% endfor %}
</div>
{% if pagination %}
  <div class="modal-footer">{{ pagination }}</div>
{% endif %}