{{ header }}
<div id="content">
  <div class="container">
    <br/>
    <br/>
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-8 col-lg-5">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-redo"></i> {{ heading_title }}</div>
          <div class="card-body">
            <form id="form-forgotten" action="{{ reset }}" method="post" data-oc-toggle="ajax">
              <p>{{ text_password }}</p>
              <div class="mb-3">
                <label for="input-password" class="form-label">{{ entry_password }}</label>
                <input type="password" name="password" value="" id="input-password" class="form-control"/>
              </div>
              <div class="mb-3">
                <label for="input-confirm" class="form-label">{{ entry_confirm }}</label>
                <input type="password" name="confirm" value="" id="input-confirm" class="form-control"/>
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> {{ button_save }}</button>
                <a href="{{ back }}" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}