{{ header }}
<div id="content">
	<div class="container-fluid">
		<br/>
		<br/>
		<div class="row justify-content-sm-center">
			<div class="col-sm-4 col-md-6">
				<div class="card">
					<div class="card-header">
						<i class="fas fa-redo"></i> {{ heading_title }}
					</div>
					<div id="forgotten" class="card-body">
						<p>{{ text_email }}</p>
						<div class="mb-3">
							<label for="input-email" class="col-form-label">{{ entry_email }}</label>
							<div class="input-group">
								<div class="input-group-text"><i class="fas fa-envelope"></i></div>
								<input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
							</div>
						</div>
						<div class="text-end">
							<button type="button" id="button-reset" class="btn btn-primary"><i class="fas fa-check"></i> {{ button_reset }}</button>
							<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#button-reset').on('click', function() {
    var element = this;

    $.ajax({
        url: 'index.php?route=common/forgotten|reset',
        type: 'post',
        data: $('#forgotten :input'),
        dataType: 'json',
        beforeSend: function() {
            $(element).button('loading');
        },
        complete: function() {
            $(element).button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#forgotten').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            if (json['redirect']) {
                location = json['redirect'];
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
{{ footer }}
