<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
	<meta charset="UTF-8"/>
	<title>{{ title }}</title>
	<base href="{{ base }}"/>
	{% if description %}
		<meta name="description" content="{{ description }}"/>
	{% endif %}
	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}"/>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link href="{{ bootstrap_css }}" rel="stylesheet" media="screen"/>
	<link href="{{ icons }}" rel="stylesheet" type="text/css"/>
	<script src="{{ jquery }}" type="text/javascript"></script>
	<script src="{{ bootstrap_js }}" type="text/javascript"></script>
	<link href="{{ stylesheet }}" rel="stylesheet" type="text/css"/>
	<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
	<script type="text/javascript" src="view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="view/javascript/common.js"></script>
	{% for style in styles %}
		<link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}"/>
	{% endfor %}
	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}"/>
	{% endfor %}
	{% for script in scripts %}
		<script type="text/javascript" src="{{ script }}"></script>
	{% endfor %}
</head>
<body>
<div id="container">
	<header id="header" class="navbar navbar-expand navbar-light bg-light">
		<div class="container-fluid">
			<a href="{{ home }}" class="navbar-brand d-none d-lg-block"><img src="view/image/logo.png" alt="{{ heading_title }}" title="{{ heading_title }}"/></a>
			{% if logged %}
				<a href="#" id="button-menu" class="d-inline-block d-lg-none"><span class="fas fa-bars"></span></a>
				<ul class="nav navbar-nav">
					<li id="header-notification" class="nav-item dropdown">
						<a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle"><i class="far fa-bell"></i>{% if notification_total %} <span class="badge bg-danger">{{ notification_total }}</span>{% endif %}</a>
						<div class="dropdown-menu dropdown-menu-right">
							{% if notifications %}
								{% for notification in notifications %}
									<a href="{{ notification.href }}" data-bs-toggle="modal" class="dropdown-item">{{ notification.title }}</a>
								{% endfor %}
								<a href="{{ notification_all }}" class="dropdown-item text-center text-primary">{{ text_notification_all }}</a>
							{% else %}
								<span class="dropdown-item text-center">{{ text_no_results }}</span>
							{% endif %}
						</div>
					</li>
					<li id="header-profile" class="nav-item dropdown">
						<a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle"><img src="{{ image }}" alt="{{ firstname }} {{ lastname }}" title="{{ username }}" class="rounded-circle"/><span class="d-none d-md-inline d-lg-inline">&nbsp;&nbsp;&nbsp;{{ firstname }} {{ lastname }} <i class="fas fa-caret-down fa-fw"></i></span></a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="{{ profile }}" class="dropdown-item"><i class="fa fa-user-circle fa-fw"></i> {{ text_profile }}</a>
							<div class="dropdown-divider"></div>
							<h6 class="dropdown-header">{{ text_store }}</h6>
							{% for store in stores %}
								<a href="{{ store.href }}" target="_blank" class="dropdown-item">{{ store.name }}</a>
							{% endfor %}
							<div class="dropdown-divider"></div>
							<h6 class="dropdown-header">{{ text_help }}</h6>
							<a href="https://www.opencart.com" target="_blank" class="dropdown-item"><i class="fab fa-opencart fa-fw"></i> {{ text_homepage }}</a> <a href="http://docs.opencart.com" target="_blank" class="dropdown-item"><i class="fas fa-file-alt fa-fw"></i> {{ text_documentation }}</a> <a href="http://forum.opencart.com" target="_blank" class="dropdown-item"><i class="fas fa-comments fa-fw"></i> {{ text_support }}</a>
						</div>
					</li>
					<li id="header-logout" class="nav-item"><a href="{{ logout }}" class="nav-link"><i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline">{{ text_logout }}</span></a></li>
				</ul>
			{% endif %}
		</div>
	</header>
