{{ header }}
<div id="content">
  <div class="container-fluid">
    <br/>
    <br/>
    <div class="row">
      <div class="offset-sm-4 col-sm-4">
        <div class="card">
          <div class="card-header"><i class="fas fa-lock"></i> {{ text_login }}</div>
          <div class="card-body">
            {% if success %}
              <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
            {% endif %}
            {% if error_warning %}
              <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
            {% endif %}
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="col-form-label" for="input-username">{{ entry_username }}</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" name="username" value="{{ username }}" placeholder="{{ entry_username }}" id="input-username" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="input-password">{{ entry_password }}</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                </div>
                {% if forgotten %}
                  <div class="form-text"><a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
                {% endif %}
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-primary"><i class="fas fa-key"></i> {{ button_login }}</button>
              </div>
              {% if redirect %}
                <input type="hidden" name="redirect" value="{{ redirect }}"/>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
